{% import '@SyliusAdmin/shared/helper/translations.html.twig' as translations %}

<div>
    {{ translations.default(hookable_metadata.context.form.translations, null, { accordion_flush: true }) }}
</div>
