{% import '@SyliusAdmin/shared/helper/money.html.twig' as _money %}

{% set order = hookable_metadata.context.resource %}

<td class="text-end h3 mb-0">{{ _money.format(order.taxTotal, order.currencyCode) }}</td>
