<div class="row">
    <div class="col-12 col-xl-8 mb-4 position-relative">
        <div data-loading>
            <div class="sylius-shop-loader">
                <img src="{{ asset('build/shop/images/loader.gif', 'shop') }}" alt="{{ 'sylius.ui.loading'|trans }}"/>
            </div>
        </div>
        {% hook 'general#left' %}
    </div>
    <div class="col-12 col-xl-4 ps-xl-5 mb-4">
        {% hook 'general#right' %}
    </div>
</div>
