{% import '@SyliusAdmin/common/helper/button.html.twig' as _button %}

<dialog data-confirm-dialog>
    <div class="card">
        <div class="card-body">
            <div class="h3 text-center py-3">
                {{ 'sylius.ui.are_your_sure_you_want_to_perform_this_action'|trans }}
            </div>
        </div>
        <div class="card-footer">
            {{ _button.default({ text: 'sylius.ui.cancel'|trans, attr: 'data-confirm-btn-false' }) }}
            {{ _button.default({ text: 'sylius.ui.delete'|trans, class: 'btn-danger', attr: 'data-confirm-btn-true' }) }}
        </div>
    </div>
</dialog>
