{% from '@SyliusShop/shared/icon.html.twig' import icon as icon %}

<button class="btn btn btn-outline-secondary btn-sm" type="submit" {{ sylius_test_html_attribute('search') }}>
    {{ icon('search') }}
</button>
