{% macro status(status) %}
    {% import _self as labels %}

    {% if status %}
        {{ labels.enabled() }}
    {% else %}
        {{ labels.disabled() }}
    {% endif %}
{% endmacro %}

{% macro enabled() %}
    <span class="ui teal label">
        <i class="checkmark icon"></i>
        {{ 'sylius.ui.enabled'|trans }}
    </span>
{% endmacro %}

{% macro disabled() %}
    <span class="ui red label">
        <i class="remove icon"></i>
        {{ 'sylius.ui.disabled'|trans }}
    </span>
{% endmacro %}
