{% macro render(paginator)  %}
    {% if paginator.haveToPaginate() %}
    <div class="ui pagination menu">
        {% for page_number in 1..paginator.nbPages %}
        <a class="{% if page_number == paginator.currentPage %}active {% endif %}item" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all)|merge({'page': page_number})) }}">{{ page_number }}</a>
        {% endfor %}
    </div>
    {% endif %}
{% endmacro %}
