{% form_theme form 'SyliusWebBundle:Backend/Form:_filter.html.twig' %}

{{ form_errors(form) }}

<input type="hidden" name="_method" value="PUT">

{{ form_row(form.tracking) }}
{{ form_rest(form) }}

<button class="btn btn-default" type="submit">
    <i class="fa fa-plane"></i> <span>{{ 'sylius.shipment.ship'|trans }}</span>
</button>
