<div class="ten wide column">
    <h1 class="ui header">
        <i class="circular user icon"></i>
        <div class="content">
            {{ customer.fullName|default('sylius.ui.guest_customer'|trans) }}
            <div class="sub header">
                <div class="ui horizontal divided list">
                    <div class="item">
                        {{ customer.email }}
                    </div>
                    {% if customer.user is null %}
                        <div class="item">
                            <span class="ui label">
                                <i class="icon spy"></i> {{ 'sylius.ui.guest'|trans }}
                            </span>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </h1>
</div>
