<div class="ten wide column">
    <h1 class="ui header">
        <i class="circular user icon"></i>
        <div class="content">
            {{ customer.fullName|default('sylius.ui.guest_customer'|trans) }}
            <div class="sub header">
                {{ customer.email }}
            </div>
        </div>
    </h1>
</div>
