<form action="{{ path('sylius_admin_request_customer_password_reset', { 'id': app.request.attributes.get('id'), 'email': app.request.attributes.get('email') }) }}" method="post">
    {{ form_widget(form.email, {'attr': {'value': app.request.attributes.get('email'), 'style': 'display: none;'}}) }}
    {{ form_widget(form._token) }}
    <button class="ui yellow labeled icon button" style="float: right;" type="submit">
        <i class="icon refresh"></i> {{ 'sylius.ui.reset_password'|trans }}
    </button>
</form>
