<h4 class="ui dividing header">{{ 'sylius.ui.new_customers'|trans }}</h4>
<a href="{{ path('sylius_shop_register') }}" class="ui big green labeled icon fluid button">
    <i class="signup icon"></i>
    {{ 'sylius.ui.create_an_account'|trans }}
</a>
