{% extends '@SyliusShop/shared/layout/base.html.twig' %}

{% block content %}
    <div class="container d-flex flex-column align-items-center my-auto">
        <div class="mb-5">
            {% include '@SyliusShop/shared/sylius_logo.html.twig'%}
        </div>
        <h1 class="h2 text-center">
            {% block error_message %}
                {{ 'sylius.ui.unexpected_error_occurred'|trans }}
            {% endblock %}
        </h1>
    </div>
{% endblock %}
