@import "variables";

#wrapper {
  padding: 54px 0 0 0;
}

#content {
  padding: 1em;
}

#sidebar {
  font-size: 1.1em;
}

#logo {
  margin-bottom: 1em;
}

body.pushable {
  .pusher {
    background-color: $color-background;
  }
}

body.centered {
  background-color: $color-background;

  .grid {
    height: 100%;
  }

  .column {
    padding: 1em;
    max-width: 450px;
  }
}

select.ui.dropdown[multiple="multiple"] {
  height: 100px;
}

.ui.segments {
  border: 0;

  .ui.segment {
    border: 1px solid rgba(34, 36, 38, .15) !important;
  }
}

.ui.breadcrumb {
  margin-left: 1em;
  margin-bottom: 1em;
}

th {
  a {
    color: $color-link;
  }
  a:hover {
    color: $color-link;
  }
  a:visited {
    color: $color-link;
  }
}

.ui.compact.segment .inline.fields {
  margin: 0;
}
