$flags_path: "~flag-icons/flags";

@mixin fi($country, $locale) {
    .fi-#{$locale} {
    background-image: url(#{$flags_path}/4x3/#{$country}.svg);
    &.fis {
      background-image: url(#{$flags_path}/1x1/#{$country}.svg);
    }
  }
}

@include fi("na", "af");
@include fi("gh", "ak");
@include fi("et", "am");
@include fi("dz", "ar");
@include fi("in", "as");
@include fi("by", "be");
@include fi("ml", "bm");
@include fi("bd", "bn");
@include fi("cn", "bo");
@include fi("fr", "br");
@include fi("ba", "bs");
@include fi("ad", "ca");
@include fi("ru", "ce");
@include fi("cz", "cs");
@include fi("ru", "cv");
@include fi("gb", "cy");
@include fi("dk", "da");
@include fi("bt", "dz");
@include fi("gh", "ee");
@include fi("cy", "el");
@include fi("gb", "en");
@include fi("ar", "es");
@include fi("ee", "et");
@include fi("es", "eu");
@include fi("af", "fa");
@include fi("dk", "fo");
@include fi("nl", "fy");
@include fi("ie", "ga");
@include fi("gb", "gd");
@include fi("es", "gl");
@include fi("in", "gu");
@include fi("im", "gv");
@include fi("gh", "ha");
@include fi("il", "he");
@include fi("in", "hi");
@include fi("ba", "hr");
@include fi("am", "hy");
@include fi("ee", "ie");
@include fi("ng", "ig");
@include fi("cn", "ii");
@include fi("jp", "ja");
@include fi("id", "jv");
@include fi("ge", "ka");
@include fi("ke", "ki");
@include fi("kz", "kk");
@include fi("gl", "kl");
@include fi("kh", "km");
@include fi("in", "kn");
@include fi("cn", "ko");
@include fi("arab", "ks");
@include fi("tr", "ku");
@include fi("gb", "kw");
@include fi("kg", "ky");
@include fi("lu", "lb");
@include fi("ug", "lg");
@include fi("ao", "ln");
@include fi("la", "lo");
@include fi("cd", "lu");
@include fi("nz", "mi");
@include fi("in", "ml");
@include fi("in", "mr");
@include fi("bn", "ms");
@include fi("mm", "my");
@include fi("no", "nb");
@include fi("zw", "nd");
@include fi("in", "ne");
@include fi("aw", "nl");
@include fi("no", "nn");
@include fi("fr", "oc");
@include fi("et", "om");
@include fi("in", "or");
@include fi("ge", "os");
@include fi("arab", "pa");
@include fi("af", "ps");
@include fi("ao", "pt");
@include fi("bo", "qu");
@include fi("ch", "rm");
@include fi("bi", "rn");
@include fi("md", "ro");
@include fi("by", "ru");
@include fi("in", "sa");
@include fi("it", "sc");
@include fi("arab", "sd");
@include fi("fi", "se");
@include fi("cf", "sg");
@include fi("ba", "sh");
@include fi("lk", "si");
@include fi("zw", "sn");
@include fi("dj", "so");
@include fi("al", "sq");
@include fi("ba", "sr");
@include fi("id", "su");
@include fi("ax", "sv");
@include fi("cd", "sw");
@include fi("in", "ta");
@include fi("in", "te");
@include fi("tj", "tg");
@include fi("er", "ti");
@include fi("tm", "tk");
@include fi("ph", "tl");
@include fi("cy", "tr");
@include fi("ru", "tt");
@include fi("cn", "ug");
@include fi("ua", "uk");
@include fi("in", "ur");
@include fi("af", "uz");
@include fi("vn", "vi");
@include fi("sn", "wo");
@include fi("za", "xh");
@include fi("ua", "yi");
@include fi("bj", "yo");
@include fi("cn", "za");
@include fi("cn", "zh");
@include fi("za", "zu");
