{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% import '@SyliusUi/Macro/labels.html.twig' as label %}
{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

{% block title %}{{ parent() }} {{ 'sylius.ui.customer'|trans ~' '~ customer.email }}{% endblock %}

{% block content %}
    <div class="ui stackable two column grid">
        {% include '@SyliusAdmin/Customer/Show/_header.html.twig' %}

        {% set menu = knp_menu_get('sylius.admin.customer.show', [], {'customer': customer}) %}
        {{ knp_menu_render(menu, {'template': '@SyliusUi/Menu/top.html.twig'}) }}
    </div>

    <div class="ui divider"></div>
    {% include '@SyliusAdmin/Customer/Show/_breadcrumb.html.twig' %}
    {% include '@SyliusAdmin/Customer/Show/_content.html.twig' %}
{% endblock %}
