suites:
    main:
        namespace: Sylius\Component\Locale
        psr4_prefix: Sylius\Component\Locale
        src_path: .

runner.maintainers.errors.level: 14335 # E_ALL & ~E_USER_DEPRECATED ^ E_STRICT
