{% form_theme form 'SyliusWebBundle:Backend/Report:_forms.html.twig' %}

<fieldset>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.start) }}
            {{ form_row(form.end) }}
            {{ form_row(form.period) }}
        </div>
    </div>
</fieldset>

{{ form_rest(form) }}
