<div class="dropdown">
    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        {{ 'sylius.ui.more'|trans }}
    </button>
    <ul class="dropdown-menu">
        {% hook 'more' %}
    </ul>
</div>
