{% set shipment = hookable_data.shipment %}

{% if shipment.state != 'cart' %}
    <a class="btn ms-2" href="{{ path('sylius_admin_shipment_show', {'id': shipment.id}) }}" {{ sylius_test_html_attribute('shipment-show-button') }}>
        {{ 'sylius.ui.show'|trans }}
    </a>
{% endif %}
