suites:
    main:
        namespace: Sylius\Component\Payment
        psr4_prefix: Sylius\Component\Payment
        src_path: .

runner.maintainers.errors.level: 14335 # E_ALL & ~E_USER_DEPRECATED ^ E_STRICT
