{% import 'SyliusResourceBundle:Macros:actions.html.twig' as actions %}

<h1>Creating address <small>Use this form to add new item to address book</small></h1>
<hr />

<form action="{{ path('sylius_address_create') }}" method="post" class="form-horizontal" novalidate>
    {% include 'SyliusAddressingBundle:Address:_form.html.twig' %}
    {{ actions.create() }}
</form>
