{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusAddressingBundle:Address:macros.html.twig' as macros %}

<h1>Addresses list <small>All addresses saved in the system</small></h1>
<hr />

<div class="well">
    {{ buttons.create(path('sylius_address_create'), 'new address') }}
</div>

{% if addresses.haveToPaginate()|default(false) %}
    {{ pagerfanta(addresses, 'twitter_bootstrap_translated') }}
{% endif %}

{{ macros.list(addresses) }}

{% if addresses.haveToPaginate()|default(false) %}
    {{ pagerfanta(addresses, 'twitter_bootstrap_translated') }}
{% endif %}
