<div class="card mb-3">
    <div class="card-header">
        <h2 class="card-title">
            {{ 'sylius.ui.general'|trans }}
        </h2>
    </div>
    <div class="card-body">
        <div class="row">
            {% hook 'general' %}
        </div>
    </div>
</div>
