<div class="card mb-3">
    <div class="card-header">
        <h2 class="card-title">
            {{ 'sylius.ui.translations'|trans }}
        </h2>
    </div>
    <div>
        {% hook 'translations' %}
    </div>
</div>
