{% import "@SyliusShop/shared/macro/money.html.twig" as money %}

{% set item = hookable_metadata.context.item %}

<td>
    <span {{ sylius_test_html_attribute('cart-product-subtotal') }}>{{ money.convertAndFormat(item.subtotal) }}</span>
</td>
