<div class="row">
    <div class="col-12 col-md-4 fw-bold">{{ 'sylius.ui.meta_description'|trans }}:</div>
    <div class="col-12 col-md-8">{{ hookable_data.productTranslation.metaDescription }}</div>
</div>
