{% set product = hookable_data.resource %}

<div class="row">
    <div class="col-12 col-md-4 fw-bold">{{ 'sylius.ui.main_taxon'|trans }}:</div>
    <div class="col-12 col-md-8">
        {% if product.mainTaxon is null %}
            <i>{{ 'sylius.ui.no_main_taxon'|trans }}</i>
        {% else %}
            {{ product.mainTaxon.fullName }}
        {% endif %}
    </div>
</div>
