<div class="page-wrapper">
    {{ sylius_template_event(_context.resource_event_prefix ~ '.content', { event_prefix: _context.event_prefix, resource_event_prefix: _context.resource_event_prefix }) }}
</div>
