{% set main_event = 'sylius.admin.common.navbar' %}

<header class="navbar navbar-expand-md d-none d-lg-flex d-print-none">
    <div class="container-xl">
        {{ twig_event(
            [main_event],
            {
                main_event: main_event,
            }
        ) }}
    </div>
</header>
