{% set event_name = 'sylius.admin.common.navbar' %}

<header class="navbar navbar-expand-md d-none d-lg-flex d-print-none">
    <div class="container-xl">
        {{ sylius_template_event(event_name, { event_prefix: event_name }) }}
    </div>
</header>
