<aside class="navbar navbar-vertical navbar-expand-lg d-print-none" data-bs-theme="dark">
    <div class="container-fluid">
        {{ sylius_template_event(_context.event_prefix ~ '.sidebar', { event_prefix: _context.event_prefix, resource_event_prefix: _context.resource_event_prefix }) }}
    </div>
</aside>
