{% set channels = hookable_data.form.channels %}

<div class="col-12 col-md-12">
    {{ form_label(channels) }}

    {% for channel in channels %}
        {{ form_row(channel, sylius_test_form_attribute('channel-name', channel.vars.label)|merge({ label_attr: { class: 'checkbox-switch' } })) }}
    {% endfor %}
</div>
