{% import '@SyliusAdmin/Shared/Helper/translations.html.twig' as _translations %}

{% set form = hookable_data.form %}

<div class="bg-white mb-3">
    {{ _translations.default(form.translations) }}
</div>
