{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Welcome <small>Your registration was successful</small></h1>
</div>

<hr />
<div class="alert alert-success">
    Thank you for sign up! You are now logged in the store
</div>
{% endblock %}
