{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block content %}
<h1>Oops! An Error Occurred</h1>
<h2>The server returned a "404 Not Found".</h2>

<div>
    Something is broken. Please e-mail us at [email] and let us know
    what you were doing when this error occurred. We will fix it as soon
    as possible. Sorry for any inconvenience caused.
</div>
{% endblock %}
