{% import '@SyliusAdmin/Shared/Helper/address.html.twig' as _address %}

{% set order = hookable_data.resource %}

<div>
    <strong>{{ 'sylius.ui.shipping_address'|trans }}:</strong>
</div>
<div class="mb-3">
    {{ _address.default(order.billingAddress) }}
</div>
