{% set customer = hookable_data.resource.customer %}

<div>
    <strong>{{ 'sylius.ui.name'|trans }}:</strong>
</div>
<div class="mb-3">
    <a href="{{ path('sylius_admin_customer_show', { id: customer.id }) }}">
        {{ customer.fullName }}
    </a>
</div>
