<div>
    <strong>{{ 'sylius.ui.name'|trans }}:</strong>
</div>
<div class="mb-3">
    <a href="{{ path('sylius_admin_customer_show', { id: _context.customer.id }) }}">
        {{ _context.customer.fullName }}
    </a>
</div>
