{% import '@SyliusAdmin/Shared/Helper/address.html.twig' as _address %}

{% set order = hookable_data.resource %}

<div>
    <strong>{{ 'sylius.ui.shipping_address'|trans }}</strong>
</div>
<div class="mb-3" {{ sylius_test_html_attribute('shipping-address') }}>
    {{ _address.default(_context.order.shippingAddress) }}
</div>
