{%
    set viewOptions = {
        authorized: { icon: 'check', color: 'orange' },
        cancelled: { icon: 'ban', color: 'yellow' },
        cart: { icon: 'adjust', color: 'grey' },
        completed: { icon: 'adjust', color: 'green' },
        failed: { icon: 'ban', color: 'red' },
        new: { icon: 'clock', color: 'olive' },
        processing: { icon: 'check', color: 'violet' },
        refunded: { icon: 'reply all', color: 'purple' },
    }
%}

{% set value = 'sylius.ui.' ~ data %}

<span class="ui {{ viewOptions[data]['color'] }} label">
    <i class="{{ viewOptions[data]['icon'] }} icon"></i>
    {{ value|trans }}
</span>
