<a href="{{ path('sylius_admin_taxon_update', {id: '__TAXON_ID__'}) }}" class="btn btn-icon btn-sm" data-bs-toggle="tooltip" data-bs-title="{{ 'sylius.ui.edit'|trans }}">
    {{ ux_icon('tabler:pencil') }}
</a>
