<!DOCTYPE html>

<html>
    <head>
        <title>Sylius bundles example layout</title>
        <meta charset="UTF-8">

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.no-icons.min.css" />
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css" />

        <style type="text/css">
            body {
                padding-top: 60px;
            }
        </style>
    </head>
    <body>
        <div class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="http://sylius.org">Sylius</a>
                    <ul class="nav">
                        <li><a href="http://sylius.readthedocs.org">Documentation</a></li>
                        <li><a href="http://github.com/Sylius">GitHub repositories</a></li>
                        <li><a href="http://packagist.org/packages/sylius">Packagist (Composer)</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            {% for type, message in app.session.flashes if type in ['success', 'error'] %}
                <div class="alert alert-{{ type }}">{{ message }}</div>
            {% endfor %}

            {% block sylius_content %}
            {% endblock %}
            <hr>
            <footer>
                <p>&copy; <a href="http://Sylius.org">Sylius.org</a>, 2011 - {{ 'now'|date('Y') }}.</p>
            </footer>
        </div>
        <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
        <script type="text/javascript" src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js"></script>
    </body>
</html>
