<div class="col-12 col-sm-10 col-md-8 col-lg-6 order-lg-0">
    <div class="d-flex justify-content-center align-items-center bg-light rounded-4 h-100 p-3">
        {% hook 'register_container' %}
    </div>
</div>
