{% import "@SyliusAdmin/Common/Macro/money.html.twig" as money %}

<div class="content">
    <div class="header">
        {{ payment.method }}
    </div>
    <div class="description">
        {{ money.format(payment.amount, payment.order.currencyCode) }}
    </div>
</div>
