<div id="associations">
    <h4 class="ui top attached inverted black header">{{ 'sylius.ui.associations'|trans }}</h4>
    <div class="ui attached segment">
        {% if product.getAssociations is not empty %}
        <table class="ui definition table">
            <tbody>
                <tr>
                    {% for association in product.associations %}
                        <td class="five wide">{{ association.getType.getName }}</td>
                        <td>
                            <ul class="ui bulleted list">
                                {% for associatedProduct in association.getAssociatedProducts %}
                                    <li>{{ associatedProduct.getName }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        {% else %}
            <span class="ui teal label"><i class="remove icon"></i>{{ 'sylius.ui.no_associations_to_display'|trans }}</span>
        {% endif %}
    </div>
</div>
