{% include '@SyliusAdmin/Product/Show/_header.html.twig' %}

<div class="ui grid">
    <div class="sixteen wide mobile ten wide computer column">
        {% include '@SyliusAdmin/Product/Show/_taxonomy.html.twig' %}
    </div>
    <div class="sixteen wide mobile six wide computer column">
        {% include '@SyliusAdmin/Product/Show/_options.html.twig' %}
    </div>
</div>
<div class="ui hidden divider"></div>
{% include '@SyliusAdmin/Product/Show/_media.html.twig' %}
<div class="ui hidden divider"></div>
{% include '@SyliusAdmin/Product/Show/_moreDetails.html.twig' %}
<div class="ui hidden divider"></div>
<div class="ui grid">
    <div class="sixteen wide mobile ten wide computer column">
        {% include '@SyliusAdmin/Product/Show/_attributes.html.twig' %}
    </div>
    <div class="sixteen wide mobile six wide computer column">
        {% include '@SyliusAdmin/Product/Show/_associations.html.twig' %}
    </div>
</div>
<div class="ui hidden divider"></div>

{{ sylius_template_event('sylius.admin.configurable_product.show', _context) }}
