<div id="details">
    <h4 class="ui top attached large header">{{ 'sylius.ui.details'|trans }}</h4>
    <div class="ui attached segment">
        <div>
            {{ sylius_template_event('sylius.admin.simple_product.show.details_content', _context) }}
        </div>
    </div>
</div>
