<div id="header" class="ui stackable two column grid">
    <div class="column">
        <h1 class="ui header">
            <i class="circular cube icon"></i>
            <div class="content">
                <span>{{ product.name }}</span>
                <div class="sub header">{{ 'sylius.ui.show_product'|trans }}</div>
            </div>
        </h1>
        {% include "@SyliusAdmin/Product/Show/_breadcrumb.html.twig" %}
    </div>
    {% include '@SyliusAdmin/Product/_showInShopButton.html.twig' %}
</div>
