<div class="sylius-image-variants">
{% if product.getVariantSelectionMethod() == 'match' %}
    {% for variant in image.productVariants %}
    <div data-variant-options="{% for option in variant.optionValues %}{{ option.code }} {% endfor %}"></div>
    {% endfor %}
{% else %}
    {% for variant in image.productVariants %}
    <div data-variant-code="{{ variant.code }}"></div>
    {% endfor %}
{% endif %}
</div>
