<tr class="variants-accordion__content item-{{ loop.index }}" style="display: none; background: rgba(0,0,0,.04);">
    <td colspan="8" style="padding: 20px">
        <div class="ui grid">
            <div class="doubling two column row">
                {{ sylius_template_event('sylius.admin.configurable_product.show.variant_content', _context) }}
            </div>
        </div>
    </td>
</tr>
