<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Show product | Sylius</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    <link rel="stylesheet" href="https://demo.sylius.com/assets/admin/css/style.css" />
</head>

<body style="padding: 40px 0; margin: 0 auto; max-width: 1300px; background: #f9fafb">

    <!-- Content starts here -->
    <div id="content">

        <!-- Header -->
        <div class="ui stackable two column grid">
            <div class="column">
                <h1 class="ui header">
                    <i class="circular cube icon"></i>
                    <div class="content">
                        Show product
                        <div class="sub header">Show product</div>
                    </div>
                </h1>

                <div class="ui breadcrumb">
                    <a href="/admin/" class="section">Administration</a>
                    <i class="right chevron icon divider"></i>
                    <a href="/admin/products/" class="section">Products</a>
                    <i class="right chevron icon divider"></i>
                    <div class="section">13270015-da75-3fe3-b3fb-77884711caad</div>
                    <i class="right chevron icon divider"></i>
                    <div class="active section">Show</div>
                </div>

            </div>
            <div class="middle aligned column">
                <div class="ui right floated buttons">
                    <button class="ui labeled icon button">
                        <i class="angle right icon"></i>
                        Product page
                    </button>
                </div>
            </div>
        </div>

        <!-- Details -->
        <div class="ui grid">
            <div class="sixteen wide mobile ten wide computer column">
                <h4 class="ui top attached inverted black header">Details</h4>
                <div class="ui attached black segment">
                    <div>
                        <span class="ui teal label"><i class="checkmark icon"></i>Enabled</span>
                        <span class="ui red label"><i class="remove icon"></i>Not tracked in the inventory</span>
                        <span class="ui orange label"><i class="remove icon"></i>Shipping not required</span>
                        <table class="ui definition table">
                            <tbody>
                                <tr>
                                    <td class="five wide">Code</td>
                                    <td>13270015-da75-3fe3-b3fb-77884711caad</td>
                                </tr>
                                <tr>
                                    <td class="five wide">Options</td>
                                    <td>
                                        <ul class="ui bulleted list">
                                            <li>T-shirt color</li>
                                            <li>T-shirt size</li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="five wide">Current stock</td>
                                    <td>9</td>
                                </tr>
                                <tr>
                                    <td class="five wide">Channels</td>
                                    <td><span class="ui large empty horizontal circular label"
                                            style="background-color: Cornsilk"></span>US web store</td>
                                </tr>
                                <tr>
                                    <td class="five wide">Tax category</td>
                                    <td>Books</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Taxonomy -->
                <h4 class="ui top attached inverted black header">Taxonomy</h4>
                <div class="ui attached segment">
                    <table class="ui definition table">
                        <tbody>
                            <tr>
                                <td class="five wide">Main taxon</td>
                                <td>Category / T-shirt</td>
                            </tr>
                            <tr>
                                <td class="five wide">Product taxon</td>
                                <td>
                                    <ul class="ui bulleted list">
                                        <li>Category / T-shirt</li>
                                        <li>Category / T-shirt</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="sixteen wide mobile six wide computer column">
                <h4 class="ui top attached inverted black header">Pricing</h4>
                <div class="ui attached black segment">
                    <table class="ui definition table">
                        <thead>
                            <th>Channels</th>
                            <th>Price</th>
                            <th>Original price</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="five wide">US web store</td>
                                <td>$6.95</td>
                                <td>$8.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Shipping -->
                <h4 class="ui top attached inverted black header">Shipping</h4>
                <div class="ui attached black segment">
                    <table class="ui definition table">
                        <tbody>
                            <tr>
                                <td class="five wide">Shipping category</td>
                                <td>No requirement</td>
                            </tr>
                            <tr>
                                <td class="five wide">Width</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="five wide">Height</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="five wide">Depth</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="five wide">Weight</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="ui hidden divider"></div>

        <!-- Media -->
        <div class="ui styled fluid accordion">
            <div class="title active">
                <i class="dropdown icon"></i>
                Media
            </div>
            <div class="ui content inactive">
                <div class="ui grid">
                    <div class="four wide column"><img class="ui fluid image"
                            src="https://via.placeholder.com/400x200.png"></div>
                    <div class="four wide column"><img class="ui fluid image"
                            src="https://via.placeholder.com/400x200.png"></div>
                </div>
            </div>
        </div>

        <div class="ui hidden divider"></div>

        <!-- More details -->
        <div class="ui styled fluid accordion">
            <div data-locale="en_US">
                <div class="title active">
                    <i class="dropdown icon"></i>
                    <i class="us flag"></i>
                    English (United States)
                </div>
                <div class="ui content active">
                    <table class="ui definition table">
                        <tbody>
                            <tr>
                                <td class="five wide">Name</td>
                                <td>T-Shirt "sequi"</td>
                            </tr>
                            <tr>
                                <td class="five wide">Slug</td>
                                <td>t-shirt-sequi</td>
                            </tr>
                            <tr>
                                <td class="five wide">Description</td>
                                <td>
                                    Amet qui temporibus aut quae et voluptas est. Et omnis qui velit tempore in.
                                    Corporis reprehenderit id
                                    numquam est porro
                                    reprehenderit. Ea provident commodi eaque. Laborum dolorem rerum repellendus at
                                    totam.
                                    Fugiat vero porro et ut sapiente. Voluptate ab officiis et. Rerum sequi vero
                                    similique perspiciatis
                                    quas
                                    voluptatibus
                                    sit. Maiores aut aut facilis facilis.
                                    Delectus doloremque necessitatibus deleniti dolorum id minima. Cum voluptas impedit
                                    et quo officiis
                                    sed.
                                    Iste omnis
                                    mollitia soluta earum et aliquam illo reprehenderit. Quia dicta quia aliquid quis a
                                    dolores.
                                </td>
                            </tr>
                            <tr>
                                <td class="five wide">Meta keywords</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="five wide">Meta description</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="five wide">Short description</td>
                                <td>
                                    Consectetur et soluta hic quia necessitatibus. Vero quasi ipsum error. Et molestiae
                                    beatae earum et.
                                    Tenetur quis nihil
                                    dolore ut dolores enim. Distinctio ab et dolorem quis.
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Variants -->
        <h4 class="ui top attached inverted black header">Variants</h4>
        <div class="ui attached segment">
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Code</th>
                        <th>Price</th>
                        <th>Inventory</th>
                        <th>Position</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img class="ui tiny image" src="https://via.placeholder.com/400x200.png"></td>
                        <td>
                            <span class="ui small header">et</span><br>
                            <div class="ui horizontal divided list">
                                <div class="item">Red</div>
                                <div class="item">S</div>
                            </div>
                        </td>
                        <td>0a6af2c2-2114-3c09-8c66-1ae6c7bf17eb-variant-0</td>
                        <td>12.00</td>
                        <td><span class="ui red label"><i class="remove icon"></i>Not tracked</span></td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td><img class="ui tiny image" src="https://via.placeholder.com/400x200.png"></td>
                        <td>
                            <span class="ui small header">et</span><br>
                            <div class="ui horizontal divided list">
                                <div class="item">Red</div>
                                <div class="item">S</div>
                            </div>
                        </td>
                        <td>0a6af2c2-2114-3c09-8c66-1ae6c7bf17eb-variant-0</td>
                        <td>12.00</td>
                        <td><span class="ui red label"><i class="remove icon"></i>Not tracked</span></td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td><img class="ui tiny image" src="https://via.placeholder.com/400x200.png"></td>
                        <td>
                            <span class="ui small header">et</span><br>
                            <div class="ui horizontal divided list">
                                <div class="item">Red</div>
                                <div class="item">S</div>
                            </div>
                        </td>
                        <td>0a6af2c2-2114-3c09-8c66-1ae6c7bf17eb-variant-0</td>
                        <td>12.00</td>
                        <td><span class="ui red label"><i class="remove icon"></i>Not tracked</span></td>
                        <td>1</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="ui hidden divider"></div>

        <div class="ui grid">
            <div class="sixteen wide mobile ten wide computer column">
                <!-- Attributes -->
                <h4 class="ui top attached inverted black header">Attributes</h4>
                <div class="ui attached segment">
                    <div class="ui styled fluid accordion">
                        <div data-locale="en_US">
                            <div class="title active">
                                <i class="dropdown icon"></i>
                                <i class="us flag"></i>
                                English (United States)
                            </div>
                            <div class="ui content active">
                                <table class="ui definition table">
                                    <tbody>
                                        <tr>
                                            <td class="five wide">T-Shirt brand</td>
                                            <td>JKM-476 Streetwear</td>
                                        </tr>
                                        <tr>
                                            <td class="five wide">T-Shirt collection</td>
                                            <td>Sylius Spring 2010</td>
                                        </tr>
                                        <tr>
                                            <td class="five wide">T-Shirt material</td>
                                            <td>Centipede 10% / Wool 90%</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sixteen wide mobile six wide computer column">
                <!-- Associations -->
                <h4 class="ui top attached inverted black header">Associations</h4>
                <div class="ui attached segment">
                    <table class="ui definition table">
                        <tbody>
                            <tr>
                                <td class="five wide">Similar products</td>
                                <td>
                                    <ul class="ui bulleted list">
                                        <li>T-Shirt "reprehenderit"</li>
                                        <li>T-Shirt "necessitatibus"</li>
                                        <li>T-Shirt "autem"</li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
    </div>

    <script src="https://demo.sylius.com/assets/admin/js/app.js"></script>
</body>

</html>
