{% extends '@SyliusShop/shared/layout/base.html.twig' %}

{% block content %}
    <div class="container mt-4 mb-5">
        <div class="row">
            {% hook 'sylius.shop.product_review.index' with { product_reviews } %}
        </div>
    </div>
{% endblock %}
