<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}Sylius{% endblock %}</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% block metatags %}
    {% endblock %}

    {% block stylesheets %}
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}
</head>

<body class="pushable">
<div class="ui sidebar vertical inverted menu visible left" id="sidebar">
    {% block sidebar %}
    {% endblock %}
</div>
<div class="ui fixed inverted menu">
    {% block topbar %}
    {% endblock %}
</div>
<div class="pusher">
    <div class="full height" id="wrapper">
        <div id="content">
            {% block flash_messages %}
                {% include '@SyliusUi/_flashes.html.twig' %}
            {% endblock %}

            {% block pre_content %}
            {% endblock %}

            {% block content %}
            {% endblock %}

            {% block post_content %}
            {% endblock %}
        </div>
    </div>
</div>

{% include '@SyliusUi/Modal/_confirmation.html.twig' %}

{% block javascripts %}
{% endblock %}
</body>
</html>
