<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}Sylius{% endblock %}</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    {% block metatags %}
    {% endblock %}

    {% block stylesheets %}
    {% endblock %}
</head>

<body>
<div class="ui sidebar vertical inverted menu" id="sidebar">
    {% block sidebar %}
    {% endblock %}
</div>
<div class="ui fixed inverted menu">
    {% block topbar %}
    {% endblock %}
</div>
<div class="pusher">
    <div class="full height" id="wrapper">
        <div id="content">
            {% include '@SyliusUi/_flashes.html.twig' %}

            {% block pre_content %}
            {% endblock %}

            {% block content %}
            {% endblock %}

            {% block post_content %}
            {% endblock %}
        </div>
    </div>
</div>

{% include '@SyliusUi/Modal/_confirmation.html.twig' %}

{% block javascripts %}
{% endblock %}
</body>
</html>
