<div class="navbar navbar-inverse" id="main-menu">
    {{ knp_menu_render('sylius.frontend.categories', {'template': 'SyliusWebBundle:Frontend:menu.html.twig', 'currentClass': 'active', 'ancestorClass': 'active'}) }}
</div>
