<ul class="social pull-right">
    <li><a href="http://twitter.com/Sylius"><i class="icon-twitter"></i></a></li>
    <li><a href="http://facebook.com/SyliusEcommerce"><i class="icon-facebook"></i></a></li>
    <li><a href="http://github.com/Sylius/Sylius"><i class="icon-github"></i></a></li>
</ul>
