{% set product = hookable_metadata.context.resource %}

{% if product.isSimple %}
    <div class="tab-pane" id="taxes" role="tabpanel" tabindex="0">
        <div class="card mb-3">
            <div class="card-header">
                <h2 id="taxes" class="card-title">{{ 'sylius.ui.taxes'|trans }}</h2>
            </div>
            <div class="card-body">
                {% hook 'taxes' %}
            </div>
        </div>
    </div>
{% endif %}
