<div class="tab-pane" id="product-taxonomy" role="tabpanel" tabindex="0">
    <div class="card mb-3">
        <div class="card-header">
            <h2 id="product-taxonomy" class="card-title">{{ 'sylius.ui.taxonomy'|trans }}</h2>
        </div>
        <div class="card-body">
            {{ form_row(hookable_metadata.context.form.mainTaxon, { 'search_url': path('sylius_admin_ajax_taxon_by_name_phrase'), 'init_load_url': path('sylius_admin_ajax_taxon_by_code') }) }}
        </div>
    </div>

</div>
