<div class="middle aligned column">
    <div class="ui right floated buttons">
        {% include '@SyliusAdmin/Product/_showInShopButton.html.twig' with {'product': product_variant.product} %}
    </div>
</div>
