<div class="text-center fs-5">
    {% if data is null %}
        <span class="text-secondary">-</span>
    {% else %}
        <div>{{ data|date('Y-m-d') }}</div>
        <div>{{ data|date('H:i') }}</div>
    {% endif %}
</div>
