<div class="card mb-3">
    <div class="card-header">
        {{ 'sylius.ui.billing_address'|trans }}
    </div>
    <div class="card-body">
        <div class="row">
            {% hook 'billing_address' with { form hookable_metadata.context.form.billingAddress } %}
        </div>
    </div>
</div>
