{% import '@SyliusAdmin/shared/helper/money.html.twig' as money %}

{% set order_promotion_adjustment = constant('Sylius\\Component\\Core\\Model\\AdjustmentInterface::ORDER_PROMOTION_ADJUSTMENT') %}

{% set order = hookable_metadata.context.resource %}
{% set item = hookable_metadata.context.item %}

<td class="text-end" {{ sylius_test_html_attribute('distributed-order-discount') }}>
    <span class="fst-italic">~ {{ money.format(item.units.first.adjustmentsTotal(order_promotion_adjustment), order.currencyCode) }}</span>
</td>
