<div class="four wide column">
    <h4 class="ui inverted header">{{ 'sylius.ui.payment_methods'|trans  }}</h4>
    <div>
        <i class="huge inverted cc mastercard icon"></i>
        <i class="huge inverted cc visa icon"></i>
        <i class="huge inverted cc paypal card icon"></i>
    </div>
</div>
