<div class="four wide column">
    <a href="https://sylius.com/plus" target="_blank" style="display: inline-block; text-align: center;">
        <h4 class="ui inverted header" style="color: #808080;">
            Need even more features?
            <div class="sub header" style="padding: 5px 0;">Check Sylius Plus out!</div>
        </h4>
        <img class="ui fluid image" style="max-width: 170px;" src="{{ asset('build/shop/images/sylius-plus-banner.png', 'shop') }}" alt="Sylius Plus">
    </a>
</div>
