<div class="col-12">
    <div class="mb-3">
        {{ form_row(hookable_data.form.shippingAddressInCheckoutRequired, sylius_test_form_attribute('shipping-address-in-checkout-required')) }}
    </div>
</div>
