<div class="col-12">
    <div class="mb-3" {{ sylius_test_html_attribute('shipping-address-in-checkout-required') }}>
        {{ form_row(get_hookable_context().form.shippingAddressInCheckoutRequired) }}
    </div>
</div>
