<div class="col-auto">
    <div class="mb-5 mt-5">
        {{ form_row(hookable_data.form.enabled, sylius_test_form_attribute('enabled')|merge({ label_attr: { class: 'checkbox-switch' } })) }}
    </div>
</div>
