{% set hookable_context = get_hookable_context() %}

<div class="col-12 col-md-6 mb-3">
    <div class="card" {{ sylius_test_html_attribute('actions') }}>
        <div class="card-header">
            <div class="card-title">
                {{ 'sylius.ui.actions'|trans }}
            </div>
        </div>
        <div class="card-body">
            <div class="row align-items-center">
                {{ form_row(hookable_context.form.actions, {label: false}) }}

                {% hook 'actions' %}
            </div>
        </div>
        <div class="card-footer">
            {{ form_row(hookable_context.form.actions.vars.button_add) }}
        </div>
    </div>
</div>
