{% if data == 'create' %}
    <span class="ui teal label">
        <i class="plus icon"></i>
        {{ 'sylius.ui.created'|trans }}
    </span>
{% elseif data == 'update' %}
    <span class="ui blue label">
        <i class="pencil icon"></i>
        {{ 'sylius.ui.updated'|trans }}
    </span>
{% endif %}
