{% set original_price = hookable_metadata.context.original_price %}
{% set currency_code = hookable_metadata.context.currency_code %}
{% import '@SyliusAdmin/shared/helper/money.html.twig' as _money %}

<td class="text-end">{{ _money.format(original_price, currency_code) }}</td>
