{% if shipment.state != cart %}
    <a class="ui icon labeled tiny fluid button" style="color: gray; margin-top: 10px;" href="{{ path('sylius_admin_shipment_show', {'id': shipment.id}) }}" {{ sylius_test_html_attribute('shipment-show-button') }}>
        <i class="icon search"></i>{{ 'sylius.ui.show'|trans }}
    </a>
{% endif %}
