/*!
 * This file is part of the Sylius package.
 *
 * (c) Sylius Sp. z o.o.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

@import "@tabler/core/src/scss/config";
@import "ui/flags";

.flag-sm {
    height: 1rem;
    vertical-align: -3px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: var(--tblr-border-width) var(--tblr-border-style) var(--tblr-border-color);
    border-radius: var(--tblr-border-radius);
}
