/*!
 * This file is part of the Sylius package.
 *
 * (c) Sylius Sp. z o.o.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.page-wrapper {
    .page-header {
        position: sticky;
        top: -1px;
        z-index: 999;
        margin-top: 0;
        padding-top: var(--tblr-page-padding-y);
        padding-bottom: var(--tblr-page-padding-y);

        &.is-sticky {
            background: #fff;
            border-bottom: var(--tblr-border-width) solid var(--tblr-border-color);
            box-shadow: var(--tblr-shadow-card);
        }
    }

    .page-body {
        margin-top: 0;
    }
}
