/*!
 * This file is part of the Sylius package.
 *
 * (c) Sylius Sp. z o.o.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.thumbnail-box {
    display: flex;
    align-items: center;
    gap: 1rem;
    min-width: 20rem;
}

.thumbnail-box-image {
    flex-shrink: 0;
    width: 4rem;

    img {
        width: 100%;
        border-radius: var(--tblr-border-radius);
    }
}

.thumbnail-box-content {
    width: 100%;
}
