/*!
 * This file is part of the Sylius package.
 *
 * (c) Sylius Sp. z o.o.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

$prefix: "tblr-";

$assets-base: "/node_modules/@tabler/core/dist";
$primary: #22B99A;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$body-color:                $gray-900;

$link-color:                $body-color;
$link-decoration:           underline;
$link-hover-color:          $primary;
$link-hover-decoration:     null;

$input-focus-border-color:    $gray-500;

$focus-ring-width:      .25rem;
$focus-ring-opacity:    .25;
$focus-ring-color:      rgba($gray-500, $focus-ring-opacity);
$focus-ring-blur:       0;
$focus-ring-box-shadow: 0 0 $focus-ring-blur $focus-ring-width $focus-ring-color;

$pagination-active-color:           inherit;
$pagination-active-bg:              $gray-200;

$font-family-sans-serif: 'Inter', serif;

$h1-font-size: 1.6rem;
$h1-line-height: 2.1rem;

// Page
$page-title-font-size: var(--#{$prefix}font-size-h1);
