{% import '@SyliusShop/shared/macro/navigation_buttons.html.twig' as navigation %}

{% set form = hookable_metadata.context.form %}
{% set order = hookable_metadata.context.order %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block content %}
    <div>
        {{ form_start(form, {'action': path('sylius_shop_checkout_address'), 'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_errors(form) }}
        <input type="hidden" name="_method" value="PUT" />
        {% hook 'form' %}
        {{ form_row(form._token) }}
        {{ form_end(form, {'render_rest': false}) }}
    </div>
{% endblock %}
