<div class="row">
    <div class="col-12 col-md-4 fw-bold">{{ 'sylius.ui.customer_since'|trans }}</div>
    <div class="col-12 col-md-8" {{ sylius_test_html_attribute('customer-since') }}>{{ hookable_metadata.context.customer.createdAt|date('d-m-Y H:i:s') }}</div>
</div>
