<div class="page-body">
    <div class="container-xl">
        <div class="row">
            <div class="col-12">
                {% hook 'sections' %}
            </div>
        </div>
    </div>
</div>
