{
  "presets": [
    ["env", {
      "targets": {
        "node": "6"
      },
      "useBuiltIns": true
    }]
  ],
  "plugins": [
    ["transform-object-rest-spread", {
      "useBuiltIns": true
    }]
  ]
}
