**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.github
**/.gitignore
**/.gitkeep
**/.gitmodules
**/.idea
**/Dockerfile
**/Thumbs.db
**/*.md
.editorconfig
docker-compose*.yaml
docker-compose*.yml
/docs/
/adr/


