/.github    export-ignore
/adr        export-ignore
/bin        export-ignore
/config     export-ignore
/docs       export-ignore
/etc        export-ignore
/public     export-ignore
/var        export-ignore
