/public/assets
/public/css
/public/js
/public/media
!/public/media/image/.gitkeep

/app/config/parameters.yml

/bin/symfony_requirements

/docs/.doctrees

/composer.lock
/node_modules

/etc/build/*
!/etc/build/.gitignore

/behat.yml
/phpspec.yml

###> symfony/framework-bundle ###
/.env.*.local
/.env.local
/.env.local.php
/public/bundles
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###
