/app/*.cache
/app/cache
/app/logs

/app/check.php
/app/SymfonyRequirements.php

/app/config/parameters.yml
/app/config/*.local.yml

/app/themes/vendor/*
!/app/themes/vendor/.gitkeep

/web/bundles
/web/assets/css
/web/assets/js
/web/assets/fonts
/web/assets/img
/web/assets/compiled
/web/media

/bin/*
!/bin/install
!/bin/sylius-cs-fixer

/vendor
/node_modules

/etc/build/*
!/etc/build/.gitkeep

/behat.yml
/phpunit.xml
/phpspec.yml
