[submodule "vagrant/modules/stdlib"]
	path = vagrant/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "vagrant/modules/puppi"]
	path = vagrant/modules/puppi
	url = https://github.com/example42/puppi.git
[submodule "vagrant/modules/apache"]
	path = vagrant/modules/apache
	url = https://github.com/example42/puppet-apache.git
[submodule "vagrant/modules/apt"]
	path = vagrant/modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "vagrant/modules/composer"]
	path = vagrant/modules/composer
	url = https://github.com/vagrantee/puppet-composer.git
[submodule "vagrant/modules/mysql"]
	path = vagrant/modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "vagrant/modules/php"]
	path = vagrant/modules/php
	url = https://github.com/example42/puppet-php.git
[submodule "vagrant/modules/puphpet"]
	path = vagrant/modules/puphpet
	url = https://github.com/puphpet/puppet-puphpet.git
[submodule "vagrant/modules/xdebug"]
	path = vagrant/modules/xdebug
	url = https://github.com/puphpet/puphpet-xdebug.git
