# This file is part of the Sylius package.
# (c) Paweł Jędrzejewski

default:
    context:
        class: Sylius\Bundle\WebBundle\Behat\FeatureContext
    extensions:
        Behat\MinkExtension\Extension:
            default_session: symfony2
            browser_name: firefox
            selenium2: ~
        Behat\Symfony2Extension\Extension:
            mink_driver: true

saucelabs:
    extensions:
        Behat\MinkExtension\Extension:
            selenium2:
                browser: firefox
                wd_host: your_saucelabs_username:your_saucelabs_apikey@ondemand.saucelabs.com/wd/hub
                capabilities: { "platform": "Windows 8", "browser": "firefox", "version": "21"}
