# This file is part of the Sylius package.
# (c) Paweł Jędrzejewski

# This file is referenced in Sylius-Standard v1.0.0 - v1.2.x

imports:
    - src/Sylius/Behat/Resources/config/profiles.yml
    - src/Sylius/Behat/Resources/config/suites.yml
