suites:
    Association: { namespace: Sylius\Association, psr4_prefix: Sylius\Association, spec_path: src/Sylius/Component/Association, src_path: src/Sylius/Component/Association }
    Addressing: { namespace: Sylius\Addressing, psr4_prefix: Sylius\Addressing, spec_path: src/Sylius/Component/Addressing, src_path: src/Sylius/Component/Addressing }
    Archetype: { namespace: Sylius\Archetype, psr4_prefix: Sylius\Archetype, spec_path: src/Sylius/Component/Archetype, src_path: src/Sylius/Component/Archetype }
    Attribute: { namespace: Sylius\Attribute, psr4_prefix: Sylius\Attribute, spec_path: src/Sylius/Component/Attribute, src_path: src/Sylius/Component/Attribute }
    Cart: { namespace: Sylius\Cart, psr4_prefix: Sylius\Cart, spec_path: src/Sylius/Component/Cart, src_path: src/Sylius/Component/Cart }
    Channel: { namespace: Sylius\Channel, psr4_prefix: Sylius\Channel, spec_path: src/Sylius/Component/Channel, src_path: src/Sylius/Component/Channel }
    Contact: { namespace: Sylius\Contact, psr4_prefix: Sylius\Contact, spec_path: src/Sylius/Component/Contact, src_path: src/Sylius/Component/Contact }
    Core: { namespace: Sylius\Core, psr4_prefix: Sylius\Core, spec_path: src/Sylius/Component/Core, src_path: src/Sylius/Component/Core }
    Currency: { namespace: Sylius\Currency, psr4_prefix: Sylius\Currency, spec_path: src/Sylius/Component/Currency, src_path: src/Sylius/Component/Currency }
    Grid: { namespace: Sylius\Grid, psr4_prefix: Sylius\Grid, spec_path: src/Sylius/Component/Grid, src_path: src/Sylius/Component/Grid }
    Inventory: { namespace: Sylius\Inventory, psr4_prefix: Sylius\Inventory, spec_path: src/Sylius/Component/Inventory, src_path: src/Sylius/Component/Inventory }
    Locale: { namespace: Sylius\Locale, psr4_prefix: Sylius\Locale, spec_path: src/Sylius/Component/Locale, src_path: src/Sylius/Component/Locale }
    Mailer: { namespace: Sylius\Mailer, psr4_prefix: Sylius\Mailer, spec_path: src/Sylius/Component/Mailer, src_path: src/Sylius/Component/Mailer }
    Metadata: { namespace: Sylius\Metadata, psr4_prefix: Sylius\Metadata, spec_path: src/Sylius/Component/Metadata, src_path: src/Sylius/Component/Metadata }
    Order: { namespace: Sylius\Order, psr4_prefix: Sylius\Order, spec_path: src/Sylius/Component/Order, src_path: src/Sylius/Component/Order }
    Originator: { namespace: Sylius\Originator, psr4_prefix: Sylius\Originator, spec_path: src/Sylius/Component/Originator, src_path: src/Sylius/Component/Originator }
    Payment: { namespace: Sylius\Payment, psr4_prefix: Sylius\Payment, spec_path: src/Sylius/Component/Payment, src_path: src/Sylius/Component/Payment }
    Pricing: { namespace: Sylius\Pricing, psr4_prefix: Sylius\Pricing, spec_path: src/Sylius/Component/Pricing, src_path: src/Sylius/Component/Pricing }
    Product: { namespace: Sylius\Product, psr4_prefix: Sylius\Product, spec_path: src/Sylius/Component/Product, src_path: src/Sylius/Component/Product }
    Promotion: { namespace: Sylius\Promotion, psr4_prefix: Sylius\Promotion, spec_path: src/Sylius/Component/Promotion, src_path: src/Sylius/Component/Promotion }
    Rbac: { namespace: Sylius\Rbac, psr4_prefix: Sylius\Rbac, spec_path: src/Sylius/Component/Rbac, src_path: src/Sylius/Component/Rbac }
    Registry: { namespace: Sylius\Registry, psr4_prefix: Sylius\Registry, spec_path: src/Sylius/Component/Registry, src_path: src/Sylius/Component/Registry }
    Report: { namespace: Sylius\Report, psr4_prefix: Sylius\Report, spec_path: src/Sylius/Component/Report, src_path: src/Sylius/Component/Report }
    Resource: { namespace: Sylius\Resource, psr4_prefix: Sylius\Resource, spec_path: src/Sylius/Component/Resource, src_path: src/Sylius/Component/Resource }
    Review: { namespace: Sylius\Review, psr4_prefix: Sylius\Review, spec_path: src/Sylius/Component/Review, src_path: src/Sylius/Component/Review }
    Sequence: { namespace: Sylius\Sequence, psr4_prefix: Sylius\Sequence, spec_path: src/Sylius/Component/Sequence, src_path: src/Sylius/Component/Sequence }
    Shipping: { namespace: Sylius\Shipping, psr4_prefix: Sylius\Shipping, spec_path: src/Sylius/Component/Shipping, src_path: src/Sylius/Component/Shipping }
    Storage: { namespace: Sylius\Storage, psr4_prefix: Sylius\Storage, spec_path: src/Sylius/Component/Storage, src_path: src/Sylius/Component/Storage }
    Taxation: { namespace: Sylius\Taxation, psr4_prefix: Sylius\Taxation, spec_path: src/Sylius/Component/Taxation, src_path: src/Sylius/Component/Taxation }
    Taxonomy: { namespace: Sylius\Taxonomy, psr4_prefix: Sylius\Taxonomy, spec_path: src/Sylius/Component/Taxonomy, src_path: src/Sylius/Component/Taxonomy }
    User: { namespace: Sylius\User, psr4_prefix: Sylius\User, spec_path: src/Sylius/Component/User, src_path: src/Sylius/Component/User }
    Variation: { namespace: Sylius\Variation, psr4_prefix: Sylius\Variation, spec_path: src/Sylius/Component/Variation, src_path: src/Sylius/Component/Variation }

    AssociationBundle: { namespace: Sylius\AssociationBundle, psr4_prefix: Sylius\AssociationBundle, spec_path: src/Sylius/Bundle/AssociationBundle, src_path: src/Sylius/Bundle/AssociationBundle }
    AddressingBundle: { namespace: Sylius\AddressingBundle, psr4_prefix: Sylius\AddressingBundle, spec_path: src/Sylius/Bundle/AddressingBundle, src_path: src/Sylius/Bundle/AddressingBundle }
    AdminBundle: { namespace: Sylius\AdminBundle, psr4_prefix: Sylius\AdminBundle, spec_path: src/Sylius/Bundle/AdminBundle, src_path: src/Sylius/Bundle/AdminBundle }
    ApiBundle: { namespace: Sylius\ApiBundle, psr4_prefix: Sylius\ApiBundle, spec_path: src/Sylius/Bundle/ApiBundle, src_path: src/Sylius/Bundle/ApiBundle }
    ArchetypeBundle: { namespace: Sylius\ArchetypeBundle, psr4_prefix: Sylius\ArchetypeBundle, spec_path: src/Sylius/Bundle/ArchetypeBundle, src_path: src/Sylius/Bundle/ArchetypeBundle }
    AttributeBundle: { namespace: Sylius\AttributeBundle, psr4_prefix: Sylius\AttributeBundle, spec_path: src/Sylius/Bundle/AttributeBundle, src_path: src/Sylius/Bundle/AttributeBundle }
    CartBundle: { namespace: Sylius\CartBundle, psr4_prefix: Sylius\CartBundle, spec_path: src/Sylius/Bundle/CartBundle, src_path: src/Sylius/Bundle/CartBundle }
    ChannelBundle: { namespace: Sylius\ChannelBundle, psr4_prefix: Sylius\ChannelBundle, spec_path: src/Sylius/Bundle/ChannelBundle, src_path: src/Sylius/Bundle/ChannelBundle }
    ContactBundle: { namespace: Sylius\ContactBundle, psr4_prefix: Sylius\ContactBundle, spec_path: src/Sylius/Bundle/ContactBundle, src_path: src/Sylius/Bundle/ContactBundle }
    ContentBundle: { namespace: Sylius\ContentBundle, psr4_prefix: Sylius\ContentBundle, spec_path: src/Sylius/Bundle/ContentBundle, src_path: src/Sylius/Bundle/ContentBundle }
    CoreBundle: { namespace: Sylius\CoreBundle, psr4_prefix: Sylius\CoreBundle, spec_path: src/Sylius/Bundle/CoreBundle, src_path: src/Sylius/Bundle/CoreBundle }
    CurrencyBundle: { namespace: Sylius\CurrencyBundle, psr4_prefix: Sylius\CurrencyBundle, spec_path: src/Sylius/Bundle/CurrencyBundle, src_path: src/Sylius/Bundle/CurrencyBundle }
    FlowBundle: { namespace: Sylius\FlowBundle, psr4_prefix: Sylius\FlowBundle, spec_path: src/Sylius/Bundle/FlowBundle, src_path: src/Sylius/Bundle/FlowBundle }
    FixturesBundle: { namespace: Sylius\FixturesBundle, psr4_prefix: Sylius\FixturesBundle, spec_path: src/Sylius/Bundle/FixturesBundle, src_path: src/Sylius/Bundle/FixturesBundle }
    GridBundle: { namespace: Sylius\GridBundle, psr4_prefix: Sylius\GridBundle, spec_path: src/Sylius/Bundle/GridBundle, src_path: src/Sylius/Bundle/GridBundle }
    InstallerBundle: { namespace: Sylius\InstallerBundle, psr4_prefix: Sylius\InstallerBundle, spec_path: src/Sylius/Bundle/InstallerBundle, src_path: src/Sylius/Bundle/InstallerBundle }
    InventoryBundle: { namespace: Sylius\InventoryBundle, psr4_prefix: Sylius\InventoryBundle, spec_path: src/Sylius/Bundle/InventoryBundle, src_path: src/Sylius/Bundle/InventoryBundle }
    LocaleBundle: { namespace: Sylius\LocaleBundle, psr4_prefix: Sylius\LocaleBundle, spec_path: src/Sylius/Bundle/LocaleBundle, src_path: src/Sylius/Bundle/LocaleBundle }
    MailerBundle: { namespace: Sylius\MailerBundle, psr4_prefix: Sylius\MailerBundle, spec_path: src/Sylius/Bundle/MailerBundle, src_path: src/Sylius/Bundle/MailerBundle }
    MetadataBundle: { namespace: Sylius\MetadataBundle, psr4_prefix: Sylius\MetadataBundle, spec_path: src/Sylius/Bundle/MetadataBundle, src_path: src/Sylius/Bundle/MetadataBundle }
    MoneyBundle: { namespace: Sylius\MoneyBundle, psr4_prefix: Sylius\MoneyBundle, spec_path: src/Sylius/Bundle/MoneyBundle, src_path: src/Sylius/Bundle/MoneyBundle }
    OrderBundle: { namespace: Sylius\OrderBundle, psr4_prefix: Sylius\OrderBundle, spec_path: src/Sylius/Bundle/OrderBundle, src_path: src/Sylius/Bundle/OrderBundle }
    PaymentBundle: { namespace: Sylius\PaymentBundle, psr4_prefix: Sylius\PaymentBundle, spec_path: src/Sylius/Bundle/PaymentBundle, src_path: src/Sylius/Bundle/PaymentBundle }
    PayumBundle: { namespace: Sylius\PayumBundle, psr4_prefix: Sylius\PayumBundle, spec_path: src/Sylius/Bundle/PayumBundle, src_path: src/Sylius/Bundle/PayumBundle }
    PricingBundle: { namespace: Sylius\PricingBundle, psr4_prefix: Sylius\PricingBundle, spec_path: src/Sylius/Bundle/PricingBundle, src_path: src/Sylius/Bundle/PricingBundle }
    ProductBundle: { namespace: Sylius\ProductBundle, psr4_prefix: Sylius\ProductBundle, spec_path: src/Sylius/Bundle/ProductBundle, src_path: src/Sylius/Bundle/ProductBundle }
    PromotionBundle: { namespace: Sylius\PromotionBundle, psr4_prefix: Sylius\PromotionBundle, spec_path: src/Sylius/Bundle/PromotionBundle, src_path: src/Sylius/Bundle/PromotionBundle }
    RbacBundle: { namespace: Sylius\RbacBundle, psr4_prefix: Sylius\RbacBundle, spec_path: src/Sylius/Bundle/RbacBundle, src_path: src/Sylius/Bundle/RbacBundle }
    ReportBundle: { namespace: Sylius\ReportBundle, psr4_prefix: Sylius\ReportBundle, spec_path: src/Sylius/Bundle/ReportBundle, src_path: src/Sylius/Bundle/ReportBundle }
    ResourceBundle: { namespace: Sylius\ResourceBundle, psr4_prefix: Sylius\ResourceBundle, spec_path: src/Sylius/Bundle/ResourceBundle, src_path: src/Sylius/Bundle/ResourceBundle }
    ReviewBundle: { namespace: Sylius\ReviewBundle, psr4_prefix: Sylius\ReviewBundle, spec_path: src/Sylius/Bundle/ReviewBundle, src_path: src/Sylius/Bundle/ReviewBundle }
    SearchBundle: { namespace: Sylius\SearchBundle, psr4_prefix: Sylius\SearchBundle, spec_path: src/Sylius/Bundle/SearchBundle, src_path: src/Sylius/Bundle/SearchBundle }
    SequenceBundle: { namespace: Sylius\SequenceBundle, psr4_prefix: Sylius\SequenceBundle, spec_path: src/Sylius/Bundle/SequenceBundle, src_path: src/Sylius/Bundle/SequenceBundle }
    SettingsBundle: { namespace: Sylius\SettingsBundle, psr4_prefix: Sylius\SettingsBundle, spec_path: src/Sylius/Bundle/SettingsBundle, src_path: src/Sylius/Bundle/SettingsBundle }
    ShippingBundle: { namespace: Sylius\ShippingBundle, psr4_prefix: Sylius\ShippingBundle, spec_path: src/Sylius/Bundle/ShippingBundle, src_path: src/Sylius/Bundle/ShippingBundle }
    TaxationBundle: { namespace: Sylius\TaxationBundle, psr4_prefix: Sylius\TaxationBundle, spec_path: src/Sylius/Bundle/TaxationBundle, src_path: src/Sylius/Bundle/TaxationBundle }
    TaxonomyBundle: { namespace: Sylius\TaxonomyBundle, psr4_prefix: Sylius\TaxonomyBundle, spec_path: src/Sylius/Bundle/TaxonomyBundle, src_path: src/Sylius/Bundle/TaxonomyBundle }
    ThemeBundle: { namespace: Sylius\ThemeBundle, psr4_prefix: Sylius\ThemeBundle , spec_path: src/Sylius/Bundle/ThemeBundle, src_path: src/Sylius/Bundle/ThemeBundle }
    UiBundle: { namespace: Sylius\UiBundle, psr4_prefix: Sylius\UiBundle, spec_path: src/Sylius/Bundle/UiBundle, src_path: src/Sylius/Bundle/UiBundle }
    UserBundle: { namespace: Sylius\UserBundle, psr4_prefix: Sylius\UserBundle, spec_path: src/Sylius/Bundle/UserBundle, src_path: src/Sylius/Bundle/UserBundle }
    VariationBundle: { namespace: Sylius\VariationBundle, psr4_prefix: Sylius\VariationBundle, spec_path: src/Sylius/Bundle/VariationBundle, src_path: src/Sylius/Bundle/VariationBundle }

    Behat: { namespace: Sylius\Behat, psr4_prefix: Sylius\Behat, spec_path: src/Sylius/Behat, src_path: src/Sylius/Behat }

extensions:
    - Akeneo\SkipExampleExtension
    - Pamil\PhpSpecGeneratorExtension\Extension
