<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.5/phpunit.xsd"
         colors="true"
         bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Sylius Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="error_reporting" value="-1" />

        <!-- ###+ symfony/framework-bundle ### -->
        <server name="APP_ENV" value="test"/>
        <server name="APP_DEBUG" value="1" />
        <server name="APP_SECRET" value="10719b14109895993491c4c604fcb24e"/>
        <!-- env name="TRUSTED_PROXIES" value="127.0.0.1,127.0.0.2" -->
        <!-- env name="TRUSTED_HOSTS" value="localhost,example.com" -->
        <!-- ###- symfony/framework-bundle ### -->

        <server name="KERNEL_CLASS" value="Kernel" />

        <server name="SHELL_VERBOSITY" value="-1" />
        <server name="IS_DOCTRINE_ORM_SUPPORTED" value="true" />
        <server name="ESCAPE_JSON" value="true" />
    </php>
</phpunit>
