<?xml version="1.0" encoding="UTF-8"?>

<!-- http://phpunit.de/manual/4.1/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="app/bootstrap.php.cache"
>
    <testsuites>
        <testsuite name="Sylius Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <server name="KERNEL_CLASS_PATH" value="/app/TestAppKernel.php" />
        <server name="IS_DOCTRINE_ORM_SUPPORTED" value="true" />
    </php>
</phpunit>
