<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         bootstrap="config/bootstrap.php"
>
    <testsuites>
        <testsuite name="all">
            <directory>tests</directory>
            <directory>src/Sylius/Behat/tests</directory>
        </testsuite>

        <testsuite name="sylius">
            <directory>tests</directory>
        </testsuite>

        <testsuite name="sylius-behat">
            <directory>src/Sylius/Behat/tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="error_reporting" value="-1" />

        <!-- ###+ symfony/framework-bundle ### -->
        <env name="APP_DEBUG" value="0"/>
        <env name="APP_ENV" value="test"/>
        <env name="SHELL_VERBOSITY" value="-1" />
        <!-- ###- symfony/framework-bundle ### -->

        <server name="IS_DOCTRINE_ORM_SUPPORTED" value="true" />
        <server name="ESCAPE_JSON" value="true" />

        <server name="KERNEL_CLASS" value="App\Kernel" />
    </php>
</phpunit>
