{% set product = hookable_metadata.context.resource %}

<li>
    <a
        class="dropdown-item"
        href="{{ path('sylius_admin_product_variant_create', {'productId': product.id}) }}"
        {{ sylius_test_html_attribute('create') }}
    >
        {{ ux_icon('tabler:plus', {'class': 'icon dropdown-item-icon'}) }}
        {{ 'sylius.ui.create'|trans }}
    </a>
</li>
