{# Rendered with \Sylius\Bundle\ShopBundle\Twig\Component\Common\CartComponent #}

<div class="offcanvas offcanvas-end offcanvas-wide" tabindex="-1" id="offcanvasCart" {{ attributes }}>
    {% hook 'cart' with { cart } %}
</div>
