{% import 'SyliusResourceBundle:Macros:actions.html.twig' as actions %}

<h1>Updating taxonomy <small>Use this form to update existing taxonomy</small></h1>
<hr />

<form action="{{ path('sylius_taxonomy_update', {'id': taxonomy.id}) }}" method="post" class="form-horizontal">
    {% include 'SyliusTaxonomiesBundle:Taxonomy:_form.html.twig' %}
    {{ actions.update(path('sylius_taxonomy_index')) }}
</form>
