{% extends '@SyliusShop/shared/layout/base.html.twig' %}

{% block body %}
    <div class="overflow-hidden">
        <div class="container">
            {{ sylius_template_event('sylius.shop.checkout.header', _context) }}

            <div class="row min-vh-lg-100">
                <div class="col-12 col-lg pe-lg-5 pe-xl-6">
                    <div class="mb-5">
                        {{ sylius_template_event('sylius.shop.checkout.steps', _context) }}
                    </div>
                    <div class="mb-5 h2">
                        {% block content_title %}
                        {% endblock %}
                    </div>
                    <div class="mb-5">
                        {% block content %}
                        {% endblock %}
                    </div>
                    <div class="mb-5">
                        {% block navigation %}
                        {% endblock %}
                    </div>
                </div>
                {% block sidebar %}
                    <div class="col-12 col-lg-4 ps-lg-5 ps-xl-6 position-relative checkout-sidebar">
                        <div class="mb-5 h2">{{ 'sylius.ui.summary'|trans }}</div>
                        {{ sylius_template_event('sylius.shop.checkout.sidebar', _context) }}
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
