{% set product = hookable_metadata.context.product %}

<table {{ sylius_test_html_attribute('product-variants') }}>
    <thead>
        <tr>
            {% hook 'head' %}
        </tr>
    </thead>
    <tbody>
        {% for key, variant in product.enabledVariants %}
            <tr {{ sylius_test_html_attribute('product-variants-row') }}>
                {% hook 'body' with { variant, key } %}
            </tr>
        {% endfor %}
    </tbody>
</table>
