{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusAddressingBundle:Country:macros.html.twig' as macros %}

<h1>Countries list <small>Here you can configure countries and provinces</small></h1>
<hr />

<div class="well">
    {{ buttons.create(path('sylius_country_create'), 'add country') }}
</div>

{% if countries.haveToPaginate()|default(false) %}
    {{ pagerfanta(countries, 'twitter_bootstrap_translated') }}
{% endif %}

{{ macros.list(countries) }}

{% if countries.haveToPaginate() %}
    {{ pagerfanta(countries, 'twitter_bootstrap_translated') }}
{% endif %}
