<h1>Country updating <small>Use this form to edit existing country</small></h1>
<hr />

<form action="{{ path('sylius_addressing_country_update', {'id': country.id}) }}" method="post" class="form-horizontal" novalidate>
    {% include 'SyliusAddressingBundle:Country:_form.html.twig' %}
    <div class="form-actions">
       <input type="submit" value="save changes" class="btn btn-large btn-primary" />
       &nbsp;
       <a href="{{ path('sylius_addressing_country_list') }}" class="btn btn-large">cancel</a>
    </div>
</form>
