{% import 'SyliusResourceBundle:Macros:actions.html.twig' as actions %}

<h1>Country updating <small>Use this form to edit existing country</small></h1>
<hr />

<form action="{{ path('sylius_country_update', {'id': country.id}) }}" method="post" class="form-horizontal" novalidate>
    {% include 'SyliusAddressingBundle:Country:_form.html.twig' %}
    {{ actions.update(path('sylius_country_list') ) }}
</form>
