{% set order = hookable_metadata.context.resource %}

<div>
    <div>
        <strong>{{ 'sylius.ui.currency'|trans }}:</strong>
    </div>
    <div class="mb-3">{{ order.currencyCode }}</div>
</div>
