{% form_theme form 'SyliusWebBundle:Backend:forms.html.twig' %}

{{ form_errors(form) }}

<fieldset>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.code) }}
        </div>
        <div class="col-md-6">
            {{ form_widget(form.provinces) }}
        </div>
    </div>
</fieldset>
<hr>
{{ form_widget(form._token) }}
