{% import '@SyliusUi/Macro/messages.html.twig' as messages %}

{% if grid.data|length > 0 %}
<div class="ui three column stackable grid">
    {% for data in grid.data %}
        {% set product = data.data %}
        <div class="column">
            {% include '@SyliusShop/Product/_simpleBox.html.twig' %}
        </div>
    {% endfor %}
</div>
{% else %}
{{ messages.info('sylius.ui.no_results_to_display'|trans) }}
{% endif %}
