{% from 'SyliusShopBundle:Product:macros.html.twig' import sylius_display_price %}

<div class="content">
    <div class="header">{{ product.name|truncate(18) }}</div>
</div>
<div class="extra content">
    <span class="right floated">
        <button class="ui primary button">{{ 'sylius.ui.add_to_cart'|trans }}</button>
    </span>
    <span>
        {% if product.firstVariant is not null %}
            {{ sylius_display_price(product.firstVariant) }}
        {% endif %}
    </span>
</div>
