{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    {% include '@SyliusShop/Product/Index/_header.html.twig' %}
    <div>
        <div>
            {% include '@SyliusShop/Product/Index/_sidebar.html.twig' %}
        </div>
        <div>
            {% include '@SyliusShop/Product/Index/_main.html.twig' %}
        </div>
    </div>
{% endblock %}
