{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
{% include '@SyliusShop/Product/Show/_breadcrumb.html.twig' %}
<div class="ui hidden divider"></div>

<div class="ui two column stackable grid">
    <div class="column">
        {% include '@SyliusShop/Product/Show/_images.html.twig' %}
    </div>
    <div class="column">
        {% include '@SyliusShop/Product/Show/_header.html.twig' %}
        <div class="ui stackable grid">
            <div class="four wide column">
                {% include '@SyliusShop/Product/Show/_price.html.twig' %}
            </div>
            <div class="twelve wide right aligned column">
                <span class="ui sub header">{{ product.code }}</span>
            </div>
        </div>
        <div class="ui basic segment">
            <p>{{ product.shortDescription }}</p>
        </div>
        <div class="ui segment">
            {% if product.isConfigurable() and product.getVariantSelectionMethod() == 'match' %}
                {% include '@SyliusShop/Product/Show/_variantsPrices.html.twig' with { 'variantsPrices': sylius_product_variant_prices(product) } %}
            {% endif %}
            {% include '@SyliusShop/Product/Show/_inventory.html.twig' %}
        </div>
        <div class="ui hidden divider"></div>
    </div>
</div>

<div class="ui hidden divider"></div>

<div class="ui top attached large tabular menu">
    {% include '@SyliusShop/Product/Show/_menu.html.twig' %}
</div>
{% include '@SyliusShop/Product/Show/_tabs.html.twig' %}

{% include '@SyliusShop/Product/Show/_associations.html.twig' %}
{% endblock %}
