{% extends 'SyliusShopBundle:Layout:main.html.twig' %}

{% block content %}
{% include '@SyliusShop/Product/Show/_breadcrumb.html.twig' %}
{% include '@SyliusShop/Product/Show/_header.html.twig' %}

<div class="ui two column stackable grid">
    <div class="column">
        {% include '@SyliusShop/Product/Show/_price.html.twig' %}
    </div>
    <div class="right aligned column">
        <span>{{ 'sylius.ui.code'|trans }}: {{ product.code }}</span>
    </div>
</div>

<div class="ui basic segment">
    <p>
        {{ product.shortDescription }}
    </p>
</div>

{% include '@SyliusShop/Product/Show/_addToCart.html.twig' %}

<div class="ui hidden divider"></div>

<div class="ui top attached large tabular menu">
    {% include '@SyliusShop/Product/Show/_menu.html.twig' %}
</div>
{% include '@SyliusShop/Product/Show/_tabs.html.twig' %}

{% endblock %}
