{% block subject %}
    Shipment confirmation
{% endblock %}

{% block body %}
    {% include '@SyliusAdmin/Email/_layout.html.twig' with {'content': block('content')} %}
{% endblock %}

{% block content %}
    <div style="text-align: center;">
        <div>
            Your order with number
            <span style="color: #1abb9c;">{{ order.number }}</span>
            has been sent using
            <span style="color: #1abb9c;">{{ shipment.method }}</span>.
        </div>
        <div style="margin-bottom: 20px;">
            You can check it's location with the
            <span style="color: #1abb9c;">{{ shipment.tracking }}</span>
            tracking code.
        </div>
        <div>
            Thank you for a successful transaction.
        </div>
    </div>
{% endblock %}
