<div class="ui very padded center aligned secondary segment">
    <div class="ui centered grid">
        <div class="sixteen wide tablet twelve wide computer center aligned column">
            <h2 class="ui huge header">
                {{ 'sylius.homepage.about_us'|trans }}
            </h2>
            <p>
                {{ 'sylius.homepage.about_us_content'|trans|raw }}
            </p>
        </div>
    </div>
</div>
