<div class="homepage-banner">
    <div class="homepage-banner__image">
        <img src="{{ asset('build/shop/images/homepage-banner.jpg', 'shop') }}" alt="{{ 'sylius.homepage.banner_content'|trans }}">
    </div>
    <div class="homepage-banner__content">
        <div>{{ 'sylius.homepage.banner_content'|trans }}</div>
        <a href="#" class="ui huge primary button">{{ 'sylius.homepage.banner_button'|trans }}</a>
    </div>
</div>
