<div id="footer" class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui inverted divided equal height stackable grid">
            <div class="three wide column">
                <h4 class="ui inverted header">Your Store</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">About</a>
                    <a href="#" class="item">Terms and Conditions</a>
                    <a href="#" class="item">Privacy Policy</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">Customer Care</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">Contact us</a>
                    <a href="#" class="item">FAQs</a>
                    <a href="#" class="item">Delivery & Shipping</a>
                    <a href="#" class="item">Returns Polciy</a>
                </div>
            </div>
            <div class="eight wide column">
                <h4 class="ui inverted header">&copy; Your Store</h4>
                <p>Powered by <a href="#">Sylius</a>.</p>
            </div>
        </div>
    </div>
</div>
