<div class="ui inverted vertical masthead center aligned segment" id="header">
    <div class="ui container">
        <div class="ui large secondary inverted menu">
            <a class="item">Home</a>
            <div class="ui dropdown link item">
                <span class="text">Clothing</span>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="header">Men</div>
                    <div class="item">Jackets</div>
                    <div class="item">Shirts</div>
                    <div class="item">Shorts</div>
                    <div class="item">Shoes</div>
                    <div class="item">Ties</div>
                    <div class="divider"></div>
                    <div class="header">Woman</div>
                    <div class="item">Dresses</div>
                    <div class="item">Skirts</div>
                    <div class="item">Shoes</div>
                    <div class="item">Shirts</div>
                </div>
            </div>
            <div class="ui dropdown link item">
                <span class="text">Food & Drinks</span>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="header">Food</div>
                    <div class="item">Sandwiches</div>
                    <div class="item">Pizza</div>
                    <div class="item">Burgers</div>
                    <div class="divider"></div>
                    <div class="header">Drinks</div>
                    <div class="item">Beer</div>
                    <div class="item">Wine</div>
                    <div class="item">Vodka</div>
                    <div class="item">Whisky</div>
                </div>
            </div>
            <a class="item">Furniture</a>
            <div class="right item">
                <a class="ui inverted button">Log in</a>
                <a class="ui inverted button">Sign Up</a>
            </div>
        </div>
    </div>

    <div class="ui text container">
        <h1 class="ui inverted header">
            Sylius
        </h1>
        <h2>Developer? Enjoy creating eCommerce applications again.</h2>
    </div>
</div>
