<h2 class="ui center aligned huge header">{{ 'sylius.homepage.carousel_header'|trans }}</h2>
<div class="ui hidden divider"></div>

{{ render(url('sylius_shop_partial_product_index_latest', {'count': 4, 'template': '@SyliusShop/Homepage/_carousel.html.twig'})) }}
