{% extends 'SyliusShopBundle:Layout:main.html.twig' %}

{% block content %}
<div class="ui vertical stripe segment">
    <div class="ui text container">
        <h4 class="ui horizontal header divider">New Arrivals</h4>
        <div class="ui two column grid">
            <div class="column">
                <div class="ui fluid card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui inverted button">Add to cart</div>
                                </div>
                            </div>
                        </div>
                        <img src="http://media.bizj.us/view/img/4769431/bud-light-2015-super-bowl-ad*1200xx1337-752-19-0.png">
                    </div>
                    <div class="content">
                        <div class="header">Bud Light</div>
                        <div class="meta">
                            <a>Beer</a>
                        </div>
                        <div class="description">
                            The most amazing beer in the USA!
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="right floated">
                            <button class="ui primary button">Add to cart</button>
                        </span>
                        <span>
                            <i class="dollar icon"></i>
                            4.99
                        </span>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://media.bizj.us/view/img/4769431/bud-light-2015-super-bowl-ad*1200xx1337-752-19-0.png">
                    </div>
                    <div class="content">
                        <div class="header">Bud Light</div>
                        <div class="meta">
                            <a>Beer</a>
                        </div>
                        <div class="description">
                            The most amazing beer in the USA!
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="right floated">
                            <button class="ui primary button">Add to cart</button>
                        </span>
                        <span>
                            <i class="dollar icon"></i>
                            4.99
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui two column grid">
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://media.bizj.us/view/img/4769431/bud-light-2015-super-bowl-ad*1200xx1337-752-19-0.png">
                    </div>
                    <div class="content">
                        <div class="header">Bud Light</div>
                        <div class="meta">
                            <a>Beer</a>
                        </div>
                        <div class="description">
                            The most amazing beer in the USA!
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="right floated">
                            <button class="ui primary button">Add to cart</button>
                        </span>
                        <span>
                            <i class="dollar icon"></i>
                            4.99
                        </span>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img src="http://media.bizj.us/view/img/4769431/bud-light-2015-super-bowl-ad*1200xx1337-752-19-0.png">
                    </div>
                    <div class="content">
                        <div class="header">Bud Light</div>
                        <div class="meta">
                            <a>Beer</a>
                        </div>
                        <div class="description">
                            The most amazing beer in the USA!
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="right floated">
                            <button class="ui primary button">Add to cart</button>
                        </span>
                        <span>
                            <i class="dollar icon"></i>
                            4.99
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
