<div class="container mb-6">
    <div class="mb-5">
        <h2>{{ 'sylius.homepage.new_collection'|trans }}</h2>
    </div>

    <div class="photo-grid">
        {% for i in [1, 2, 3] %}
            <div class="photo-grid-item-{{ i }}">
                <img
                    src="{{ asset('build/shop/images/homepage-new-collection-photo-' ~ i ~ '.jpeg', 'shop') }}"
                    class="object-fit-cover w-100 h-100 rounded-3"
                    alt="{{ 'sylius.homepage.new_collection'|trans }}">
            </div>
        {% endfor %}
    </div>
</div>
