<a href="{{ hookable_metadata.context.original_path }}">
    <img src="{{ hookable_metadata.context.path }}" alt="{{ hookable_metadata.context.product.name }}" {{ sylius_test_html_attribute('main-image') }} />
</a>
