{% set product = hookable_metadata.context.product %}

{% if product.images|length > 1 %}
    <div>
        {% for image in product.images %}
            {% set path = image.path is not null ? image.path|imagine_filter('sylius_shop_product_small_thumbnail') : asset('build/shop/images/200x200.png') %}
            <div>
                {% hook 'thumbnails' %}
            </div>
        {% endfor %}
    </div>
{% endif %}
