{# Rendered with \Sylius\Bundle\AdminBundle\Twig\Component\Taxon\TreeComponent #}

{% import '@SyliusAdmin/taxon/helper/tree.html.twig' as taxon_tree %}

<div {{ attributes }}>
    <div class="card mb-5" data-js-tree="container">
        <div class="card-body relative">
            <div class="mb-3">
                <button data-js-tree="toggle-all" type="button" class="btn btn-sm">Toggle All</button>
            </div>
            <div>
                {{ taxon_tree.render(root_nodes) }}
            </div>
        </div>
    </div>
</div>
