<div class="col-3 d-flex align-items-end">
    <div class="mb-3">
        {{ form_row(hookable_metadata.context.form.enabled, sylius_test_form_attribute('enabled')|merge({ label_attr: { class: 'checkbox-switch' } })) }}
    </div>
</div>
