{% set product = hookable_metadata.context.product %}

{% if product.isSimple() %}
    {% set variant = product.variants.first %}
    {% set channels = hookable_metadata.context.channels %}
<div class="table">
    <table class="table table-vcenter">
        <thead>
            <tr>
                {% hook 'simple_product#head' %}
            </tr>
        </thead>
        <tbody>
            <tr>
                {% hook 'simple_product#tab' with { variant, product } %}
            </tr>
            <tr class="bg-gray-400">
                <td colspan="9" class="p-0 border-0">
                    <div class="py-3 px-5">
                        {% hook 'simple_product#details' with { variant } %}
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endif %}
