<div {{ attributes }} class="d-grid" {{ sylius_test_html_attribute('attribute-autocomplete') }}>
    <input
        name="product_attributes"
        data-model="selectedAttributeCodes"
        {{ stimulus_controller('product-attribute-autocomplete', {
            url: path('sylius_admin_entity_autocomplete', { alias: 'sylius_admin_product_attribute', 'extra_options': extraOptions }),
            selectedAttributeCodes: selectedAttributeCodes|join(','),
        }) }}
    />
</div>
