<div class="row">
    <div class="col-md-8 row-split">
        {{ form_row(form.name) }}
        {{ form_row(form.presentation) }}
    </div>

    <div class="col-md-4">
        {{ form_widget(form.values) }}
    </div>
</div>

{{ form_widget(form._token) }}
