{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% from 'SyliusWebBundle:Backend/Macros:actions.html.twig' import update %}

{% block content %}
<div class="page-header">
    <h1><i class="icon-pencil">{{ 'sylius.tax_category.update_header'|trans|raw }}</h1>
</div>

{{ form_errors(form) }}

<form action="{{ path('sylius_backend_tax_category_update', {'id': tax_category.id}) }}" method="post" class="form-horizontal" novalidate>
    <input type="hidden" name="_method" value="PUT">
    {% include 'SyliusWebBundle:Backend/TaxCategory:_form.html.twig' %}
    {{ update() }}
</form>
{% endblock %}
