{% form_theme form 'SyliusUiBundle:Form:imagesTheme.html.twig' %}

<div class="ui segment">
    <h3 class="ui dividing header">{{ 'sylius.ui.media'|trans }}</h3>
    <br>
    {{ form_row(form.images, {'label': false}) }}
</div>
