{% extends 'SyliusAdminBundle:Crud:create.html.twig' %}

{% block content %}
    <div class="ui two column stackable grid">
        <div class="four wide column">
            {{ render(path('sylius_admin_taxon_tree')) }}
        </div>
        <div class="twelve wide column">
            {{ parent() }}
        </div>
    </div>
{% endblock %}
