{% extends '@SyliusAdmin/Crud/update.html.twig' %}

{% block content %}
    {{ sylius_template_event('sylius.admin.taxon.update.before_content', {'resource': resource}) }}

    <div class="ui grid sticky-container">
        <div class="sixteen wide mobile sixteen wide tablet four wide computer column sticky-column">
            {{ sylius_template_event('sylius.admin.taxon.update.taxon_tree', {'resource': resource}) }}
        </div>
        <div class="sixteen wide mobile sixteen wide tablet twelve wide computer column">
            {{ parent() }}
        </div>
    </div>
{% endblock %}
