{% include '@SyliusShop/Taxon/_breadcrumb.html.twig' %}

{{ sonata_block_render_event('sylius.shop.taxon.header.before', {'taxon': taxon}) }}

<h1 class="ui monster section dividing header">
    {{ taxon.name }}
    <div class="sub header">{{ taxon.description }}</div>
</h1>

{{ sonata_block_render_event('sylius.shop.taxon.header.after', {'taxon': taxon}) }}
