{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
{% include '@SyliusShop/Taxon/Show/_breadcrumb.html.twig' %}
{% include '@SyliusShop/Taxon/Show/_header.html.twig' %}
<div class="ui stackable grid">
    <div class="four wide column">
        {% include '@SyliusShop/Taxon/Show/_sidebar.html.twig' %}
    </div>
    <div class="twelve wide column">
        {% include '@SyliusShop/Taxon/Show/_main.html.twig' %}
    </div>
</div>
{% endblock %}
