{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
{% include '@SyliusShop/Taxon/Show/_breadcrumb.html.twig' %}
{% include '@SyliusShop/Taxon/Show/_header.html.twig' %}
<div class="ui stackable grid">
    <div class="four wide column">
        {% include '@SyliusShop/Taxon/Show/_children.html.twig' %}
    </div>
    <div class="twelve wide column">
        {{ render(url(
            'sylius_shop_partial_product_index_by_taxon_code',
            {
                'code': taxon.code,
                'template': '@SyliusShop/Product/Grid/_default.html.twig',
                'permalink': app.request.attributes.get('permalink'),
                'sorting': app.request.query.get('sorting'),
                'criteria': app.request.query.get('criteria')
            }))
        }}
    </div>
</div>
{% endblock %}
