<div class="row">
    <div class="col-12 col-md-4 fw-bold">{{ 'sylius.ui.channels'|trans }}</div>
    <div class="col-12 col-md-8" {{ sylius_test_html_attribute('channels') }}>
        {% for channel in hookable_data.resource.channels %}
            <span class="badge" style="background-color: {{ channel.color }}"></span>
            {{ channel.name }}
            <br />
        {% endfor %}
    </div>
</div>
