<div class="row">
    <div class="col-12 col-md-4 fw-bold">{{ 'sylius.ui.name'|trans }}</div>
    <div class="col-12 col-md-8" {{ sylius_test_html_attribute('name') }}>{{ hookable_data.resource.name }}</div>
</div>
