<div class="row">
    <div class="col-12 col-md-4 fw-bold">{{ 'sylius.ui.priority'|trans }}</div>
    <div class="col-12 col-md-8" {{ sylius_test_html_attribute('priority') }}>{{ hookable_data.resource.priority }}</div>
</div>
