<div class="row">
    <div class="col-12 col-md-4 fw-bold">{{ 'sylius.ui.start_date'|trans }}</div>
    <div class="col-12 col-md-8" {{ sylius_test_html_attribute('start-date') }}>{{ hookable_data.resource.startDate|format_datetime }}</div>
</div>
