<div class="ui basic segment">
    <div class="ui buttons">
        <button class="ui labeled icon primary button" type="submit"><i class="save icon"></i> {{ 'sylius.ui.save_changes'|trans }}</button>
        <div class="or" data-text="{{ 'sylius.ui.or'|trans }}"></div>
        {% include '@SyliusUi/Form/_cancelButton.twig' with {'path': cancel_path|default(null)} %}
    </div>
</div>
