<div style="width: 100%; text-align: center;">
    <div class="ui input position" style="width: 50px;">
        <input type='text' value="{{ data.position }}" data-id="{{ data.id }}" class="sylius-product-variant-position" style="text-align: center;" />
    </div>
</div>
