{{ form_errors(form) }}

<div class="ui stackable grid">
    <div class="three wide column">
        {% include '@SyliusAdmin/Product/_menu.html.twig' %}
    </div>
    <div class="thirteen wide column">
        <div class="ui segment">
            {% include '@SyliusAdmin/Product/_tabs.html.twig' %}
        </div>
    </div>
</div>
