<button type="button" class="btn btn-sm dropdown-toggle" data-bs-toggle="dropdown">
    <span class="text-black-50">{{ 'sylius.ui.show'|trans }}: </span>{{ hookable_metadata.context.resources.data.maxPerPage }}
</button>
