{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <div class="ui segment">
        <h1 class="ui dividing header">{{ resource.title }}</h1>

        <div>{{ resource.body }}</div>
    </div>
{% endblock %}
