<div class="col-12 col-md-6 mt-2">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                {{ 'sylius.ui.account_credentials'|trans }}
            </div>
        </div>
        <div class="card-body">
            <div class="alert alert-info">
                {{ 'sylius.ui.account_credentials_details'|trans }}
            </div>
            {% hook 'account_credentials' %}
        </div>
    </div>
</div>
