<div class="border-bottom py-4">
    <div class="container">
        <div class="row align-items-center">
            {{ sylius_template_event('sylius.shop.layout.header.grid') }}
        </div>
    </div>
</div>
