<button type="button" class="btn btn-sm dropdown-toggle" data-bs-toggle="dropdown">
    <span class="text-black-50">{{ 'sylius.ui.sort'|trans }}: </span>{{ hookable_metadata.context.current_sorting_label }}
</button>
