{% if data.name is defined %}
    {{ data.name }}
{% else %}
    {% from '@SyliusAdmin/common/helper/icon.html.twig' import icon as _icon %}

    <span class="text-danger">
        {{ _icon({ icon: 'exclamation-circle' }) }} <i>{{ 'sylius.ui.no_main_taxon'|trans }}</i>
    </span>
{% endif %}
