{% form_theme form 'SyliusWebBundle:Backend:forms.html.twig' %}

<div class="tab-pane" id="channels">
    {% for channelChoice in form.channels %}
        {{ form_row(channelChoice) }}
    {% endfor %}
</div>
