{% set state = order.paymentState %}
{% set label = 'primary' %}

{% if 'pending' == state %}
    {% set label = 'warning' %}
{% elseif 'completed' == state %}
    {% set label = 'success' %}
{% elseif 'failed' == state %}
    {% set label = 'danger' %}
{% endif %}

<span class="label label-{{ label }}">{{ state|title }}</span>
