<form method="get" action="{{ path('sylius_backend_order_index') }}" class="form-inline well well-small">
{% for field in form %}
    {% if '_token' != field.vars.name %}
        {{ form_label(field) }}
    {% endif %}
    {{ form_widget(field) }}
    &nbsp;
{% endfor %}
<button type="submit" class="btn btn-primary"><i class="icon-filter"></i> {{ 'sylius.filter'|trans }}</button>
</form>
