<button
    type="submit"
    name="submit-type"
    value="checkout"
    class=""
    form="sylius_cart"
    formaction="{{ path('sylius_shop_cart_checkout') }}"
    formmethod="post"
    {{ sylius_test_html_attribute('cart-checkout-button') }}
>
    {{ 'sylius.ui.checkout'|trans }}
</button>
