{% import '@SyliusUi/Macro/headers.html.twig' as headers %}

<div class="mb-5">
    <h1>{{ header|trans }}</h1>
    <div>{{ 'sylius.ui.edit_your_items_apply_coupon_or_proceed_to_the_checkout'|trans }}</div>
</div>
