{% from '@SyliusAdmin/shared/helper/icon.html.twig' import icon %}

{% set path = options.link.url|default(path('sylius_admin_product_variant_generate', {'productId': options.product.id})) %}

<a href="{{ path }}" class="btn">
    {{ icon({ icon: 'arrows-split', class: 'icon icon-tabler' }) }}
    {{ 'sylius.ui.generate'|trans }}
</a>
