<?php

/*
 * This file is part of the Sylius package.
 *
 * (c) Paweł Jędrzejewski
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

if (!file_exists($file = __DIR__.'/../vendor/autoload.php')) {
   die('You must set up the project dependencies, run the following commands:'.PHP_EOL.
       'curl -s http://getcomposer.org/installer | php'.PHP_EOL.
       'php composer.phar install --dev'.PHP_EOL);
} else {
    require_once $file;
}
