{% if hookable_metadata.context.form.position is defined %}
    <div class="col-6">
        {{ form_row(hookable_metadata.context.form.position, sylius_test_form_attribute('position')) }}
    </div>
{% endif %}
