{% import '@SyliusAdmin/shared/helper/translations.html.twig' as _translations %}

{% set form = hookable_metadata.context.form %}

<div class="bg-white mb-3">
    {{ _translations.default(form.translations) }}
</div>
