{% set order = hookable_metadata.context.order %}

{% if order.paymentState == 'awaiting_payment' %}
    {% import '@SyliusShop/shared/buttons.html.twig' as buttons %}

    <div class="d-flex gap-3 justify-content-end mb-3">
        {{ buttons.primary(path('sylius_shop_order_show', {'tokenValue': order.tokenValue}), 'sylius.ui.pay', null, 'tabler:credit-card', 'green') }}
    </div>
{% endif %}
