<div class="col-12">
    <div class="alert alert-info d-flex align-items-center" role="alert">
        <div>
            {{ 'sylius.form.shipping_method.rules_help'|trans }}
        </div>
    </div>
    {{ form_row(hookable_data.form.rules) }}
</div>
