<aside class="navbar navbar-vertical navbar-expand-lg d-print-none" data-bs-theme="dark">
    <div class="container-fluid">
        {% hook 'sylius_admin.common.component.sidebar' with { _prefixes: [] } %}
    </div>
</aside>
