{% extends '@SyliusShop/Email/layout.html.twig' %}

{% block subject %}
    Order confirmation
{% endblock %}

{% block content %}
    {% set url = order.channel.hostname is not null ? 'http://' ~ order.channel.hostname ~ path('sylius_shop_order_show', {'tokenValue': order.tokenValue, '_locale': order.localeCode}) : url('sylius_shop_order_show', {'tokenValue': order.tokenValue, '_locale': order.localeCode}) %}

    <div style="text-align: center; margin-bottom: 30px;">
        Your order no.
        <div style="margin: 10px 0;">
          <span style="border: 1px solid #eee; padding: 10px; color: #1abb9c; font-size: 28px;">
            {{ order.number }}
          </span>
        </div>
        has been successfully placed.
    </div>

    <div style="text-align: center; margin-bottom: 30px;">
        <a href="{{ url|raw }}" style="display: inline-block; text-align: center; background: #1abb9c; padding: 18px 28px; color: #fff; text-decoration: none; border-radius: 3px;">
            View order or change payment method
        </a>
    </div>

    <div style="text-align: center;">
        Thank you for shopping at our store!
    </div>
{% endblock %}
