{% block subject %}
    Password reset
{% endblock %}

{% block body %}
    {% include '@SyliusShop/Email/_layout.html.twig' with {'content': block('content')} %}
{% endblock %}

{% block content %}
    {% set url = channel.hostname is not null ? 'http://' ~ channel.hostname ~ path('sylius_shop_password_reset', { 'token': user.passwordResetToken}) : url('sylius_shop_password_reset', { 'token': user.passwordResetToken}) %}

    <div style="text-align: center; margin-bottom: 30px;">
        <div style="font-size: 24px;">Hello <strong>{{ user.username }}</strong><br></div>
        To reset your password - click the link below:
    </div>

    <div style="text-align: center;">
        <a href="{{ url|raw }}" style="display: inline-block; text-align: center; background: #1abb9c; padding: 18px 28px; color: #fff; text-decoration: none; border-radius: 3px;">
            Reset your password
        </a>
    </div>
{% endblock %}
