{% extends '@SyliusShop/shared/layout/base.html.twig' %}

{% set prefixes = ['sylius_shop.account.order.index', 'sylius_shop.shared.account'] %}

{% block title %}{{ 'sylius.ui.order_history'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <div class="container mb-auto">
        <div class="row my-4">
            {% hook 'layout' with { _prefixes: prefixes, resources } %}
        </div>
    </div>
{% endblock %}
