{% extends '@SyliusShop/shared/layout/base.html.twig' %}

{% set prefixes = [
    'sylius_shop.account.order.show',
    'sylius_shop.shared.account'
] %}

{% block title %}{{ 'sylius.ui.order'|trans }} #{{ order.number }} | {{ parent() }}{% endblock %}

{% block content %}
    <div class="container mb-auto">
        <div class="row my-4">
            {% hook 'layout' with { _prefixes: prefixes, order } %}
        </div>
    </div>
{% endblock %}

{% block account_header %}
    {% set title = 'sylius.ui.order'|trans ~ ' #' ~ order.number %}
    {{ parent() }}
{% endblock %}
