{% extends '@SyliusShop/shared/layout/base.html.twig' %}

{% block content %}
    <div class="container mt-4 mb-5">
        {% hook 'sylius.shop.product.index.page' with { products, resources } %}
    </div>
{% endblock %}
