{% set channel_pricing = hookable_metadata.context.channel_pricing %}

<td class="text-end">
    {% if channel_pricing.appliedPromotions|length > 0 %}
        <ul>
            {% for promotion in channel_pricing.appliedPromotions %}
                <li>{{ promotion.name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        -
    {% endif %}
</td>
