{% import '@SyliusAdmin/shared/helper/money.html.twig' as money %}

{% set currency_code = hookable_metadata.context.currency_code %}
{% set channel_pricing = hookable_metadata.context.channel_pricing %}
{% set channel = hookable_metadata.context.channel %}
{% set variant = hookable_metadata.context.variant %}

<td class="text-end" {{ sylius_test_html_attribute('lowest-price-before-the-discount', '%s.%s'|format(variant.code, channel.code)) }}>
    {% if channel_pricing.lowestPriceBeforeDiscount != null %}
        {{ money.format(channel_pricing.lowestPriceBeforeDiscount, currency_code) }}
    {% else %}
        -
    {% endif %}
</td>
