{% from '@SyliusAdmin/shared/helper/money.html.twig' import format as money %}

{% set price = hookable_metadata.context.channel_pricing.price %}

{% if hookable_metadata.context.currency_code is defined %}
    <td {{ sylius_test_html_attribute('price') }} class="text-end">{{ money(price, hookable_metadata.context.currency_code) }}</td>
{% else %}
    <td></td>
{% endif %}
