{% set attributes = hookable_metadata.context.attributes  %}

<div class="col-12 col-md-4">
    {% if hookable_metadata.context.locale is defined %}
        {% for attributeValue in attributes|filter(attributeValue => attributeValue.localeCode == hookable_metadata.context.locale) %}
            <p {{ sylius_test_html_attribute('attribute-name', "%s"|format(attributeValue.name)) }}>{{ attributeValue.name }}</p>
        {% endfor %}
    {% else %}
        {% for attributeValue in attributes|filter(attributeValue => attributeValue.localeCode == null) %}
            <p {{ sylius_test_html_attribute('non-translatable-attribute-name', "%s"|format(attributeValue.name)) }}>{{ attributeValue.name }}</p>
        {% endfor %}
    {% endif %}
</div>
