{% if hookable_metadata.context.locale_code is not defined %}
    {% set attributes = hookable_metadata.context.attributes %}

    <div id="translation-non-translatable" class="accordion-collapse collapse" data-bs-parent="#attribute-translations">
        <div class="accordion-body bg-gray-400">
            <div class="py-3 px-5">
                <div class="card mb-3">
                    <div class="card-header">
                        <div class="card-title">{{ 'sylius.ui.content'|trans }}</div>
                    </div>
                    <div class="card-body">
                        <div class="row" {{ sylius_test_html_attribute('attribute-without-locale') }}>
                            {% hook 'non_translatable' with { 'attributes': attributes } %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endif %}
