{% set attributes = hookable_metadata.context.attributes  %}

<div class="col-12 col-md-8">
    {% if hookable_metadata.context.locale is defined %}
        {% for attributeValue in attributes|filter(attributeValue => attributeValue.localeCode == hookable_metadata.context.locale) %}
            <p {{ sylius_test_html_attribute('attribute-value') }}>
                {% include [
                    '@SyliusAdmin/product/show/content/page_body/attributes/types/'~attributeValue.type~'.html.twig',
                    '@SyliusAttribute/Types/'~attributeValue.type~'.html.twig',
                    '@SyliusAdmin/product/show/content/page_body/attributes/types/default.html.twig'
                ] with {
                    'attribute': attributeValue,
                    'locale': hookable_metadata.context.locale,
                } %}
            </p>
        {% endfor %}
    {% else %}
        {% for attributeValue in attributes|filter(attributeValue => attributeValue.localeCode == null) %}
            <p {{ sylius_test_html_attribute('non-translatable-attribute-value', "%s"|format(attributeValue.value)) }}>
                {% include [
                    '@SyliusAdmin/product/show/content/page_body/attributes/types/'~attributeValue.type~'.html.twig',
                    '@SyliusAttribute/Types/'~attributeValue.type~'.html.twig',
                    '@SyliusAdmin/product/show/content/page_body/attributes/types/default.html.twig'
                ] with {
                    'attribute': attributeValue,
                } %}
            </p>
        {% endfor %}
    {% endif %}
</div>
