<?php

/*
 * This file is part of the Sylius package.
 *
 * (c) Paweł Jędrzejewski
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

if (!file_exists($file = __DIR__.'/../vendor/autoload.php')) {
    die("Please install dev dependencies using Composer to run the test suite. \n");
} else {
    require_once $file;
}
