{% block subject %}
    {% autoescape false %}
    {{ 'email.order_update.subject'|trans }}
    {% endautoescape %}
{% endblock %}
{% block body_text %}{% endblock %}
{% block body_html %}
    <h1>Order Update</h1>
    {% if history %}
        <h3>{{ history.comment }}</h3>
    {% endif %}
    
    {% include "SyliusWebBundle:Frontend/Account:Order/_detail.html.twig" %}
{% endblock %}
