/*
 * This file is part of the Sylius package.
 *
 * (c) Sylius Sp. z o.o.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.btn-icon {
    display: inline-flex;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
    padding-left: 1.4rem;
    padding-right: 1.6rem;
}

.btn-primary {
    color: #fff;
}

.btn-transparent {
    --bs-btn-bg: transparent;
    --bs-btn-border-color: transparent;
    --bs-btn-hover-bg: #{$gray-100};
    --bs-btn-hover-border-color: transparent;
    --bs-btn-active-bg: #{$gray-200};
    --bs-btn-active-border-color: transparent;
    --bs-btn-focus-shadow-rgb: 0, 0, 0;
}

.btn-outline-gray {
    --bs-btn-color: #{$gray-800};
    --bs-btn-border-color: #{$gray-400};
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #{$gray-800};
    --bs-btn-hover-border-color: #{$gray-800};
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #{$gray-800};
    --bs-btn-active-border-color: #{$gray-800};
}
