/*
 * This file is part of the Sylius package.
 *
 * (c) Sylius Sp. z o.o.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

@include media-breakpoint-up(lg) {
  .checkout-sidebar::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 50vw;
    height: 200%;
    background: #F8F9FA;
  }
}
