/*
 * This file is part of the Sylius package.
 *
 * (c) Sylius Sp. z o.o.
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.sylius-messages:has(*) {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.alert {
  .close {
    cursor: pointer;
  }
}
