.navbar {
  .dropdown-menu {
    width: max-content;
    min-width: 13rem;
    max-width: 20rem;
    position: absolute;

    @media (max-width: 991px) {
      position: static;
      border: none;
    }

    .nav-link {
      --bs-nav-link-padding-y: 2px;
      --bs-nav-link-padding-x: 1.5rem;
    }
  }
}
