{% for payment in hookable_metadata.context.order.payments %}
    <div class="card-body d-flex flex-column gap-2">
        <div class="d-flex gap-4">
            {% hook 'list' with { payment } %}
        </div>
    </div>
{% endfor %}
