{% macro default(breadcrumbs) %}
    <ol class="breadcrumb" aria-label="breadcrumbs">
        {% for breadcrumb in breadcrumbs %}
            <li class="breadcrumb-item {{ breadcrumb.active ? "active" }}">
                {% if breadcrumb.url is defined %}
                    <a href="{{ breadcrumb.url }}">{{ breadcrumb.name|trans }}</a>
                {% else %}
                    {{ breadcrumb.name|trans }}
                {% endif %}
            </li>
        {% endfor %}
    </ol>
{% endmacro %}
