{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusUiBundle::page.html.twig' as page %}
{% from 'SyliusWebBundle:Backend/Order:macros.html.twig' import simple_list as list_orders %}
{% from 'SyliusWebBundle:Backend/User:macros.html.twig' import simple_list as list_users %}

{% block breadcrumb %}
<ol class="breadcrumb">
    <li>{{ 'sylius.breadcrumb.dashboard'|trans }}</li>
</ol>
{% endblock %}

{% block content %}
{{ page.header('backend.dashboard', 'dashboard') }}

<div class="row">
    <div class="col-md-6">
        {% include 'SyliusWebBundle:Backend/Dashboard:_quickmenu.html.twig' %}
    </div>
    <div class="col-md-6">
        {% include 'SyliusWebBundle:Backend/Dashboard:_statistics.html.twig' %}
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="box">
        {{ list_orders(orders) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="box">
        {{ list_users(users) }}
        </div>
    </div>
</div>
<hr>
{% endblock %}
