<div class="column">
    <a href="{{ path('sylius_shop_homepage') }}">
        <img src="{{ asset('build/shop/images/logo.png', 'shop') }}" alt="Sylius logo" class="ui small image" />
    </a>
</div>
