<div class="col-12 col-md-6">
    {{ form_row(hookable_data.form.gatewayConfig.config.publishable_key, sylius_test_form_attribute('publishable-key')|merge({ label_attr: { class: 'checkbox-switch' } })) }}
</div>
