<div class="col-12 col-md-6">
    {{ form_row(hookable_data.form.gatewayConfig.config.secret_key, sylius_test_form_attribute('secret-key')|merge({ label_attr: { class: 'checkbox-switch' } })) }}
</div>
