# Sylius default deployment configuration.

# Capifony documentation: http://capifony.org
# Capistrano documentation: https://github.com/capistrano/capistrano/wiki

# Be more verbose by uncommenting the following line
# logger.level = Logger::MAX_LEVEL

set :application, ""
set :domain,      ""
set :deploy_to,   ""
set :user,        ""

role :web,        domain
role :app,        domain
role :db,         domain, :primary => true

set :scm,         :git
set :repository,  ""
set :branch,      ""
set :deploy_via,  :remote_cache

ssh_options[:forward_agent] = true

set :use_composer,   true
set :update_vendors, false

set :dump_assetic_assets, true

set :writable_dirs,     [cache_path, log_path]
set :permission_method, :acl
set :use_set_permissions, true

set :shared_files,    ["#{app_config_path}/#{app_config_file}", web_path+"/.htaccess", web_path+"/robots.txt"]
set :shared_children, [log_path]

set :use_sudo,    false

set :keep_releases, 3

after "deploy", "symfony:cache:clear"
after "deploy", "deploy:cleanup"
