parameters:
    database_driver: pdo_mysql
    database_host: 127.0.0.1
    database_port: ~
    database_name: sylius
    database_user: root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite.
    # database_path: "%kernel.root_dir%/data.db3"

    phpcr_user: root
    phpcr_password: ~

    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: ~
    mailer_password: ~

    secret: EDITME
    locale: en_US
    currency: USD

    wkhtmltopdf.bin_path: /usr/bin/wkhtmltopdf
    wkhtmltoimage.bin_path: /usr/bin/wkhtmltoimage
