parameters:
    sylius.database.driver:           pdo_mysql
    sylius.database.host:             127.0.0.1
    sylius.database.port:             ~
    sylius.database.name:             sylius
    sylius.database.user:             root
    sylius.database.password:         ~

    sylius.mailer.transport:          smtp
    sylius.mailer.host:               127.0.0.1
    sylius.mailer.user:               ~
    sylius.mailer.password:           ~

    sylius.locale:                    en
    sylius.secret:                    abc

    sylius.currency:                  EUR

    sylius.cache:
        type: file_system

    paypal.express_checkout.username: EDITME
    paypal.express_checkout.password: EDITME
    paypal.express_checkout.signature: EDITME
    paypal.express_checkout.sandbox: true

    stripe.secret_key: EDITME
    stripe.test_mode: true

    be2bill.identifier: EDITME
    be2bill.password: EDITME
    be2bill.sandbox: true

    sylius.oauth.amazon.clientid:       <amazon_client_id>
    sylius.oauth.amazon.clientsecret:   <amazon_client_secret>
    sylius.oauth.facebook.clientid:     <facebook_client_id>
    sylius.oauth.facebook.clientsecret: <facebook_client_secret>
    sylius.oauth.google.clientid:       <google_client_id>
    sylius.oauth.google.clientsecret:   <google_client_secret>

    sylius.inventory.backorders_enabled: true
    sylius.inventory.tracking_enabled: true
    sylius.inventory.holding.duration: 15 minutes

    sylius.order.pending.duration: 3 hours
