{% from '@SyliusShop/shared/icon.html.twig' import icon as icon %}

<a href="{{ path('sylius_shop_account_change_password') }}" class="btn btn-sm btn-icon btn-outline-gray">
    {{ icon('lock', 'width: 16px; height: 16px;') }}
    {{ 'sylius.ui.change_password'|trans }}
</a>
