{% import '@SyliusAdmin/common/helper/header.html.twig' as _header %}

<div class="col-12 col-md-6">
    <div class="d-md-flex gap-2 align-items-center" {{ sylius_test_html_attribute('customer-fullname') }}>
        {{ _header.h1(hookable_metadata.context.resource.fullname) }}
    </div>
</div>
