{% macro list(products) %}

{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% for product in products %}
{% include 'SyliusWebBundle:Frontend/Product:_single.html.twig' %}
{% if not loop.last %}<hr>{% endif %}
{% else %}
{{ alerts.info('sylius.ui.there_are_no_products_to_display'|trans) }}
{% endfor %}

{% endmacro %}

{% macro grid(products, size = 3) %}

{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

<div class="row">
    {% for product in products %}
        <div class="col-md-{{ 12 / size }}">
            {% include 'SyliusWebBundle:Frontend/Product:_singleBox.html.twig' %}
        </div>
        {% if 0 == loop.index % size %}
            </div>
            <div class="row">
        {% endif %}
    {% else %}
        <div class="col-md-12">
            {{ alerts.info('sylius.ui.there_are_no_products_to_display'|trans) }}
        </div>
    {% endfor %}
</div>

{% endmacro %}

{% macro sylius_display_price(variant) %}
    {% if (variant.isPriceReduced) %}
        <span class='label label-success crossed'>{{ variant.originalPrice|sylius_price }}</span>
    {% endif %}
    <span class='label label-success'>{{ sylius_calculate_price(variant)|sylius_price }}</span>
{% endmacro %}
