<div class="ui bottom attached tab segment" data-tab="attributes">
    {{ sonata_block_render_event('sylius.shop.product.show.tab_attributes', {'product': product}) }}

    <table id="sylius-product-attributes" class="ui definition table">
        <tbody>
        {% for attribute in product.getAttributesByLocale(configuration.request.locale, configuration.request.defaultLocale)|sort_by('attribute.position') %}
            <tr>
                <td class="sylius-product-attribute-name">{{ attribute.name }}</td>
                <td class="sylius-product-attribute-value">
                    {% include [('SyliusAttributeBundle:Types:'~attribute.attribute.type~'.html.twig'), 'SyliusAttributeBundle:Types:default.html.twig'] with {'attribute': attribute} %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
