<div class="ui bottom attached tab segment" data-tab="reviews" id="sylius-product-reviews " {{ sylius_test_html_attribute('product-reviews') }}>
    {{ sylius_template_event('sylius.shop.product.show.tab_reviews', _context) }}
</div>
