{% extends '@SyliusShop/shared/layout/base.html.twig' %}

{% set prefixes = prefixes|default([])|merge(['sylius_shop.account.common']) %}

{% block content %}
    <div class="container mb-auto">
        <div class="row my-4">
            {% hook 'index' with { _prefixes: prefixes, addresses, default_address: sylius.customer.defaultAddress|default(null) } %}
        </div>
    </div>
{% endblock %}
