{% extends '@SyliusShop/shared/layout/base.html.twig' %}

{% set prefixes = prefixes|default([])|merge(['sylius_shop.account.common']) %}
{% set attrs = attrs|default([]) %}

{% block content %}
    <div class="container mb-auto">
        <div class="row my-4">
            {% hook 'update' with { _prefixes: prefixes, ...attrs } %}
        </div>
    </div>
{% endblock %}
