<h1>Settings <small>Use this form to update settings</small></h1>
<hr />
<form action="{{ path('sylius_settings') }}" method="post" class="form-horizontal">
    {{ form_widget(form) }}
    <div class="form-actions">
        <input type="submit" value="Save settings" class="btn btn-primary btn-large" />
    </div>
</form>
