{% import '@SyliusShop/shared/buttons.html.twig' as buttons %}

<div class="d-grid">
    {{ buttons.link(path('sylius_shop_request_password_reset_token'), 'sylius.ui.forgot_password'|trans, null, null) }}
</div>
