<div class="col-12 col-md-auto ms-auto">
    <div class="dropdown">
        <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {{ 'sylius.ui.actions'|trans }}
        </button>
        <div class="dropdown-menu">
            {% hook 'actions' %}
        </div>
    </div>
</div>
