<td>
    <button
        class="btn btn-sm btn-transparent px-2"
        type="button"
        data-action="live#action:prevent"
        data-live-action-param="removeItem"
        data-live-index-param="{{ hookable_metadata.context.index }}"
        {{ sylius_test_html_attribute('remove-cart-item') }}
    >
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M18 6l-12 12"></path>
            <path d="M6 6l12 12"></path>
        </svg>
    </button>
</td>
