{% set form = hookable_metadata.context.form %}

{% if app.user is null %}
    <div class="mb-5">
        {% include '@SyliusShop/shared/form/login.html.twig' with {'form': form.customer} %}
    </div>
{% endif %}
