{% import '@SyliusAdmin/Shared/Helper/header.html.twig' as _header %}

{% set singularName = _context.metadata.applicationName ~ '.ui.' ~ _context.metadata.name %}
{% set header = _context.configuration.vars.header.create|default(null) %}

<div class="col-12 col-md-6">
    <div class="d-md-flex gap-2 align-items-center">
        {{ _header.h1(header is not null ? header|trans : 'sylius.ui.edit'|trans ~ ' ' ~ singularName|trans) }}
    </div>
</div>
