{% from '@SyliusShop/shared/macro/order/state.html.twig' import label %}

{% set state = hookable_metadata.context.order.shippingState %}

{% if state != 'cart' %}
    <div {{ sylius_test_html_attribute('order-shipment-state') }}>
        {{ label(state) }}
    </div>
{% endif %}
