{% set main_hook = hook_name(hookable_data.parent_main_hook, 'rules') %}
{% set fallback_hook = hook_name(hookable_data.parent_fallback_hook, 'rules') %}

<div class="col-12 col-md-6 mb-3">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                {{ 'sylius.ui.rules'|trans }}
            </div>
        </div>
        <div class="card-body">
            <div class="row align-items-center">
                {{ form_row(hookable_data.form.rules, {label: false}) }}

                {% hook [main_hook, fallback_hook] with hookable_data|merge({
                    parent_main_hook: main_hook,
                    parent_fallback_hook: fallback_hook,
                }) %}
            </div>
        </div>
    </div>
</div>
