{% form_theme form 'SyliusAttributeBundle::attributeCollection.html.twig' %}

<div class="tab-pane" id="attributes">
    <div data-form-type="collection" {{ block('widget_container_attributes') }}>
        <div data-form-collection="list" class="collection-list">
            {{ form_row(form.attributes, { 'label': false }) }}
        </div>
    </div>
    <br>
    <a href="#" class="btn btn-success btn-block" data-toggle="modal" data-target="#attributes-modal">
        <i class="glyphicon glyphicon-plus"></i>
        {{ 'sylius.form.attribute.add'|trans }}
    </a>
</div>
