{% form_theme form 'SyliusWebBundle:Backend:forms.html.twig' %}

<div class="tab-pane" id="categorization">
    {{ form_row(form.mainTaxon) }}
{% for taxonomyForm in form.taxons %}
    {{ form_row(taxonomyForm) }}
{% endfor %}
</div>
