{% form_theme form 'SyliusWebBundle:Backend:forms.html.twig' %}

<div class="tab-pane" id="categorization">
    {{ form_widget(form.mainTaxon, {'attr': {'class' : 'autocomplete'}}) }}
    {{ form_row(form.taxons) }}
</div>
