<div class="tab-pane" id="images">
    <div id="sylius-assortment-product-images" data-toggle="modal-gallery" data-target="#modal-gallery" class="collection-container">
        {{ form_widget(form.masterVariant.images) }}
    </div>
</div>
