{% form_theme form 'SyliusWebBundle:Backend:forms.html.twig' %}

<div class="tab-pane active" id="main">
    {{ form_row(form.translations, {'attr': {'class': 'input-lg'}}) }}
    {{ form_row(form.code) }}
    {{ form_row(form.restrictedZone) }}
    {{ form_row(form.variantSelectionMethod) }}
</div>
