<ul class="nav nav-tabs">
    <li class="active"><a href="#main" data-toggle="tab">Product</a></li>
    {% if not product.hasVariants %}
    <li><a href="#options" data-toggle="tab">Options</a></li>
    {% endif %}
    <li><a href="#properties" data-toggle="tab">Properties</a></li>
    <li><a href="#categorization" data-toggle="tab">Categorization</a></li>
    <li><a href="#images" data-toggle="tab">Images</a></li>
</ul>
