<div class="card mb-3">
    <div class="card-header">
        <div class="card-title">
            {{ 'sylius.ui.details'|trans }}
        </div>
    </div>
    <div class="card-body">
        <div>
            {% hook 'general' %}
        </div>
    </div>
</div>
