{% set form = hookable_metadata.context.form %}

<div class="col-12 col-md-6">
    {{ form_row(form.gatewayConfig.config.password, sylius_test_form_attribute('password')|merge({ label_attr: { class: 'checkbox-switch' } })) }}
</div>
