<div class="col-12 col-md-6">
    {{ form_row(hookable_data.form.gatewayConfig.config.signature, sylius_test_form_attribute('signature')|merge({ label_attr: { class: 'checkbox-switch' } })) }}
</div>
