{% set main_event = main_event ~ '.grid' %}
{% set fallback_event = fallback_event ~ '.grid' %}

<div class="page-body">
    <div class="container-xl">
        {{ sylius_template_event(
            [main_event, fallback_event],
            _context|merge({
                main_event: main_event,
                fallback_event: fallback_event,
            })
        ) }}
    </div>
</div>
