{%
    set viewOptions = {
    accepted: { color: 'bg-green-lt' },
    new: { color: 'bg-blue-lt' },
    rejected: { color: 'bg-red-lt' },
}
%}

{% set value = 'sylius.ui.' ~ data %}

<span class="badge {{ viewOptions[data]['color'] }}">
    {{ value|trans }}
</span>
