<div class="page-body">
    <div class="container-xl">
        <div class="row">
            <div class="col-12 col-lg-4">
                {% hook 'sections#left' %}
            </div>
            <div class="col-12 col-lg-8">
                {% hook 'sections#right' %}
            </div>
        </div>
    </div>
</div>
