{% for name, attributeType in types %}
    <a href="{{ path('sylius_admin_product_attribute_create', { 'type': name }) }}" id="{{ name }}" class="item">
        {% set label = 'sylius.form.attribute_type.' ~ attributeType.type %}
        {{ label|trans }}
    </a>
{% endfor %}
