{% import '@SyliusAdmin/shared/helper/address.html.twig' as _address %}

{% set order = hookable_metadata.context.resource %}

{% if order.billingAddress is not null %}
    <div>
        <strong>{{ 'sylius.ui.billing_address'|trans }}</strong>
    </div>
    <div class="mb-3" {{ sylius_test_html_attribute('billing-address') }}>
        {{ _address.default(order.billingAddress) }}
    </div>
{% endif %}
