{% import '@SyliusAdmin/common/helper/header.html.twig' as _header %}

{% if hookable_metadata.context.metadata is defined and hookable_metadata.context.configuration is defined %}
    {% set configuration = hookable_metadata.context.configuration %}
    {% set metadata = hookable_metadata.context.metadata %}

    {% set singularName = hookable_metadata.configuration.resource_name|default(metadata.applicationName ~ '.ui.' ~ _context.metadata.name) %}
    {% set header = hookable_metadata.configuration.header|default(null) %}
{% else %}
    {% set singularName = hookable_metadata.configuration.resource_name %}
    {% set header = hookable_metadata.configuration.header %}
{% endif %}

<div class="col-12 col-md-6">
    <div class="d-md-flex gap-2 align-items-center">
        {{ _header.h1(header is not null ? header|trans : 'sylius.ui.edit'|trans ~ ' ' ~ singularName|trans) }}
    </div>
</div>
