{% if paths.cancel is not null %}
    {% set cancelPath = paths.cancel|split('?')[0] %}
{% else %}
    {% set cancelPath = null %}
{% endif %}

<div class="ui hidden divider"></div>
<div class="ui buttons">
    <button class="ui labeled icon primary button" type="submit"><i class="plus icon"></i>{{- 'sylius.ui.create'|trans -}}</button>
    {% include '@SyliusUi/Form/Buttons/_cancel.html.twig' with {'path': sylius_generate_redirect_path(cancelPath)} %}
</div>
