{% import "@SyliusShop/shared/macro/money.html.twig" as money %}

{% set order = hookable_metadata.context.order %}

<tr>
    <td>{{ 'sylius.ui.discount'|trans }}:</td>
    <td class="text-end">{{ money.convertAndFormat(order.orderPromotionTotal) }}</td>
</tr>
