<div class="card mb-3">
    <div class="card-header">
        <h2 id="productMedia" class="card-title">
            {{ 'sylius.ui.media'|trans }} <span class="badge">{{ 'sylius.ui.work_in_progress'|trans }}</span>
        </h2>
    </div>
    <div class="card-body">
        <div class="row mb-4">
            <div class="col-auto">
                <span class="avatar avatar-xl" style="background-image: url(https://picsum.photos/500/500)"></span>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="type" class="form-label      ">Type</label>
                    <input type="text" id="type" value="main" class="form-control      ">
                </div>
                <div class="mb-3">
                    <button type="button" class="btn">
                        Remove
                    </button>

                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn" type="button">Add</button>
    </div>
</div>
