{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block content %}
<div class="page-header">
    {{ 'sylius.registration.confirmed.header'|trans|raw }}
</div>

<hr />
<div class="alert alert-success">
    {{ 'sylius.registration.confirmed.success'|trans }}
</div>
{% endblock %}
