{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Registration <small>Create an account in store</small></h1>
</div>

<form action="{{ path('fos_user_registration_register') }}" method="post" class="form-horizontal" novalidate>
    <fieldset class="well">
        {% for field in form %}
            {{ form_row(field) }}
        {% endfor %}
    </fieldset>
    <div class="form-actions clearfix">
        <div class="pull-right">
            {{ render(url('hwi_oauth_connect')) }}
        </div>
        <button type="submit" class="btn btn-success btn-lg"><i class="icon-user"></i> Register</button>
    </div>
</form>
{% endblock %}
