{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block content %}

<div class="center-form">
    <div class="page-header">
        <h1>Registration <small>Create an account</small></h1>
    </div>
    <form action="{{ path('fos_user_registration_register') }}" method="post" novalidate class="form-horizontal">
        {% for field in form %}
            {{ form_row(field) }}
        {% endfor %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary"><i class="icon-user"></i> Register</button>
        </div>
    </form>
</div>
{% endblock %}
