<h1 class="navbar-brand">
    <a href="{{ path('sylius_admin_dashboard') }}">
        <img src="{{ asset('build/admin/images/sylius-logo.svg', 'admin') }}" alt="Sylius" class="navbar-brand-image" />
    </a>
</h1>
