<div class="collapse navbar-collapse" id="sidebar-menu">
    {% include '@SyliusAdmin/shared/crud/common/sidebar/search.html.twig' %}
    {{ knp_menu_render('sylius.admin.main', {'template': '@SyliusAdmin/shared/crud/common/sidebar/menu/menu.html.twig', 'currentClass': 'active'}) }}
</div>
