{% from '@SyliusAdmin/shared/helper/icon.html.twig' import icon %}

<div class="input-group ps-2 pt-2 pb-3 menu-search">
    <button class="btn btn-sm" type="button" disabled data-menu-search-icon>{{ icon({icon: 'search', class: 'icon icon-tabler mx-1'}) }}</button>
    <button class="btn btn-sm" type="button" data-menu-search-clear>{{ icon({icon: 'x', class: 'icon icon-tabler mx-1'}) }}</button>
    <input class="form-control form-control-sm" placeholder="{{ 'sylius.ui.search_menu_item'|trans }}..." type="text" data-menu-search>
</div>
