<fieldset>
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.name, {'attr': {'class': 'input-lg'}}) }}
            {{ form_row(form.type) }}
        </div>
        <div class="col-md-6">
            <div class="control-group">
                {{ form_widget(form.members) }}
            </div>
        </div>
    </div>
</fieldset>
<hr>
{{ form_widget(form._token) }}
