<select id="zone_type" class="form-control">
    <option value="country">{{ 'sylius.form.zone.types.country'|trans }}</option>
    <option value="province">{{ 'sylius.form.zone.types.province'|trans }}</option>
    <option value="zone">{{ 'sylius.form.zone.types.zone'|trans }}</option>
</select>
