{% import '@SyliusUi/Macro/buttons.html.twig' as buttons %}

{% set path = options.link.url|default(path(options.link.route|default(grid.requestConfiguration.getRouteName('cancel')), options.link.parameters|default({'orderNumber': data.number}))) %}

{% if can_customer_cancel_order(data) == true %}
    <form action="{{ path }}" method="POST">
        <button class="button ui labeled icon red" id="cancel">
            <i class="icon {{ action.options.icon|default('credit card alternative') }}" ></i>
            {{ action.label }}
        </button>
    </form>
{% endif %}
