<html>
<head>
    <script type="text/javascript" src="{{ asset('bundles/syliustheme/asset.js') }}"></script>
</head>
<body>
<h1>Templates lame-test suite:</h1>

{% block base %}
    Default app template!
{% endblock base %}

{% block bundle %}{% endblock %}

<h1>Translations lame-test suite:</h1>

{{ 'key.subkey1'|trans({}, "DELETE") }} {{ 'key.subkey2'|trans({}, "DELETE") }}
</body>
</html>