{% set order = hookable_metadata.context.resource %}

<div>
    <div>
        <strong>{{ 'sylius.ui.language'|trans }}:</strong>
    </div>
    <div class="mb-3">
        {{ order.localeCode|sylius_locale_name }}
    </div>
</div>
