{% set order = hookable_data.resource %}

<div>
    <div>
        <strong>{{ 'sylius.ui.order.date'|trans }}:</strong>
    </div>
    <div class="mb-3">
        {{ order.checkoutCompletedAt|format_datetime }}
    </div>
</div>
