<div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-user"></i>
                <span class="hidden-xs">{{ app.user.customer.firstName }} {{ app.user.customer.lastName }}</span>
            </a>
            <ul class="dropdown-menu">
                <li class="user-footer">
                    <a href="{{ path('sylius_admin_logout') }}" class="btn btn-default btn-block btn-flat">
                        <i class="fa fa-sign-out"></i> {{ 'sylius.ui.sign_out'|trans }}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
