{% form_theme form '@SyliusUi/form/theme.html.twig' %}

<div class="ui middle aligned center aligned grid">
    <div class="column">
        {{ form_start(form, {'action': action|default('/'), 'attr': {'class': 'ui large loadable form', 'novalidate': 'novalidate'}}) }}
        {{ form_end(form, {'render_rest': true}) }}
    </div>
</div>
