{% import '@SyliusAdmin/Shared/Helper/button.html.twig' as _button %}

{% set hookable_context = get_hookable_context() %}
{% set hookable_configuration = get_hookable_configuration() %}

{% set resource = hookable_context.resource %}
{% set configuration = hookable_context.configuration %}
{% set form = hookable_context.form %}

{% set route = configuration.vars.route|default(null) %}
{% set indexRoute = configuration.vars.index.route|default(null) %}
{% set index_url = path(
    indexRoute.name|default(_context.configuration.getRouteName('index')),
    indexRoute.parameters|default(route.parameters|default({}))
) %}

{% form_theme form '@SyliusAdmin/Shared/form_theme.html.twig' %}

<div class="page-body">
    <div class="container-xl">
        {% block content %}
            {% set renderRest = hookable_configuration.render_rest %}

            {% if renderRest %}
                <div class="card">
                <div class="card-body">
            {% endif %}
            {{ form_start(form, {'action': path(configuration.vars.route.name|default(configuration.getRouteName('update')), configuration.vars.route.parameters|default({ 'id': resource.id })), 'attr': {'class': 'ui loadable form', 'novalidate': 'novalidate', 'id': form.vars.id}}) }}
            {% block form_content %}
                <input type="hidden" name="_method" value="PUT"/>

                {% hook 'form' %}
            {% endblock %}
            {{ form_end(form, {'render_rest': renderRest}) }}
            {% if renderRest %}
                </div>
                <div class="card-footer">
                    <div class="row align-items-center">
                        <div class="col"></div>
                        <div class="col-auto">
                            {{ _button.cancel({ text: 'sylius.ui.cancel'|trans, url: index_url, class: 'btn btn-ghost-secondary' }) }}
                            {{ _button.primary({ text: 'sylius.ui.update'|trans, type: 'submit', form: form.vars.id }) }}
                        </div>
                    </div>
                </div>
                </div>
            {% endif %}
        {% endblock %}
    </div>
</div>
