<li>
    <button class="dropdown-item"
            data-action="live#action:prevent"
            data-live-action-param="moveUp"
            data-live-taxon-id-param="__TAXON_ID__"
        {{ sylius_test_html_attribute('move-up') }}
    >
        {{ 'sylius.ui.move_up'|trans }}
    </button>
</li>
