{% from '@SyliusAdmin/Macro/translationForm.html.twig' import translationForm %}

<div class="ui segment">
    {{ form_errors(form) }}
    <div class="two fields">
        {{ form_row(form.code) }}
        {{ form_row(form.name) }}
    </div>
    {{ translationForm(form.translations) }}
</div>
