{% from '@SyliusAdmin/Macro/translationForm.html.twig' import translationForm %}

<div class="ui one column stackable grid">
    <div class="column">
        {{ form_errors(form) }}
        <div class="two fields">
            {{ form_row(form.code) }}
            {{ form_row(form.name) }}
        </div>
    </div>
</div>
