{% from '@SyliusAdmin/shared/helper/icon.html.twig' import icon as _icon %}

{% if true == data %}
    <div class="text-center" {{ sylius_test_html_attribute('status-enabled') }}>{{ _icon({ icon: 'check', class: 'icon text-green' }) }}</div>
{% else %}
    <div class="text-center" {{ sylius_test_html_attribute('status-disabled') }}>{{ _icon({ icon: 'x', class: 'icon icon-sm text-secondary' }) }}</div>
{% endif %}
