{%
    set viewOptions = {
    cancelled: { color: 'bg-red-lt' },
    cart: { color: 'bg-blue-lt' },
    ready: { color: 'bg-blue-lt' },
    shipped: { color: 'bg-green-lt' },
}
%}

{% set value = 'sylius.ui.' ~ data %}

<span class="badge {{ viewOptions[data]['color'] }}">
    {{ value|trans }}
</span>
