{% import 'SyliusWebBundle:Frontend/Macros:buttons.html.twig' as buttons %}
{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block content %}

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Payment method</th>
                <th>State</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="payments">
            {% for payment in order.payments %}
                <tr>
                    <th scope="row">{{ payment.id }}</th>
                    <td>{{ payment.method.name }}</td>
                    <td>{{ payment.state }}</td>
                    <td>
                        {% if 'new' == payment.state %}
                            <a href="{{ url('sylius_order_purchase', { 'paymentId': payment.id }) }}">Pay</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
