{% from '@SyliusAdmin/shared/helper/icon.html.twig' import icon %}

{% set user = hookable_metadata.context.resource.user %}

{% if user != null %}
    <a
        class="dropdown-item"
        href="{{ path('sylius_admin_impersonate_user', {'username': user.username}) }}"
        {{ sylius_test_html_attribute('customer-actions-impersonate') }}
    >
        {{ icon({ icon: 'spy', class: 'icon dropdown-item-icon icon-tabler' }) }}
        {{ 'sylius.ui.impersonate'|trans }}
    </a>
{% endif %}
