<a class="dropdown-item" href="{{ path('sylius_admin_customer_order_index', {'id': hookable_metadata.context.resource.id}) }}">
    {{ ux_icon('tabler:shopping-bag', {'class': 'icon dropdown-item-icon'}) }}
    {{ 'sylius.ui.show_orders'|trans }}
</a>
