<div>
    {% for payment_form in form.payments %}
        {% include '@SyliusShop/checkout/select_payment/payment.html.twig' with {'form': payment_form} %}
    {% else %}
        {% include '@SyliusShop/checkout/select_payment/unavailable.html.twig' %}
    {% endfor %}
</div>
