<div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-0 col-xl-4 offset-xl-1 order-lg-1">
    <div class="d-flex justify-content-center align-items-center h-100 px-3">
        <div class="w-100 py-lg-5 mb-5 my-lg-5">
            {% hook 'login_container' %}
        </div>
    </div>
</div>
