{% if data.user is not null %}
    {% if data.user.enabled %}
        <span class="ui teal label">
            {{ 'sylius.ui.yes_label'|trans }}
        </span>
    {% else %}
        <span class="ui red label">
            {{ 'sylius.ui.no_label'|trans }}
        </span>
    {%  endif %}
{% else %}
    <span class="ui teal label">
        {{ 'sylius.ui.no_account'|trans }}
    </span>
{% endif %}
