<div class="column">
    {{ sylius_template_event('sylius.admin.customer.form.first_column', _context) }}
</div>
<div class="column">
    {{ sylius_template_event('sylius.admin.customer.form.second_column', _context) }}
</div>
