<div class="ui segment">
    {{ sylius_template_event('sylius.admin.customer.customer_details', _context) }}
</div>
<div class="ui segment">
    {{ sylius_template_event('sylius.admin.customer.extra_information', _context) }}
</div>
