{% if block.filter %}
    {% set filter = block.filter %}
{% else %}
    {% set filter = "cmf_block" %}
{% endif %}

{% block block %}
    <a href="{{ block.image.id | imagine_filter(filter) }}" title="{{ block.label|default('') }}">
    <img src="{{ block.image.id | imagine_filter(filter) }}" alt="{{ block.label }}" />
    </a>
{% endblock %}
