<div class="h2 mb-5">{{ 'sylius.ui.you_may_also_like'|trans }}</div>
{{ render(url('sylius_shop_partial_product_index_latest', {'count': 4, 'template': '@SyliusShop/shared/product/horizontal_list.html.twig'})) }}
