{% import "@SyliusShop/shared/macro/money.html.twig" as money %}

{% set order = hookable_metadata.context.order %}

{% if order.currencyCode is not same as(sylius.currencyCode) %}
    <tr>
        <th scope="row" class="h5 text-end" {{ sylius_test_html_attribute('summary-order-total') }}>
            {{ 'sylius.ui.total_in_base_currency'|trans }}:
        </th>
        <td class="h5 text-end" {{ sylius_test_html_attribute('summary-order-total') }}>
            {{ money.format(order.total, order.currencyCode) }}
        </td>
    </tr>
{% endif %}
