{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>{{ 'sylius.checkout.purchase.header'|trans|raw }}</h1>
</div>

{% include 'SyliusWebBundle:Frontend/Checkout:_progressBar.html.twig' %}

<p>This is dummy purchase step from the core bundle.</p>
<p>
    It does not communicate with any real gateways. What it does is simply change payment state to completed
</p>
<p>
    There are two way to replace it with real payment gateway:
    <ul>
        <li>Setup sylius payum bundle and set overwrite_purchase_step to true in the config.yml</li>
        <li>Extend purchase step from the core bundle and overwrite initializePurchase and finalizePurchase methods with your own logic.</li>
    </ul>

    <div class="form-horizontal">
        <div class="form-actions">
            <a href="{{ path('sylius_checkout_display', {'stepName': context.previousStep.name}) }}" class="btn btn-lg"><i class="icon-chevron-left"></i> {{ 'sylius.checkout.back'|trans }}</a> &nbsp;
            <a href="{{ path('sylius_checkout_forward', {'stepName': context.currentStep.name}) }}" class="btn btn-lg btn-success">I am OK to use dummy payment <i class="icon-chevron-right"></i></a> &nbsp;
        </div>
    </div>
</p>

{% endblock %}
