{% from '@SyliusAdmin/shared/helper/icon.html.twig' import icon as _icon %}

{% set variant = hookable_metadata.context.variant %}

<td>
    <div class="btn-collapse collapsed" data-bs-toggle="collapse" href="#product-variant-details-{{ variant.code }}">
        <div class="btn btn-icon icon-chevron-right">{{ _icon({ icon: 'chevron-right' }) }}</div>
        <div class="btn btn-icon icon-chevron-down">{{ _icon({ icon: 'chevron-down' }) }}</div>
    </div>
</td>
