{% set variant = hookable_metadata.context.variant %}

<td class="text-center">
    <span>
        {% include '@SyliusAdmin/shared/field/boolean.html.twig' with { data: variant.enabled } %}
    </span>
</td>
