{% set variant = hookable_metadata.context.variant %}
{% set product = hookable_metadata.context.product %}
{% import '@SyliusAdmin/shared/helper/product_image.html.twig' as product_image %}

<td>
    <div class="d-flex gap-3 align-items-center">
        <div>
            {{ product_image.image(product) }}
        </div>
        <div>
            <div><strong {{ sylius_test_html_attribute('product-variant-name') }}>{{ variant.name }}</strong></div>
            <div class="text-muted small">{{ variant.code }}</div>
        </div>
    </div>
</td>
