{% extends 'SyliusCartBundle:Frontend:layout.html.twig' %}

{% block content %}

<h2> Zawartość Twojego koszyka... </h2>
<h3> &nbsp; Modyfikuj ilość zamówionych przedmiotów lub przejdź do kasy. </h3>

    <form method="post" action="{{ path('sylius_cart_update') }}" name="form_cart">

    {% for item in cart.items %}
    
        {% include 'SyliusCartBundle:Frontend/Cart:item.html.twig' %}
    
    {% else %}
    
        <div class="infoBox">
            
            Twój koszyk jest pusty...
        
        </div>
    
    {% endfor %}
    
    <input type="submit" class="submit" value="zapisz zmiany" />
    
    </form>
    
    <br />
    
    <a href="{{ path('sylius_cart_clear') }}" class="button">opróżnij koszyk</a> <a href="{{ path('sylius_checkout_show', {'route': "products"}) }}" class="button">przejdź do kasy</a>

{% endblock %}