<div class="table-responsive border-bottom mb-4" style="--bs-border-style: dashed">
    <table class="table table-borderless table-space align-middle mb-0" {{ sylius_test_html_attribute('order-table') }}>
        {% hook 'table' %}
    </table>
</div>
