<div class="col-12 col-lg-3">
    <div id="side-nav" class="sticky-md-top" style="top: 7.6rem;">
        <div class="list-group bg-white mb-5" role="tablist">
            {% hook 'side_navigation' %}
        </div>
    </div>
</div>
