{% import "@SyliusAdmin/shared/helper/field/boolean.html.twig" as boolean %}

{% set variant = hookable_metadata.context.variant %}

<td class="text-center">
    <span>
        {{ boolean.default(variant.tracked) }}
    </span>
</td>
