{% set from_a_to_z_path = path(hookable_metadata.context.route, hookable_metadata.context.route_parameters|merge({'sorting': {'name': 'asc'}, 'criteria': hookable_metadata.context.criteria})) %}

<a class="dropdown-item" href="{{ from_a_to_z_path }}" data-text="{{ 'sylius.ui.from_a_to_z'|trans|lower }}">{{ 'sylius.ui.from_a_to_z'|trans }}</a>
