{% set oldest_first_path = path(hookable_metadata.context.route, hookable_metadata.context.route_parameters|merge({'sorting': {'createdAt': 'asc'}, 'criteria': hookable_metadata.context.criteria})) %}

<a class="dropdown-item" href="{{ oldest_first_path }}" data-text="{{ 'sylius.ui.oldest_first'|trans|lower }}">{{ 'sylius.ui.oldest_first'|trans }}</a>
