<a href="{{ image.path|imagine_filter('sylius_shop_product_original') }}">
    <img src="{{ path }}" data-large-thumbnail="{{ image.path|imagine_filter('sylius_shop_product_large_thumbnail') }}" alt="{{ product.name }}" />
</a>
