{% import "@SyliusShop/shared/macro/money.html.twig" as money %}

{% set order = hookable_metadata.context.order %}

<tr>
    <td class="border-top pt-4 h5">{{ 'sylius.ui.order_total'|trans }}:</td>
    <td class="border-top pt-4 text-end h5">{{ money.convertAndFormat(order.total) }}</td>
</tr>
