{% set variant = hookable_metadata.context.variant %}

<div class="row">
    <div class="col-12 col-md-4 fw-bold">{{ 'sylius.ui.depth'|trans }}:</div>
    <div class="col-12 col-md-8">
        {% if variant.depth is null %}
            <i>{{ 'sylius.ui.no_depth'|trans }}</i>
        {% else %}
            {{ variant.depth }}
        {% endif %}
    </div>
</div>
