{% set variant = hookable_metadata.context.variant %}

<div class="row">
    <div class="col-12 col-md-4 fw-bold">{{ 'sylius.ui.height'|trans }}:</div>
    <div class="col-12 col-md-8">
        {% if variant.height is null %}
            <i>{{ 'sylius.ui.no_height'|trans }}</i>
        {% else %}
            {{ variant.height }}
        {% endif %}
    </div>
</div>
