{% set variant = hookable_metadata.context.variant %}

<div class="row">
    <div class="col-12 col-md-4 fw-bold">{{ 'sylius.ui.width'|trans }}:</div>
    <div class="col-12 col-md-8">
        {% if variant.width is null %}
            {{ 'sylius.ui.no_width'|trans }}
        {% else %}
            {{ variant.width }}
        {% endif %}
    </div>
</div>
