{% set shipment = hookable_metadata.context.shipment %}

{% if shipment.state == 'shipped' %}
    {% set resend_path = path('sylius_admin_shipment_resend_confirmation_email', {'id': shipment.id, '_csrf_token': csrf_token(shipment.id)}) %}
    <a class="btn" href="{{ resend_path }}" {{ sylius_test_html_attribute('resend-shipment-confirmation-email') }}>
        {{ 'sylius.ui.resend_the_shipment_confirmation_email'|trans }}
    </a>
{% endif %}
