{% import '@SyliusAdmin/Shared/Helper/avatar.html.twig' as avatar %}
{% import '@SyliusAdmin/Shared/Helper/dropdown.html.twig' as dropdown %}

{% set dropdown_trigger %}
    <div class="d-flex lh-1 text-reset p-0 cursor-pointer">
        {% set avatarPath = user.avatar.path|imagine_filter('sylius_admin_admin_user_avatar_thumbnail') %}
        {{ avatar.small(avatarPath) }}
        <div class="d-none d-xl-block ps-2">
            <div class="mb-1 small text-muted">Hello</div>
            <div>{{ user.firstName }}</div>
        </div>
    </div>
{% endset %}

{# TODO: Consider moving it to a separate method or create a Twig Component from it #}
{% set menu = [
    {
        "title": "My account",
        "url": path('sylius_admin_admin_user_update', {'id': user.id}),
        "icon": "user",
    },
    {
        "title": "Logout",
        "url": path('sylius_admin_logout'),
        "icon": "logout",
    },
    {
        "type": "divider"
    },
    {
        "title": "Documentation",
        "url": "https://docs.sylius.com",
        "class":"small text-muted"
    },
    {
        "title": "Join Slack",
        "url": "https://sylius.com/slack",
        "class": "small text-muted"
    },
    {
        "title": "Report an issue",
        "url": "https://github.com/Sylius/Sylius/issues",
        "class": "small text-muted"
    },
] %}
{{ dropdown.list({ customTrigger: dropdown_trigger, direction: 'down-end' }, menu) }}
