<span class="ui small header">
    {% set product = data.product %}
    {{ data.name is null ? product.name : data.name }}
</span>
{% if data.options|length > 0 %}
    <br>
    <div class="ui horizontal divided list">
        {% for option in data.options %}
            <div class="item">
                {{ option.value }}
            </div>
        {% endfor %}
    </div>
{% endif %}
