{% from '@SyliusAdmin/shipment/macro/state_label.html.twig' import label %}

{% set shipment = hookable_metadata.context.resource %}

<div class="col-12 col-md-6">
    <div class="d-md-flex gap-2 align-items-center">
        <h1 class="page-title">
            {{ 'sylius.ui.shipment_for_order'|trans }}
            #{{ shipment.order.number }}
        </h1>
        {{ label(shipment.state) }}
    </div>
</div>
