<div class="card mb-3">
    <div class="card-header">
        <div class="card-title">{{ 'sylius.ui.look_and_feel'|trans }}</div>
    </div>

    <div class="card-body">
        <div class="row">
            {% hook 'look_and_feel' %}
        </div>
    </div>
</div>
