<div class="card mb-3">
    <div class="card-header">
        <div class="card-title">{{ 'sylius.ui.omnibus'|trans }}</div>
    </div>

    <div class="card-body">
        <div class="row">
            {% hook 'omnibus' with { form: hookable_metadata.context.form.channelPriceHistoryConfig } %}
        </div>
    </div>
</div>
