{% from '@SyliusAdmin/order/macro/order_payment_state_label.html.twig' import label %}

{% set order = hookable_metadata.context.resource %}

<div class="ms-auto">
    <span class="ms-2" {{ sylius_test_html_attribute('order-payment-state') }}>
        {{ label(order.paymentState) }}
    </span>
</div>
