<div class="tab-pane" id="product-attributes" role="tabpanel" tabindex="0">
    <div class="card mb-3">
        <div class="card-header">
            <h2 id="product-attributes" class="card-title">
                {{ 'sylius.ui.attributes'|trans }} <span class="badge">{{ 'sylius.ui.work_in_progress'|trans }}</span>
            </h2>
        </div>
        <div class="card-body py-4 border-bottom">
        </div>
        <div class="row">
            <div class="col-12 col-sm-4">
                <div class="border-end">
                    <div class="list-group list-group-flush" role="tablist">
                        <div class="py-2 cursor-pointer list-group-item list-group-item-action active" data-bs-toggle="tab" data-bs-target="#t_shirt_brand" aria-selected="true" role="tab">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>T-shirt brand</div>
                                <div style="transform: translateX(1rem)">
                                    <button type="button" class="btn btn-sm border-0 shadow-none">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="text-muted" width="12" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M18 6l-12 12"></path>
                                            <path d="M6 6l12 12"></path>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-8">
                <div class="py-3 px-5">
                    <div class="tab-content">
                        <div class="tab-pane show active" id="t_shirt_brand" role="tabpanel">
                            <div class="d-flex gap-2 mb-3">
                                <div><span class="flag flag-sm flag-country-gb me-1"></span></div>
                                <div class="flex-grow-1">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <label class="form-label      ">T-shirt brand</label>
                                        <small class="text-muted cursor-pointer">apply to all</small>
                                    </div>
                                    <input type="text" value="lorem ipsum" class="form-control      ">
                                </div>
                            </div>
                            <div class="d-flex gap-2 mb-3">
                                <div><span class="flag flag-sm flag-country-de me-1"></span></div>
                                <div class="flex-grow-1">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <label class="form-label      ">T-shirt brand</label>
                                        <small class="text-muted cursor-pointer">apply to all</small>
                                    </div>
                                    <input type="text" value="lorem ipsum" class="form-control      ">
                                </div>
                            </div>
                            <div class="d-flex gap-2 mb-3">
                                <div><span class="flag flag-sm flag-country-fr me-1"></span></div>
                                <div class="flex-grow-1">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <label class="form-label      ">T-shirt brand</label>
                                        <small class="text-muted cursor-pointer">apply to all</small>
                                    </div>
                                    <input type="text" value="lorem ipsum" class="form-control      ">
                                </div>
                            </div>
                            <div class="d-flex gap-2 mb-3">
                                <div><span class="flag flag-sm flag-country-pl me-1"></span></div>
                                <div class="flex-grow-1">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <label class="form-label      ">T-shirt brand</label>
                                        <small class="text-muted cursor-pointer">apply to all</small>
                                    </div>
                                    <input type="text" value="lorem ipsum" class="form-control      ">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
