{% import '@SyliusAdmin/Shared/Helper/translations.html.twig' as _translations %}

<div class="tab-pane" id="product-translations" role="tabpanel" tabindex="0">
    <div class="bg-white mb-3">
        {{ _translations.default(form.translations) }}
    </div>
</div>
