<div class="tab-pane" id="product-associations" role="tabpanel" tabindex="0">
    <div class="card mb-3">
        <div class="card-header">
            <h2 class="card-title">
                {{ 'sylius.ui.associations'|trans }} <span class="badge">{{ 'sylius.ui.work_in_progress'|trans }}</span>
            </h2>
        </div>
    </div>
</div>
