<h1>Creating tax category <small>Use the form below to create new taxation category</small></h1>
<hr />
<form action="{{ path('sylius_taxation_category_create') }}" method="post" class="form-horizontal" novalidate>
    {% include 'SyliusTaxationBundle:TaxCategory:_form.html.twig' %}
    <div class="form-actions">
        <input type="submit" value="create taxation category" class="btn btn-primary btn-large" />
        <a href="{{ path('sylius_taxation_category_index') }}" class="btn btn-large">cancel</a>
    </div>
</form>
