{% import 'SyliusResourceBundle:Macros:actions.html.twig' as actions %}

<h1>Editing tax category <small>{{ tax_category.name }}</small></h1>
<hr />

<form action="{{ path('sylius_tax_category_update', {'id': tax_category.id}) }}" method="post" class="form-horizontal" novalidate>
    {% include 'SyliusTaxationBundle:TaxCategory:_form.html.twig' %}
    {{ actions.update(path('sylius_tax_category_show', {'id': tax_category.id})) }}
</form>
