{% set variant = hookable_metadata.context.product|sylius_resolve_variant %}
{% set appliedPromotions = hookable_metadata.context.appliedPromotions|default({}) %}
{% set withDescription = hookable_metadata.context.withDescription|default({}) %}

{% if variant is not null %}
    {% set appliedPromotions = variant.getChannelPricingForChannel(sylius.channel).getAppliedPromotions() %}
    {% set withDescription = true %}

    <div data-applied-promotions-locale="{{ sylius.localeCode }}">
        {% for appliedPromotion in appliedPromotions %}
            <div class="mb-3">
                <div class="badge bg-success-subtle text-success" style="transform: translateY(-1px)" data-test-promotion-label>{{ appliedPromotion.label }}</div>
                {% if appliedPromotion.description and withDescription %}<small class="text-success">{{ appliedPromotion.description }}</small>{% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}
