{% extends '@SyliusCore/Email/layout.html.twig' %}

{% block subject %}
    {{ 'sylius.email.user.account_verification.subject'|trans({}, null, localeCode)|raw }}
{% endblock %}

{% block content %}
    <div style="text-align: center;">
        <span>{{ 'sylius.email.user.account_verification.message'|trans({}, null, localeCode) }}{{ user.emailVerificationToken }}</span>
    </div>
{% endblock %}
