{% block body %}
    {% autoescape false %}
        {% if use_webpack %}
            {% set logo = sylius_channel_url(asset('build/shop/images/logo.png', 'shop'), channel) %}
        {% else %}
            {% set logo = sylius_channel_url(asset('assets/shop/img/logo.png'), channel) %}
        {% endif %}

        <div style="font-family: sans-serif; background: #eee; padding-top: 30px; padding-bottom: 30px; font-size: 16px; color: #333; line-height: 1.5">
            <div style="max-width: 600px; margin: 20px auto;">
                <div style="margin-bottom: 30px; text-align: center;">
                    {% if sylius_bundle_loaded_checker('SyliusShopBundle') %}
                        {% set url = sylius_channel_url(path('sylius_shop_homepage', {'_locale': localeCode}), channel) %}
                        <a href="{{ url|raw }}">
                            <img src="{{ logo }}" alt="Sylius" style="width: 170px">
                        </a>
                    {% else %}
                        <img src="{{ logo }}" alt="Sylius" style="width: 170px">
                    {% endif %}
                </div>

                <div style="background: #fff; padding: 40px 30px;">
                    {% block content %}{% endblock %}
                </div>

                <div style="text-align: center; padding: 20px 0;">
                    <a href="https://sylius.com" target="_blank" style="color: #1abb9c; text-decoration: none;">sylius.com</a>
                </div>
            </div>
        </div>
    {% endautoescape %}
{% endblock %}
