{% block subject %}
    {% autoescape false %}
    {{ 'user.password_reset.subject'|trans }}
    {% endautoescape %}
{% endblock %}
{% block body %}
    <h3>Hello {{ user.username }}</h3>

    To reset your password - please visit {{ url('sylius_user_password_reset', { 'token' : user.confirmationToken}) }}
    <br/><br/>
    Regards,<br/>
    the Team.
{% endblock %}
