{% set order = hookable_metadata.context.order %}

<div class="d-flex flex-column flex-lg-row justify-content-center gap-2 mt-4">
    {% if order.customer.user is not null %}
        {% hook 'buttons#customer' %}
    {% else %}
        {% hook 'buttons#guest' %}
    {% endif %}
</div>
