{% set product = hookable_metadata.context.product %}

{% if product.isSimple() %}
    {% set variant = product.variants.first %}
    {% set channels = hookable_metadata.context.channels %}

    <table class="table table-vcenter">
        <tr class="bg-gray-400">
            <td colspan="9" class="p-0 border-0">
                <div class="py-3 px-5" id="product-variant-details-{{ variant.code }}">
                    {% hook 'simple_product' with { variant } %}
                </div>
            </td>
        </tr>
    </table>
{% endif %}
