<?xml version="1.0" encoding="UTF-8"?>

<!--

 This file is part of the Sylius package.

 (c) Paweł Jędrzejewski

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.

-->

<container xmlns="http://symfony.com/schema/dic/services" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <services>
        <service id="sylius.shop.menu_builder.account" class="Sylius\Bundle\ShopBundle\Menu\AccountMenuBuilder">
            <argument type="service" id="knp_menu.factory" />
            <argument type="service" id="event_dispatcher" />
            <tag name="knp_menu.menu_builder" method="createMenu" alias="sylius.shop.account" />
        </service>
    </services>
</container>
