<div class="channel">
    <span class="badge" style="background-color: {{ data.color|default('#000') }}"></span>

    <span class="text-nowrap">
        {{ data.name|default(data.code) }}
    </span>
</div>
