{% set taxon = hookable_metadata.context.taxon %}

{% if taxon.images.first %}
    <div class="mb-5">
        <img src="{{ asset(taxon.images.first.path|imagine_filter('sylius_shop_taxon_thumbnail')) }}"
             alt="{{ taxon.name }}"
             class="img-fluid"
        >
    </div>
{% endif %}
