<div class="row">
    <div class="card mb-3">
        <div class="card-body">
            <div id="statistics-chart" class="chart-lg" data-intervals="{{ _context.sales_summary.intervals|json_encode }}" data-sales="{{ _context.sales_summary.sales|json_encode }}"></div>
        </div>
    </div>
</div>
