{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% block content %}
<div class="page-header">
    <h1>{{ 'sylius.order.confirmed_header'|trans|raw }}</h1>
</div>
{{ alerts.info('sylius.order.confirmed_info'|trans) }}
{% endblock %}
