suites:
    main:
        namespace: Sylius\Bundle\InventoryBundle
        psr4_prefix: Sylius\Bundle\InventoryBundle
        src_path: .

runner.maintainers.errors.level: 14335 # E_ALL & ~E_USER_DEPRECATED ^ E_STRICT
