{% set lastError = get_hookable_context().last_error|default(null) %}

{% if lastError is not null %}
    <div class="alert alert-danger" {{ sylius_test_html_attribute('invalid-credentials-message') }}>
        {{ lastError.messageKey|trans }}
    </div>
{% endif %}
