{% if product.attributes|length > 0 %}
    {% embed '@SyliusShop/Shared/Accordion/accordionItem.html.twig' with { accordion_item_id: 'attributes' } %}

        {% block accordion_item_title %}
            <span {{ sylius_test_html_attribute('tab', 'attributes') }}>
                {{ 'sylius.ui.attributes'|trans }}
            </span>
        {% endblock %}

        {% block accordion_item_content %}
            {% include '@SyliusShop/Product/Show/Content/_attributesList.html.twig' %}
        {% endblock %}

    {% endembed %}
{% endif %}
