{% set form = hookable_metadata.context.form %}

<div>
    {{ form_start(form, {'action': path('sylius_shop_checkout_select_shipping'), 'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_errors(form) }}
    <input type="hidden" name="_method" value="PUT" />
    {% hook 'form' %}
    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
</div>
