<div>
    <h5 class="mb-4">{{ 'sylius.ui.shipment'|trans }} #{{ loop.index }}</h5>

    <div class="mb-5" {{ sylius_test_html_attribute('shipments') }}>
        {{ form_errors(form.method) }}

        {% for key, choice_form in form.method %}
            {% set fee = form.method.vars.shipping_costs[choice_form.vars.value] %}
            {% set method = form.method.vars.choices[key].data %}
            {% include '@SyliusShop/checkout/select_shipping/choice.html.twig' with {'form': choice_form, 'method': method, 'fee': fee} %}
        {% else %}
            {% include '@SyliusShop/checkout/select_shipping/unavailable.html.twig' %}
        {% endfor %}
    </div>
</div>
