{% import '@SyliusAdmin/Shared/Helper/money.html.twig' as _money %}

{% set currencies = sylius_channels_currencies() %}

{% for channelCode, channelConfiguration in hookable_data.action.configuration %}
    <div class="row">
        <div class="col-12 col-md-4 fw-bold">{{ channelCode }}</div>
        <div class="col-12 col-md-8">{{ _money.format(channelConfiguration[hookable_configuration.field], currencies[channelCode]) }}</div>
    </div>
{% endfor %}
