<div class="row">
    <div class="col-12 col-md-4 fw-bold">{{  hookable_configuration.label|trans }}</div>
    <div class="col-12 col-md-8">{{ hookable_data.action.configuration[hookable_configuration.field] }}</div>
</div>
