{% set path = options.link.url|default(path(options.link.route, options.link.parameters|default({}))) %}

{% set message = action.label %}

<a href="{{ path }}" class="dropdown-item">
    {% if message %}{{ message|trans }}{% endif %}
</a>
