{% if taxonId %}
    {% for productTaxon in product.productTaxons%}
        {% if taxonId == productTaxon.taxon.id %}
            <div style="width: 100%; text-align: center;">
                <div class="ui input position" style="width: 50px;">
                    <input
                        type="text"
                        value="{{ productTaxon.position }}"
                        name="productTaxons[{{ productTaxon.id }}]"
                        form="sylius-update-product-taxons"
                        class="sylius-product-taxon-position"
                        style="text-align: center;"
                        {{ sylius_test_html_attribute('product-name', productTaxon.product.name) }}
                    />
                </div>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}
