<div {{ attributes }} class="d-grid">
    <input
        name="product_attributes"
        data-model="selectedAttributeCodes"
        {{ stimulus_controller('product-attribute-autocomplete', {
            url: path('ux_entity_autocomplete', { alias: 'product_attribute', 'extra_options': extraOptions }),
            selectedAttributeCodes: selectedAttributeCodes|join(','),
        }) }}
    />
</div>
