<div {{ attributes }}>
    <div class="input-group mb-3">
        <input
            name="product_attributes"
            data-model="attributeCodes"
            {{ stimulus_controller('symfony/ux-autocomplete/autocomplete', {
                url: path('ux_entity_autocomplete', { alias: 'product_attribute' }),
            }) }}
        />
        <button type="button" class="btn btn-primary" data-action="live#action" data-action-name="prevent|addAttribute()">
            {{ 'sylius.ui.add'|trans }}
        </button>
    </div>
    <script>
        window.addEventListener('product_attribute_autocomplete:clear', () => {
            document.querySelector('input[name="product_attributes"]').tomselect.clear();
        });
    </script>
</div>
