{% set has_errors = slugField.vars.errors|length > 0 %}
<div class="{% if slugField.vars.required %}required {% endif %}field{% if has_errors %} error{% endif %} ui loadable form">
    {{ form_label(slugField) }}
    {% if slugField.vars.value == null %}
        {{ form_widget(slugField, {'attr': {'data-url': path('sylius_admin_ajax_generate_product_slug')}}) }}
    {% else %}
        {% set readonly = has_errors ? {} : {'readonly': 'readonly'} %}
        <div {% if not has_errors %}class="ui action input"{% endif %}>
            {{ form_widget(slugField, {'attr': {'data-url': path('sylius_admin_ajax_generate_product_slug')}|merge(readonly)}) }}
            {% if not has_errors %}
            <span class="ui icon button toggle-product-slug-modification">
                <i class="lock icon"></i>
            {% endif %}
        </span>
        </div>
    {% endif %}
    {{ form_errors(slugField) }}
</div>
