{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>{{ 'sylius.checkout.purchase.header'|trans|raw }}</h1>
</div>

{% include 'SyliusWebBundle:Frontend/Checkout:_progressBar.html.twig' %}

<p>
    This is dummy purchase set from core bundle.
    It is simply change payment state to completed
    To replace it with real payment you can:
    1) Setup sylius payum bundle and set overwrite_purchase_step to true
    2) Extend purchase step from core bundle and overwrite initializePurchase and finalizePurchase methods.

    <form method="POST">
        <input type="submit" value="Pay (I am OK to use dummy payment)"/>
    </form>
</p>

{% endblock %}
