<h4 class="ui horizontal section divider header">{{ product_association.type.name }}</h4>
<div id="sylius-product-association-{{ product_association.type.name }}">
{% include '@SyliusShop/Product/_horizontalList.html.twig' with {'products': product_association.associatedProducts} %}
</div>
