<div class="ui padded basic segment">
    <div class="ui breadcrumb">
        <a href="{{ path('sylius_shop_homepage') }}" class="section">Home</a>
        <div class="divider"> / </div>
        <div class="active section">{{ product.name }}</div>
    </div>
</div>

