<div data-applied-promotions-locale="{{ sylius.localeCode }}">
    {% for appliedPromotion in appliedPromotions %}
        <div>{{ appliedPromotion.label }}</div>
        <span>{% if appliedPromotion.description and withDescription %}{{ appliedPromotion.description }}{% endif %}</span>
    {% endfor %}
</div>
