<a href="#" class="ui fluid image">
    <img src="http://placehold.it/400x300" />
</a>
<div class="ui divider"></div>
<div class="ui small images">
    <a href="#" class="ui image">
        <img src="http://placehold.it/150x100" />
    </a>
    <a href="#" class="ui image">
        <img src="http://placehold.it/150x100" />
    </a>
    <a href="#" class="ui image">
        <img src="http://placehold.it/150x100" />
    </a>
</div>
