<a href="#" class="ui fluid image">
    {% set path = product.image is not null ? product.image.path|imagine_filter('sylius_shop_product_large_thumbnail') : 'http://placehold.it/400x300' %}

    <img src="{{ path }}" alt="" />
</a>
{% if product.images|length > 1 %}
<div class="ui divider"></div>
<div class="ui small images">
    {% for image in product.images %}
    {% set path = image.path is not null ? image.path|imagine_filter('sylius_shop_product_small_thumbnail') : 'http://placehold.it/200x200' %}
    <a href="#" class="ui image">
        <img src="{{ path }}" />
    </a>
    {% endfor %}
</div>
{% endif %}
