<div class="ui one column grid">
    <div class="center aligned column">
        <div class="ui massive red horizontal label" id="sylius-product-out-of-stock">
            <i class="remove icon"></i>{{ 'sylius.ui.out_of_stock'|trans }}
        </div>
    </div>
</div>
