{% set variant = product|sylius_resolve_variant %}

{% if variant is not null %}
    {% set appliedPromotions = variant.getChannelPricingForChannel(sylius.channel).getAppliedPromotions() %}
    {% include '@SyliusShop/Product/Show/_catalogPromotionLabels.html.twig' with {'appliedPromotions': appliedPromotions, 'withDescription': true} %}
{% endif %}

<div class="ui stackable grid" {{ sylius_test_html_attribute('product-price-content') }}>
    <div class="seven wide column">
        {% if not product.enabledVariants.empty() %}
            {% include '@SyliusShop/Product/Show/_price.html.twig' %}
        {% endif %}
    </div>
    <div class="nine wide right aligned column">
        <span class="ui sub header">{{ product.code }}</span>
    </div>
</div>
