<div class="ui text menu">
    <div class="item">
        <div class="ui star rating" data-rating="4" data-max-rating="5"></div>
    </div>
    <a href="#" class="item">
        4 Reviews
    </a>
    <a href="#" class="item">
        Add your review
    </a>
</div>
