<div class="ui compact text menu">
    <div class="header item">Share via</div>
    <a class="item">
        <i class="twitter icon"></i>
        Twitter
    </a>
    <a class="item">
        <i class="facebook icon"></i>
        Facebook
    </a>
    <a class="item">
        <i class="mail icon"></i>
        E-Mail
    </a>
</div>
