{% import '@SyliusAdmin/shared/helper/translations.html.twig' as translations %}

<div class="tab-pane" role="tabpanel" tabindex="0">
    <div class="bg-white mb-3">
        {{ translations.default(hookable_metadata.context.form.translations) }}
    </div>
</div>
