<div class="card mb-3">
    <div class="card-header">
        <div class="card-title">
            {{ 'sylius.ui.payload'|trans }}
        </div>
    </div>
    <div class="card-body">
        <pre {{ sylius_test_html_attribute('payload') }}>{{ hookable_metadata.context.resource.payload|json_encode(constant('JSON_PRETTY_PRINT')) }}</pre>
    </div>
</div>
