{% set order = hookable_metadata.context.order %}

<div class="d-flex">
    <div {{ sylius_test_html_attribute('order-currency-code') }}>
        {{ order.currencyCode }}
    </div>
    <div {{ sylius_test_html_attribute('order-locale-name') }}>
        {{ sylius.localeCode|sylius_locale_name }}
    </div>
</div>
