<h1 class="h5 mb-4">{{ 'sylius.ui.summary_of_your_order'|trans }}</h1>

<div class="card border-0 bg-body-tertiary mb-3">
    <div class="card-body d-flex flex-column gap-1">
        {% hook 'header' %}
    </div>
</div>
