{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <div class="ui hidden divider"></div>
    <div class="ui stackable grid" id="reviews">
        <div id="sylius-product-attributes">
            <i>Product comparison</i>
        </div>
    </div>
{% endblock %}
