{% extends 'SyliusReportBundle:Chart:layout.html.twig' %}

{% block javascripts %}
{{ parent() }}
{% javascripts output='assets/compiled/backend_report.js'
    'bundles/syliusreport/js/chart.js'
%}
    <script>
        var labels = document.getElementById("data").getAttribute("data-labels").split(" ");
        var values = document.getElementById("data").getAttribute("data-values").split(" ");

        var barChartData = {
            labels : labels,
            datasets : [
                {
                    fillColor : "rgba(220,220,220,0.5)",
                    strokeColor : "rgba(220,220,220,0.8)",
                    highlightFill: "rgba(220,220,220,0.75)",
                    highlightStroke: "rgba(220,220,220,1)",
                    data : values
                }
            ]
        }

        window.onload = function(){
            var ctx = document.getElementById("canvas").getContext("2d");
            window.myBar = new Chart(ctx).Bar(barChartData, {
                responsive: true,
                maintainAspectRatio: false
            });
        }
    </script>
{% endjavascripts %}
{% endblock %}

{% block content %}
    {{ parent() }}
    <div class="col-xs-12">
        <div class="row">
            <canvas id="canvas" height="450"></canvas>
            <div id="data" class="hidden" data-labels="{% for item in values %}{{ item.xAxis }}{% if loop.index != loop.length %} {% endif %}{% endfor %}" data-values="{% for item in values %}{{ item.yAxis }}{% if loop.index != loop.length %} {% endif %}{% endfor %}"></div>
        </div>
    </div>
{% endblock %}