<div class="mt-3 d-flex items-center">
    {{ form_widget(hookable_metadata.context.form.vars.button_delete, sylius_test_form_attribute('delete-image')|sylius_merge_recursive({attr: { class: 'btn btn-outline-danger w-100'}})) }}
</div>
