{% for translation_form in hookable_metadata.context.value_form.translations %}
    <div class="row">
        <div class="col">
            <div class="mt-3">
                {% if translation_form.vars.name is not null %}
                    <span class="flag flag-sm flag-country-{{ translation_form.vars.name|lower|split('_')|last }} me-3"></span>
                    {{ translation_form.vars.name|sylius_locale_name }}
                {% else %}
                    <span class="flag flag-sm flag-country-eu me-3"></span>
                {% endif %}
            </div>
        </div>
        <div class="col-9">
            <div class="d-flex">
                <div class="p-2 w-100">
                    {{ form_widget(
                        translation_form.value,
                        sylius_test_form_attribute('option-value-translation')
                    ) }}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
