<ul class="nav nav-pills nav-justified nav-form">
    <li><a href="{{ path('sylius_backend_general_settings') }}"> {{ 'sylius.settings.general_header'|trans|upper }}</a></li>
    <li><a href="{{ path('sylius_backend_taxation_settings') }}">{{ 'sylius.settings.taxation_header'|trans|upper }}</a></li>
</ul>
