{% from '@SyliusAdmin/shared/helper/icon.html.twig' import icon as _icon %}

<li>
    <a class="dropdown-item" href="#">
        {{ _icon({ icon: 'arrow-up-right', class: 'icon dropdown-item-icon icon-tabler' }) }}
        {{ 'sylius.ui.view_in_store'|trans }}
    </a>
</li>
