<button class="btn btn-icon btn-transparent px-0" data-bs-toggle="dropdown" aria-expanded="false">
    {{ ux_icon('tabler:user') }}
</button>
<ul class="dropdown-menu dropdown-menu-end">
    {% hook 'menu' %}
</ul>
