{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusProductBundle:Product:macros.html.twig' as macros %}

<h1>Products list <small>All products saved in the system</small></h1>
<hr />

<div class="well">
    {{ buttons.create(path('sylius_product_create'), 'create product') }}
</div>

{% if products.haveToPaginate()|default(false) %}
    {{ pagerfanta(products, 'twitter_bootstrap_translated') }}
{% endif %}

{{ macros.list(products) }}

{% if products.haveToPaginate()|default(false) %}
    {{ pagerfanta(products, 'twitter_bootstrap_translated') }}
{% endif %}
