{% from '@SyliusShop/Common/Macro/breadcrumb.html.twig' import breadcrumb %}
{% set current_crumb_name %}{{ 'sylius.ui.order'|trans }} <span id="number" {{ sylius_test_html_attribute('order-number') }}>#{{ order.number }}</span>{% endset %}
{{ breadcrumb([{
    url: path('sylius_shop_account_dashboard'),
    name: 'sylius.ui.my_account'|trans
}, {
    url: path('sylius_shop_account_order_index'),
    name: 'sylius.ui.order_history'|trans
}, {
    name: current_crumb_name
}]) }}
