{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}
{% import '@SyliusUi/Macro/labels.html.twig' as label %}

<div class="column">
    <div class="ui large icon message">
        <i class="payment icon"></i>
        <div class="content" id="payments">
            {% for payment in order.payments %}
                <div class="header">
                    {{ payment.method }}
                </div>
                <p>
                    {{ money.format(payment.amount, payment.order.currency) }}
                </p>
            {% endfor %}
        </div>
    </div>
</div>
