<div class="ui two column stackable grid sticky-container">
    <div class="sixteen wide mobile sixteen wide tablet three wide computer column sticky-column">
        {{ sylius_template_event('sylius.admin.product.index.content.sidebar', _context) }}
    </div>
    <div class="sixteen wide mobile sixteen wide tablet thirteen wide computer column sylius-product-index">
        {{ sylius_template_event('sylius.admin.product.index.content.main', _context) }}
    </div>
</div>
