{% set left_section_event = twig_event_name(_context.main_event, 'left_section') %}
{% set left_section_fallback_event = twig_event_name(_context.fallback_event, 'left_section') %}

{% set right_section_event = twig_event_name(_context.main_event, 'right_section') %}
{% set right_section_fallback_event = twig_event_name(_context.fallback_event, 'right_section') %}

{% set main_event = twig_event_name(_context.main_event, 'sections') %}
{% set fallback_event_event = twig_event_name(_context.fallback_event, 'sections') %}

<div class="page-body">
    <div class="container-xl">
        <div class="row">
            <div class="col-12 col-lg-3 order-lg-1">
                {{ twig_event(
                    [right_section_event, right_section_fallback_event],
                    _context|merge({ main_event, fallback_event, order: _context.resource })
                ) }}
            </div>
            <div class="col-12 col-lg-9 order-lg-0">
                {{ twig_event(
                    [left_section_event, left_section_fallback_event],
                    _context|merge({ main_event, fallback_event, order: _context.resource })
                ) }}
            </div>
        </div>
    </div>
</div>
