<div class="page-body">
    <div class="container-xl">
        <div class="row">
            <div class="col-12 col-lg-3 order-lg-1">
                {% hook 'sections#right' %}
            </div>
            <div class="col-12 col-lg-9 order-lg-0">
                {% hook 'sections#left' %}
            </div>
        </div>
    </div>
</div>
