body.sign-in {
    padding-top: 200px;
    background-color: @color-dark-gray;
}
img.swan {
    position: absolute;
    z-index: -1000;
    margin-left: 335px;
    margin-top: -70px;
    height: 300px;
}
form.form-signin {
    margin: 0 auto;
    padding: 40px;
    background-color: @color-near-white;
    border: 1px solid @color-border;
    width: 400px;
    border-radius: 3px;

    label {
        font-weight: normal;
    }

    .btn-login {
        color: @color-white;
        background-color: @color-sylius;
    }
    .form-control:focus {
        border-color: @color-sylius;
    }
}
