{% set tax_included = hookable_metadata.context.order.getTaxIncludedTotal() %}

<td class="text-end">
    <div>{{ 'sylius.ui.taxes_total'|trans }}:&nbsp;</div>
    {% if tax_included %}
        <small class="text-muted">({{ 'sylius.ui.included_in_price'|trans }})</small>
    {% endif %}
</td>
