<div class="row">
    <div class="col-12 col-md-4 fw-bold">{{ 'sylius.ui.group_membership'|trans }}</div>
    <div class="col-12 col-md-8" {{ sylius_test_html_attribute('customer-group') }}>
        {% if hookable_metadata.context.customer.group is not empty %}
            {{ hookable_metadata.context.customer.group.name }}
        {% else %}
            -
        {% endif %}
    </div>
</div>
