{% import '@SyliusAdmin/Shared/Helper/header.html.twig' as _header %}

{% set hookable_context = get_hookable_context() %}
{% set hookable_configuration = get_hookable_configuration() %}

{% if hookable_context.has("metadata") %}
    {% set metadata = hookable_context.metadata %}
    {% set header = hookable_configuration.title|default(metadata.applicationName~'.ui.'~metadata.pluralName) %}
{% else %}
    {% set header = hookable_configuration.title %}
{% endif %}


<div class="col-12 col-md-6">
    <div class="d-md-flex gap-2 align-items-center">
        {{ _header.h1(header|trans) }}
    </div>
</div>
