{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block content %}
<div class="page-header">
    <h1>Login <small>Sylius store</small></h1>
</div>

{% if error %}
    <div class="alert alert-danger">
        {{ error }}
    </div>
{% endif %}

<blockquote>
  <p>Please login using "<strong>sylius@example.com</strong>" email and "<strong>sylius</strong>" as password.</p>
  <small>Mr. Sylius Demo Guide</small>
</blockquote>

<form action="{{ path('fos_user_security_check') }}" method="post" class="form-horizontal">
<fieldset>
    <div class="form-group">
        <label for="username" class="col-sm-3 control-label">Email</label>
        <div class="col-sm-9">
            <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-3 control-label">Password</label>
        <div class="col-sm-9">
            <input type="password" id="password" name="_password" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
            <div class="checkbox">
                <label for="remember_me">
                    Remember me? &nbsp; <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                </label>
            </div>
        </div>
    </div>
</fieldset>
<div class="form-actions clearfix">
    <div class="pull-right">
        {{ render(url('hwi_oauth_connect')) }}
    </div>
    <button type="submit" class="btn btn-primary btn-lg" name="login"><i class="icon-lock"></i> Login</button>
</div>
</form>

{% endblock %}
