<div class="mb-5">
    <h1 class="h2 mb-">
        {{ 'sylius.ui.create_a_new_customer_account'|trans }}
    </h1>
    <div>
        {{ 'sylius.ui.have_an_account_already'|trans }}
        <a href="{{ path('sylius_shop_login') }}">{{ 'sylius.ui.sign_in_here'|trans }}.</a>
    </div>
</div>
