<a href="{{ path('sylius_shop_account_change_password') }}" class="btn btn-sm btn-icon btn-outline-gray">
    {{ ux_icon('tabler:lock', { class: 'symfony-icon symfony-icon-xs' }) }}
    {{ 'sylius.ui.change_password'|trans }}
</a>
