{% from '@SyliusShop/shared/icon.html.twig' import icon as icon %}

<a href="{{ path('sylius_shop_account_profile_update') }}" class="btn btn-sm btn-icon btn-outline-gray">
    {{ icon('pencil', 'width: 16px; height: 16px;') }}
    {{ 'sylius.ui.edit'|trans }}
</a>
