{% if channel is defined %}
    <div class="channel">
        <span class="ui medium empty circular label channel__item" style="background-color: {{ channel.color|default('#000') }}"></span>

        <span class="channel__item">
            {{ channel.name|default(channel.code) }}
        </span>
    </div>
{% endif %}
