{% set payment = hookable_metadata.context.payment %}

<a title="details" href="{{ path('sylius_admin_payment_request_index', {'paymentId': payment.id}) }}" class="btn btn-icon" data-bs-toggle="tooltip" data-bs-title="{{ 'sylius.ui.list_payment_requests'|trans }}" {{ sylius_test_html_attribute('list-payment-requests') }}>
    {{ ux_icon('tabler:list-letters') }}
</a>
