{% import '@SyliusShop/shared/messages.html.twig' as messages %}

{% if product_reviews|length > 0 %}
    <div class="mb-5">
        {% for review in product_reviews %}
            {% hook 'sylius.shop.product_review.index.main.list' with { review } %}
        {% endfor %}
    </div>
{% else %}
    {{ messages.info('sylius.ui.there_are_no_reviews') }}
{% endif %}
