{% set main_hook = hook_name(hookable_metadata.context.parent_main_hook, 'configuration') %}
{% set fallback_hook = hook_name(hookable_metadata.context.parent_fallback_hook, 'configuration') %}

<div class="card mb-3">
    <div class="card-header">
        <div class="card-title">
            {{ 'sylius.ui.configuration'|trans }}
        </div>
    </div>
    <div class="card-body">
        <div class="row g-7">
            {% hook 'configuration' %}

            <div class="col-12 col-md-6">
                {% hook 'configuration#left' %}
            </div>

            <div class="col-12 col-md-6">
                {% hook 'configuration#right' %}
            </div>
        </div>
    </div>
</div>
