<h1 class="ui header">
    <i class="circular truck icon"></i>
    <div class="content">
        {{ 'sylius.ui.shipment'|trans ~ ' for ' ~ 'sylius.ui.order'|trans ~ ' #' ~ shipment.order.number}}
    </div>
</h1>
