{% if not associated_products.empty() %}
    <h2 class="mb-5">{{ product_association.type.name }}</h2>
    <div {{ sylius_test_html_attribute('product-association', product_association.type.name) }}>
        <div class="products-grid">
            {% for product in associated_products %}
                <div>{{ component('sylius_shop:product:card', { product: product, template: '@SyliusShop/product/common/card.html.twig' }) }}</div>
            {% endfor %}
        </div>
    </div>
{% endif %}
