{% if 'ROLE_API_ACCESS' in data.roles %}
    <span class="ui teal label">
        {{ 'sylius.ui.yes'|trans }}
    </span>
{% else %}
    <span class="ui red label">
        {{ 'sylius.ui.no'|trans }}
    </span>
{% endif %}
