{% if data.enabled %}
    <span class="ui teal label">
        {{ 'sylius.ui.yes_label'|trans }}
    </span>
{% else %}
    <span class="ui red label">
        {{ 'sylius.ui.no_label'|trans }}
    </span>
{% endif %}
