{% import "@SyliusShop/shared/macro/money.html.twig" as money %}

{% set item = hookable_metadata.context.item %}
{% set original_price_to_display = sylius_order_item_original_price_to_display(item) %}

<td class="text-black-50 text-end">
    {% if original_price_to_display is not null %}
        <span {{ sylius_test_html_attribute('cart-product-regular-unit-price') }}>
                <span>{{ money.convertAndFormat(original_price_to_display) }}</span>
            </span>
    {% endif %}
    <span {{ sylius_test_html_attribute('cart-product-unit-price', item.productName) }}>{{ money.convertAndFormat(item.discountedUnitPrice) }}</span>
</td>
