{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
    <div class="alert alert-info">
        {{ 'resetting.password_already_requested'|trans }}
    </div>
{% endblock %}
