{% extends '@SyliusAdmin/shared/layout/base.html.twig' %}

{% block title %}Sylius | {{ 'sylius.ui.administration_reset_password'|trans }}{% endblock %}

{% block body_class %}d-flex flex-column{% endblock %}

{% block body %}
    <div class="page page-center">
        <div class="container container-tight py-4">
            {% hook 'sylius_admin.security.request_password_reset' with { form } %}
        </div>
    </div>
{% endblock %}
