{% import '@SyliusAdmin/common/helper/translations.html.twig' as _translations %}

<div class="bg-white mb-3">
    {% set body %}
        {% verbatim %}
            <div class="row">
                <div class="col-12">
                    {{ form_row(translationForm.name, sylius_test_form_attribute('name', locale)) }}
                </div>
            </div>
        {% endverbatim %}
    {% endset %}
    {{ _translations.default(hookable_metadata.context.form.translations, body) }}
</div>
