{# Rendered with \Sylius\Bundle\ShopBundle\Twig\Component\Cart\SummaryComponent #}

<div class="position-relative" {{ attributes }}>
    <div data-loading>
        <div class="sylius-shop-loader">
            <img src="{{ asset('build/shop/images/loader.gif', 'shop') }}" alt="{{ 'sylius.ui.loading'|trans }}"/>
        </div>
    </div>
    <div class="p-4 bg-light mb-4 rounded-3">
        <h3 class="mb-4">{{ 'sylius.ui.summary'|trans }}</h3>
        {% hook 'summary' with {cart} %}
    </div>
</div>

