{% import '@SyliusUi/Macro/messages.html.twig' as messages %}

{% if resources.data|length > 0 %}
    {% include '@SyliusShop/Product/Index/_filters.html.twig' %}
    {% include '@SyliusShop/Product/Index/_sorting.html.twig' %}

    <div class="ui three column stackable grid" id="products">
        {% for product in resources.data %}
            <div class="column">
                {% include '@SyliusShop/Product/_simpleBox.html.twig' %}
            </div>
        {% endfor %}
    </div>
{% else %}
    {{ messages.info('sylius.ui.no_results_to_display'|trans) }}
{% endif %}
