<div class="ui fluid action input" id="attributeChoice" data-action="{{ path('sylius_admin_render_attribute_forms') }}" style="margin-bottom: 15px;">
    {{ form_widget(form, {'attr': {'class': 'ui fluid search dropdown', 'id': 'sylius_product_attribute_choice'}}) }}
    <button class="ui green labeled icon button">
        <i class="icon plus"></i> {{ 'sylius.ui.add_attributes'|trans }}
    </button>
</div>
