{% import "@SyliusShop/shared/macro/money.html.twig" as money %}

{% set item = hookable_metadata.context.item %}

<td {{ sylius_test_html_attribute('item-subtotal', item.variant.product.code) }}>
    <div class="py-3 text-end">
        {{ money.convertAndFormat(item.subtotal) }}
    </div>
</td>
