<div class="card bg-body-tertiary border-0 mb-3" {{ sylius_test_html_attribute('order-cannot-be-shipped') }}>
    <div class="card-body">
        <h5 class="card-title">{{ 'sylius.ui.warning'|trans }}</h5>
        {{ 'sylius.ui.no_shipping_methods_available'|trans }}.
    </div>
</div>
