<div class="ui center aligned inverted basic segment">
    <p>&copy; {{ 'sylius.ui.your_store'|trans }}, {{ 'sylius.ui.powered_by'|trans }} <a href="https://sylius.com" target="_blank" style="color: #1abb9c;">Sylius</a>.</p>
    <a target="_blank" href="//facebook.com/SyliusEcommerce/"><i class="big grey facebook icon"></i></a>
    <a target="_blank" href="//instagram.com/sylius.team/"><i class="big grey instagram icon"></i></a>
    <a target="_blank" href="//twitter.com/sylius"><i class="big grey twitter card icon"></i></a>
</div>
