<a href="{{ path('sylius_shop_homepage') }}" class="d-inline-block mb-4">
    <div style="width: 10rem">
        {% include '@SyliusShop/Shared/syliusLogo.html.twig'%}
    </div>
</a>

<div class="mb-3">
    &copy; {{ 'sylius.ui.your_store'|trans }}, {{ 'sylius.ui.powered_by'|trans }}
    <a href="https://sylius.com" target="_blank" style="color: #1abb9c;">Sylius</a>.
</div>
