<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/phpunit-10.xsd"
         colors="true"
>
    <php>
        <server name="KERNEL_CLASS" value="AppKernel" />
    </php>

    <testsuites>
        <testsuite name="sylius_attribute_bundle_test_suite">
            <directory>./test/</directory>
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
