<div class="row">
    <div class="col-12 col-md-4 fw-bold">{{ 'sylius.ui.description'|trans }}:</div>
    <div class="col-12 col-md-8" {{ sylius_test_html_attribute('description') }}>{{ hookable_metadata.context.product_translation.description }}</div>
</div>
