{% set locale_code = hookable_metadata.context.locale_code|default(null) %}

{% if locale_code is not null %}
    <div>
        <span class="flag flag-sm flag-country-{{ locale_code|sylius_locale_country|lower }} me-2"></span>
    </div>
{% endif %}
