{% form_theme form '@SyliusUi/Form/theme.html.twig' %}

<div class="sylius-filters__group">
    {{ form_row(form.from, { attr: {'class': 'sylius-filters__group'}, 'label': 'sylius.ui.date_filter', 'label_translation_parameters': {'%label%': filter.label|trans, '%altLabel%': form.from.vars.label|trans} }) }}
    <div class="disabled field">
        <label>&nbsp;</label>
        <input type="text" value="-" disabled>
    </div>
    {{ form_row(form.to, { attr: {'class': 'sylius-filters__group'} }) }}
</div>
