{% form_theme form '@SyliusUi/Form/theme.html.twig' %}

<div class="sylius-filters__group">
    {{ form_row(form.from, { attr: {'class': 'sylius-filters__group'}, 'label': filter.label|trans ~ ' | ' ~ form.from.vars.label|trans }) }}
    <div class="disabled field">
        <label>&nbsp;</label>
        <input type="text" value="-" disabled>
    </div>
    {{ form_row(form.to, { attr: {'class': 'sylius-filters__group'} }) }}
</div>
