{% form_theme form '@SyliusUi/Form/theme.html.twig' %}

<div class="sylius-filters__group">
    {% if form.type is defined %}
        {{ form_row(form.type, {'label': filter.label}) }}
    {% endif %}
    {{ form_row(form.value, {attr: {placeholder: form.value.vars.label}, 'label': form.type is defined ? form.value.vars.label : filter.label}) }}
</div>
