{% extends '@SyliusShop/shared/layout/base.html.twig' %}

{% block title %}{{ 'sylius.ui.change_password'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <div class="container mb-auto">
        <div class="row my-4">
            {% hook 'layout' with { _prefixes: ['sylius_shop.account.change_password', 'sylius_shop.shared.account'] } %}
        </div>
    </div>
{% endblock %}
