{% extends '@SyliusShop/shared/layout/base.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block title %}{{ 'sylius.ui.reset_password'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <div class="container my-auto">
        <div class="row justify-content-center justify-content-xl-start my-4">
            {% hook 'sylius_shop.account.forgotten_password' with { form } %}
        </div>
    </div>
{% endblock %}
