{% extends '@SyliusShop/shared/layout/base.html.twig' %}

{% block title %}{{ 'sylius.ui.your_profile'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <div class="container mb-auto">
        <div class="row my-4">
            {% hook 'layout' with { _prefixes: ['sylius_shop.account.profile_update', 'sylius_shop.shared.account'], customer, form } %}
        </div>
    </div>
{% endblock %}
