{% extends '@SyliusShop/shared/layout/base.html.twig' %}

{% block title %}{{ 'sylius.ui.reset_password'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <div class="container my-auto">
        {% hook 'sylius_shop.account.reset_password' with { form, user } %}
    </div>
{% endblock %}
