{% extends '@SyliusShop/shared/layout/base.html.twig' %}

{% set prefixes = ['sylius_shop.account'] %}

{% block title %}{{ 'sylius.ui.reset_password'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <div class="container my-auto">
        {% hook 'reset_password' with { _prefixes: prefixes, form, user } %}
    </div>
{% endblock %}
