{% extends '@SyliusShop/shared/layout/base.html.twig' %}

{% set reset_password_hook = 'sylius_shop.account.reset_password' %}
{% set prefixes = [reset_password_hook] %}

{% block title %}{{ 'sylius.ui.reset_password'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <div class="container my-auto">
        {% hook reset_password_hook with { form, user } %}
    </div>
{% endblock %}
