{% set form = hookable_metadata.context.form %}
{% set locale = hookable_metadata.context._locale %}

<div class="col-12 col-md-6">
    {{ form_row(form.name, sylius_test_form_attribute('name', locale)) }}
</div>
