<div class="six wide right aligned column">
    <div class="ui buttons">
        <a class="ui labeled icon button" href= {{path('sylius_admin_catalog_promotion_update', {'id': catalog_promotion.id}) }}>
            <i class="pencil icon"></i>
            {{ 'sylius.ui.edit'|trans }}
        </a>
    </div>
</div>
