<div class="ten wide column">
    <h1 class="ui header">
        <i class="circular bookmark icon"></i>
        <div class="content">
            {{ catalog_promotion.name }}
        </div>
    </h1>
</div>
