<div class="six wide right aligned column">
    <div class="ui buttons">
        <a class="blue ui labeled icon button" href= {{ path('sylius_admin_catalog_promotion_show_product_variants_with_applied_promo', {'id': catalog_promotion.id}) }}>
            <i class="star icon"></i>
            {{ 'sylius.ui.discounted_variants'|trans }}
        </a>
        <a class="ui labeled icon button" href= {{path('sylius_admin_catalog_promotion_update', {'id': catalog_promotion.id}) }}>
            <i class="pencil icon"></i>
            {{ 'sylius.ui.edit'|trans }}
        </a>
    </div>
</div>
