<div class="g-col-12 g-col-xl-6 card" style="grid-row: 1 / 4;">
    <div class="card-header">
        <div class="card-title">{{ 'sylius.ui.general'|trans }}</div>
    </div>

    <div class="card-body">
        <div class="row">
            {% hook 'general' %}
        </div>
    </div>
</div>
