{% set menu = knp_menu_get('sylius.admin.coupon.manage', [], {'promotion': promotion}) %}

{% if promotion.couponBased == true  %}
    <div class="ui right floated buttons">
        {{ knp_menu_render(menu, {'template': '@SyliusUi/Menu/top.html.twig'}) }}
    </div>
{% endif %}
