{% set item = hookable_metadata.context.item %}
{% set product_variant = item.variant %}

<td {{ sylius_test_html_attribute('cart-item', loop_index|default(null) ) }}>
    {% include '@SyliusShop/shared/product/info.html.twig' with {'variant': product_variant} %}
</td>
