{% if hookable_metadata.context.default_address is defined %}
    <div class="card border-0 bg-body-tertiary mb-3">
        <div class="card-body" {{ sylius_test_html_attribute('default-address') }}>
            {% hook 'default' %}
        </div>
    </div>
{% endif %}
