<div class="col">
    <a class="link-reset" href="{{ path('sylius_shop_homepage') }}">
        <div class="py-1" style="width: 9rem;">{% include '@SyliusShop/shared/logo.html.twig' %}</div>
    </a>
</div>
