<a class="d-flex align-items-end link-reset" href="{{ path('sylius_shop_homepage') }}">
    <div style="width: 10rem;">{% include '@SyliusShop/shared/sylius_logo.html.twig' %}</div>
    <div class="ps-4" style="transform: translateY(-6px)">
        {{ 'sylius.ui.back_to_store'|trans }}
    </div>
</a>
