{% extends 'StoreBundle:Backend:layout.html.twig' %}

{% block content %}

<div class="page-header">
    <h1>Status Details</h1>
</div>

<div class="well">
    <a href="{{ path('sylius_sales_backend_status_update', {'id': product.id}) }}" class="btn">Update</a>
    <a href="{{ path('sylius_sales_backend_status_delete', {'id': product.id}) }}" class="btn danger">Delete</a>
</div>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ status.id }}</td>
            <td>{{ status.name }}</td>
        </tr>
    </tbody>
</table>

{% endblock content %}
