<tr>
    <td>
        <div class="d-md-flex justify-content-between">
            <div><strong>Promotion total:</strong></div>
            <div class="text-muted text-md-end">
                <div>No promotion applied</div>
            </div>
        </div>
    </td>
    <td class="text-end">$0.00</td>
</tr>
