{% import '@SyliusAdmin/Shared/Helper/money.html.twig' as _money %}

{% set order = hookable_data.resource %}

<tr>
    <td><strong>{{ 'sylius.ui.tax_total'|trans }}:</strong></td>
    <td class="text-end">{{ _money.format(order.taxTotal, order.currencyCode) }}</td>
</tr>
