{% if availableLocalesCodes|length >= 2 %}
    <div class="ui pointing dropdown link item" id="sylius-locale-selector">
        <span class="text sylius-active-locale">{{ activeLocaleCode|sylius_locale_name }}</span>
        <i class="dropdown icon"></i>
        <div class="menu">
            {% for availableLocaleCode in availableLocalesCodes %}
                {% if availableLocaleCode is not same as(activeLocaleCode) %}
                    <a href="{{ path('sylius_shop_switch_locale', {'code': availableLocaleCode}) }}" class="item sylius-available-locale">
                        {{ availableLocaleCode|sylius_locale_name }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}
