<a href="{{ path('sylius_shop_account_profile_update') }}" class="btn btn-sm btn-icon btn-outline-gray">
    {{ ux_icon('tabler:pencil', { class: 'symfony-icon symfony-icon-xs' }) }}
    {{ 'sylius.ui.edit'|trans }}
</a>
