{% if data is not null %}
    {{ data }}
{% else %}
    <span class="text-danger" {{ sylius_test_html_attribute('missing-translation-paragraph') }}>
        {{ ux_icon('tabler:exclamation-circle') }} <i>{{ 'sylius.ui.missing_translation'|trans }}</i>
    </span>
{% endif %}
