{% if order.shippingAddress is not null %}
    <h4 class="ui top attached styled header">
        {{ 'sylius.ui.shipping_address'|trans }}
    </h4>
    <div class="ui attached segment" id="shipping-address">
        {% include '@SyliusAdmin/Common/_address.html.twig' with {'address': order.shippingAddress} %}
    </div>
{% endif %}
<h4 class="ui attached styled header{% if order.shippingAddress is null %} top{% endif %}">
    {{ 'sylius.ui.billing_address'|trans }}
</h4>
<div class="ui attached segment" id="billing-address">
    {% if order.billingAddress is not null %}
        {% include '@SyliusAdmin/Common/_address.html.twig' with {'address': order.billingAddress} %}
    {% endif %}
    <div class="ui segment">
        <a href="{{ path('sylius_admin_order_update', {'id': order.id}) }}" class="ui icon labeled tiny fluid button">
            <i class="pencil icon"></i> {{ 'sylius.ui.edit'|trans }}
        </a>
    </div>
</div>
