<div class="ui stackable grid sticky-container">
    <div class="twelve wide column sticky-column">
        {{ sylius_template_event('sylius.admin.order.show.summary', _context) }}
    </div>
    <div class="four wide column">
        {{ sylius_template_event('sylius.admin.order.show.sidebar', _context) }}
    </div>
</div>
