<h1 class="ui header">
    <i class="circular cart icon"></i>
    <div class="content">
        {{ 'sylius.ui.order'|trans }} #{{ order.number }}
        <div class="sub header">
            <div class="ui horizontal divided list">
                {{ sylius_template_event('sylius.admin.order.show.header_items', _context) }}
            </div>
        </div>
    </div>
</h1>
