{% if order.hasPayments %}
<div class="ui segment" id="payment-state">
    {{ sylius_template_event('sylius.admin.order.show.payments_content', _context) }}
</div>
{% else %}
<div class="ui segment center aligned" id="no-payments">
    <span class="ui grey large label">
        <i class="ban icon"></i> {{ 'sylius.ui.no_payments'|trans }}
    </span>
</div>
{% endif %}
