{% import "@SyliusAdmin/Common/Macro/money.html.twig" as money %}
{% import '@SyliusUi/Macro/labels.html.twig' as label %}

<div class="item">
    {{ sylius_template_event('sylius.admin.order.show.payment_content', _context) }}

</div>
