{% import '@SyliusUi/Macro/labels.html.twig' as label %}

<div class="ui segment">
    {% include '@SyliusAdmin/Order/Label/PaymentState/' ~ order.paymentState ~ '.html.twig' with { 'value': 'sylius.ui.' ~ order.paymentState } %}
    <span class="ui medium header" id="payment-state">{{ 'sylius.ui.payments'|trans }}</span>
    <div class="ui divider"></div>
    <div class="ui relaxed divided list" id="sylius-payments">
        {% for payment in order.payments %}
            {% include '@SyliusAdmin/Order/Show/_payment.html.twig' %}
        {% endfor %}
    </div>
</div>
