{% macro default(img, class) %}
    {% from '@SyliusAdmin/shared/helper/icon.html.twig' import icon %}

    <span class="sylius avatar {{ class }}" {% if img %} style="background-image: url({{ img }})" {% endif %}>
        {% if img is not defined or img is empty %}
            {{ icon({ icon: 'user' }) }}
        {% endif %}
    </span>
{% endmacro %}

{% macro small(img, class) %}
    {{ _self.default(img,  'avatar-sm ' ~ class) }}
{% endmacro %}
