<div class="card mb-3">
    <div class="card-header">
        <div class="card-title">{{ 'sylius.ui.items'|trans }}</div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover table-vcenter card-table" {{ sylius_test_html_attribute('table-items') }}>
            {% hook 'items' %}
        </table>
    </div>
</div>
