{% set main_hook = hook_name(hookable_data.parent_main_hook, 'details') %}
{% set fallback_hook = hook_name(hookable_data.parent_fallback_hook, 'details') %}

<div class="card mb-3">
    <div class="card-body">
        <div class="divide-y">
            {% hook [main_hook, fallback_hook] with hookable_data|merge({
                parent_main_hook: main_hook,
                parent_fallback_hook: fallback_hook,
                customer: hookable_data.resource,
                user: hookable_data.resource.user|default(null)
            }) %}
        </div>
    </div>
</div>
