<div class="card mb-3">
    <div class="card-body">
        <div class="divide-y">
            {% hook 'details' with { customer: hookable_metadata.context.resource } %}
        </div>
    </div>
</div>
