{% set order = hookable_metadata.context.resource %}

<span class="ms-2" {{ sylius_test_html_attribute('order-shipping-state') }}>
    {{ include('@SyliusAdmin/order/common/label/shipping_state/' ~ order.shippingState ~ '.html.twig') }}
</span>
