<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
        {% block sylius_addressing_content %}{% endblock %}
    </body>
    {% block sylius_addressing_javascripts %}{% endblock %}
</html>
