{% include '@SyliusShop/Shared/order/addresses.html.twig' %}
{% include '@SyliusShop/Shared/order/table.html.twig' %}

<div class="row mb-5">
    <div class="col-12 col-md-6">
        {% include '@SyliusShop/Shared/order/payments.html.twig' %}
    </div>
    <div class="col-12 col-md-6">
        {% include '@SyliusShop/Shared/order/shipments.html.twig' %}
    </div>
</div>
