{% extends 'SyliusAdminBundle::layout.html.twig' %}

{% import '@SyliusUi/Macro/labels.html.twig' as label %}

{% block title %}{{ parent() }} {{ 'sylius.ui.order'|trans ~' #'~ order.number }}{% endblock %}

{% set customer = order.customer %}

{% block content %}
{% include '@SyliusAdmin/Order/Show/_header.html.twig' %}
{% include '@SyliusAdmin/Order/Breadcrumb/_show.html.twig' %}
<div class="action">
    {% if sm_can(order, 'cancel', 'sylius_order') %}
        <form action="{{ path('sylius_admin_order_cancel', {'id': order.id} ) }}" method="post" novalidate>
            <input type="hidden" name="_method" value="PUT">
            <button class="ui top attached button" type="submit">{{'sylius.ui.cancel'|trans  }}</button>
        </form>
    {% endif %}
</div>
<div class="ui stackable grid">
    <div class="eleven wide column">
        <div class="ui segment">
            {% include '@SyliusAdmin/Order/Show/_summary.html.twig' %}
        </div>
    </div>
    <div class="five wide column">
        {% include '@SyliusAdmin/Order/Show/_customer.html.twig' %}
        {% include '@SyliusAdmin/Order/Show/_addresses.html.twig' %}
        {% include '@SyliusAdmin/Order/Show/_payments.html.twig' %}
        {% include '@SyliusAdmin/Order/Show/_shipments.html.twig' %}
    </div>
</div>
{% endblock %}
