{% import 'SyliusResourceBundle:Macros:actions.html.twig' as actions %}

<h1>Creating zone <small>Use this form to add new zone</small></h1>
<hr />

<form action="{{ path('sylius_zone_create', {'id': zone.id}) }}" method="post" class="form-horizontal">
    {% include 'SyliusAddressingBundle:Zone:_form.html.twig' %}
    {{ actions.create(path('sylius_zone_list')) }}
</form>
