{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'SyliusAddressingBundle:Zone:macros.html.twig' as macros %}

<h1>Zones list <small>Here you can configure zones</small></h1>
<hr />

<div class="well">
    {{ buttons.create(path('sylius_zone_create'), 'add zone') }}
</div>

{% if zones.haveToPaginate()|default(false) %}
    {{ pagerfanta(zones, 'twitter_bootstrap_translated') }}
{% endif %}

{{ macros.list(zones) }}

{% if zones.haveToPaginate()|default(false) %}
    {{ pagerfanta(zones, 'twitter_bootstrap_translated') }}
{% endif %}
