{% macro updateRoute(onClick, message, icon, button) %}
    <a href='' class="btn btn-{{ button|default('primary') }}" onclick="{{ onClick }}">
        <i class="glyphicon glyphicon-{{ icon|default('ok') }}"></i> {{ message|default('sylius.ui.create')|trans }}
    </a>
{% endmacro %}
