body {
    padding-top: 60px;
    padding-bottom: 40px;
    background-color: #eee;
}
th {
    background-color: #f1f1f1;
}
#content {
    background-color: #fff;
    padding: 20px;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.15);
       -moz-box-shadow: 0 1px 3px rgba(0,0,0,.15);
            box-shadow: 0 1px 3px rgba(0,0,0,.15);

}
.sidebar {
    background-color: #fff;
    padding: 15px;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.15);
       -moz-box-shadow: 0 1px 3px rgba(0,0,0,.15);
            box-shadow: 0 1px 3px rgba(0,0,0,.15);

}
.page-header {
    margin-top: -5px;
    background-color: #f5f5f5;
    padding: 10px 0 10px 10px;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
}
.page-header h1 {
    margin-left: 10px;
}
.form-container {
    background-color: #fff;
    padding: 15px;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25);
       -moz-box-shadow: 0 1px 3px rgba(0,0,0,.25);
            box-shadow: 0 1px 3px rgba(0,0,0,.25);

}
.file-overlay {
    width: 200px;
    margin-left: -275px;
}
input[type="file"] {
    -moz-opacity: 0;
    -khtml-opacity: 0;
    -webkit-opacity: 0;
    opacity: 0;
    cursor: pointer;
}
body.signin {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}
.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
input[type="date"] {
    width: 120px;
}