{% set product = hookable_metadata.context.product %}

{% if product.acceptedReviews.count > 0 %}
    <a href="{{ path('sylius_shop_product_review_index', {'slug': product.slug, '_locale': product.translation.locale}) }}" class="btn btn-link">
        {{ 'sylius.ui.view_more'|trans }}
    </a>
{% endif %}
