<div class="row">
    <div class="col-12 col-sm-6">
        <nav class="nav flex-column">
            <a class="nav-link" href="#">About</a>
            <a class="nav-link" href="#">Terms and Conditions</a>
            <a class="nav-link" href="#">Privacy Policy</a>
            <a class="nav-link" href="{{ path('sylius_shop_contact_request') }}">Contact us</a>
        </nav>
    </div>

    <div class="col-12 col-sm-6">
        <nav class="nav flex-column mb-5">
            <a class="nav-link" href="#">FAQ</a>
            <a class="nav-link" href="#">Delivery & Shipping</a>
            <a class="nav-link" href="#">Returns Policy</a>
        </nav>
    </div>
</div>
