<div class="col-12 col-md-6">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                {{ 'sylius.ui.personal_information'|trans }}
            </div>
        </div>
        <div class="card-body">
            {% hook 'personal_information' %}
        </div>
    </div>
</div>
