{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block flashes %}
    {% for type in ['success', 'error', 'fos_user_success', 'notice'] %}
        {% for flash in app.session.flashbag.get(type) %}
            <div class="alert alert-{{ type == 'fos_user_success' ? 'success' : type == 'error' ? 'danger' : type == 'notice' ? 'warning' : type }}">
                <a class="close" data-dismiss="alert" href="#">×</a>
                {{ flash|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block sidebar %}
{{ knp_menu_render('sylius.frontend.account', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
{% endblock sidebar %}
