{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block flashes %}
    {% for name, flashes in app.session.flashbag.all if name in ['success', 'error', 'fos_user_success'] %}
        {% for flash in flashes %}
            <div class="alert alert-{{ name == 'fos_user_success' ? 'success' : name == 'error' ? 'danger' : name }}">
                <a class="close" data-dismiss="alert" href="#">×</a>
                {{ flash|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block sidebar %}
{{ knp_menu_render('sylius.frontend.account', {'template': 'SyliusWebBundle:Frontend:menu.html.twig'}) }}
{% endblock sidebar %}
