{% import '@SyliusAdmin/shared/helper/translations.html.twig' as translations %}

{% set form = hookable_metadata.context.form %}
{% set prefixes = hookable_metadata.prefixes %}

<div class="bg-white mb-3">
    {{ translations.with_hook(form.translations, prefixes, null, { accordion_id: 'taxon-translations' }) }}
</div>
