<h1>{{ 'sylius.ui.order_history'|trans }}</h1>
<div>{{ 'sylius.ui.browse_your_orders_from_the_past'|trans }}</div>

{{ sylius_template_event('sylius.shop.account.order.index.header.content', {'orders': orders}) }}
