<div class="mb-6">
    <div class="overflow-hidden">
        <div class="d-flex justify-content-center">
            <img src="{{ asset('build/shop/images/homepage-banner.jpg', 'shop') }}" class="img-fluid" alt="Home">
        </div>
    </div>
</div>
