<div class="container mb-6">
    <h2 class="mb-5">{{ 'sylius.homepage.latest_deals'|trans }}</h2>

    <div {{ sylius_test_html_attribute('latest-products') }}>
        {{ render(url('sylius_shop_partial_product_index_latest', {'count': 3, 'template': '@SyliusShop/shared/product/horizontal_list.html.twig'})) }}
    </div>
</div>
