<div class="container mb-6">
    <h2 class="mb-5">{{ 'sylius.ui.latest_products'|trans }}</h2>

    <div {{ sylius_test_html_attribute('latest-products') }}>
        <div class="products-grid">
            {% for product in latest_products %}
                <div>{% include '@SyliusShop/Product/card.html.twig' %}</div>
            {% endfor %}
        </div>
    </div>
</div>
