{% extends 'SyliusWebBundle:Backend:forms.html.twig' %}

{% block _sylius_shipping_method_categoryRequirement_row %}
    <div class="form-group">
        {{ form_label(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock %}

{% block _sylius_shipping_method_categoryRequirement_widget %}
    <div class="col-lg-10">
        {% for child in form %}
            <div class="radio">
                <label>
                    {{ child.vars.label }}
                    {{ form_widget(child) }}
                </label>
            </div>
        {% endfor %}
    </div>
{% endblock %}
