{% set hookable_context = get_hookable_context() %}

{% set resources = hookable_context.resources %}

{% if resources.data|length == 0 %}
    <div class="card">
        <div class="empty">
            {% hook 'no_results' %}
        </div>
    </div>
{% endif %}
