<div id="navbar" class="navbar navbar-inverse">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-header">
        <a class="navbar-brand" href="{% if route is defined %}{{ path(route) }}{% else %}#{% endif %}"><img src="{{ asset('bundles/syliusui/img/logo.png') }}" /></a>
    </div>
    <div class="collapse navbar-collapse">
        {% if menu is defined %}
            {{ knp_menu_render(menu, {'template': 'SyliusUiBundle:Menu:_navbar.html.twig'}) }}
        {% endif %}
    </div>
</div>
