<td>
    <a class="ui labeled icon button edit-variant" style="padding-right: 15px;" href= {{path('sylius_admin_product_variant_update', {'productId' : variant.product.id, 'id' : variant.id}) }}>
        <i class="edit icon"></i>
        {{ 'sylius.ui.edit'|trans }}
    </a>
</td>
