<a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
    {{ paginator.maxPerPage }} <span class="icon-angle-down"></span>
</a>

<ul class="dropdown-menu pull-left" role="menu">
    {% for limit, url in limits %}
    <li>
        <a href="{{ url }}">{{ limit }}</a>
    </li>
    {% endfor %}
</ul>
/ {{ paginator.nbResults }}
