<a href="{{ url }}">
    {{ label }}
    {% if icon -%}
        {%- if currentOrder == 'desc' -%}
            <i class="glyphicon glyphicon-chevron-down"></i>
        {%- else -%}
            <i class="glyphicon glyphicon-chevron-up"></i>
        {%- endif %}
    {%- endif %}
</a>