<a href="{{ url }}">
    {{ label }}
    {% if icon -%}
        {%- if currentOrder == 'desc' -%}
            <span class="glyphicon glyphicon-chevron-down"></span>
        {%- else -%}
            <span class="glyphicon glyphicon-chevron-up"></span>
        {%- endif %}
    {%- endif %}
</a>
