<div class="ui icon info message">
    <i class="info circle icon"></i>
    <div class="content">
        {{ 'sylius.form.shipping_method.rules_help'|trans }}
    </div>
</div>
{{ form_row(form.rules) }}
