{% if form.vars.rules_help is not empty %}
    <div class="ui icon info message">
        <i class="info circle icon"></i>
        <div class="content">
            {{ form.vars.rules_help|trans }}
        </div>
    </div>
{% endif %}
{{ form_row(form.rules) }}
