{% if availableCurrenciesCodes|length >= 2 %}
    <div class="ui pointing dropdown link item" id="sylius-currency-selector">
        <span class="text sylius-active-currency">{{ activeCurrencyCode }}</span>
        <i class="dropdown icon"></i>
        <div class="menu">
            {% for availableCurrencyCode in availableCurrenciesCodes %}
                {% if availableCurrencyCode is not same as(activeCurrencyCode) %}
                    <a href="{{ path('sylius_shop_switch_currency', {'code': availableCurrencyCode}) }}" class="item sylius-available-currency">
                        {{ availableCurrencyCode }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}
