{% form_theme form 'SyliusWebBundle:Backend:forms.html.twig' %}

{{ form_errors(form) }}
{% include 'SyliusWebBundle:Backend/Product/Form:_tabs.html.twig' %}
<br>
<div class="tab-content">
    {% include 'SyliusWebBundle:Backend/Product/Form:_main.html.twig' %}
    {% include 'SyliusWebBundle:Backend/Product/Form:_options.html.twig' %}
    {% include 'SyliusWebBundle:Backend/Product/Form:_attributes.html.twig' %}
    {% include 'SyliusWebBundle:Backend/Product/Form:_associations.html.twig' %}
    {% include 'SyliusWebBundle:Backend/Product/Form:_categorization.html.twig' %}
    {% if form.channels|length > 0 %}
        {% include 'SyliusWebBundle:Backend/Product/Form:_channels.html.twig' %}
    {% endif %}
</div>
<hr>

{{ form_widget(form._token) }}
