{% macro confirmationModal(id) %}
    <div class="modal fade hide" id="{{ id | default('confirmationModalContainer') }}" data-type="confirmation">
        <div class="modal-header">
            <button type="button"class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h3>{{ 'sylius.confirmation.title' | trans }}</h3>
        </div>

        <div class="modal-body"></div>

        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">
                {{ 'modal.confirmation.close' | trans }}
            </a>
            <a href="#" class="btn btn-primary" data-modal-action="confirm">
                {{ 'sylius.confirmation.validate' | trans }}
            </a>
        </div>
    </div>
{% endmacro %}