<div class="mb-4">
    {{ render(url('sylius_shop_partial_taxon_show_by_slug', {
        'slug': app.request.attributes.get('slug'),
        'template': '@SyliusShop/Taxon/_header.html.twig'
    })) }}
</div>

<div class="row align-items-end mb-5">
    <div class="col">
        {% include '@SyliusShop/Product/Index/_search.html.twig' %}
    </div>
    <div class="col-auto">
        {% include '@SyliusShop/Product/Index/_limit.html.twig' %}
    </div>
    <div class="col-auto">
        {% include '@SyliusShop/Product/Index/_sorting.html.twig' %}
    </div>
</div>
