{% set product = product_review.reviewSubject %}

<h4 class="ui top attached styled header">
    {{ 'sylius.ui.product'|trans }}
</h4>
<div class="ui attached segment">
    <a href="{{ path('sylius_admin_product_update', {'id': product.id}) }}" class="header sylius-product-name">{{ product.name }}</a>
</div>
