<div class="ui fluid card">
    <div class="content">
        <div class="ui sub header">{{ 'sylius.ui.product'|trans }}</div>
    </div>
    <div class="content" id="review-subject-name">
        <a href="{{ path('sylius_admin_product_update', {'id': resource.reviewSubject.id}) }}" class="header">{{ resource.reviewSubject.name }}</a>
    </div>
</div>
