<span class="status status-blue status-lite">
    <span class="status-dot" style="background-color: {{ data.color|default('#000') }}"></span>
    <span class="text-nowrap fs-5">{{ data.name|default(data.code) }}</span>
</span>
