{% set enabled = order.shipments|length %}

<div>
    <div>
        <a href="{{ path('sylius_shop_checkout_address') }}">{{ 'sylius.ui.change_address'|trans }}</a>
    </div>
    <div>
        <button type="submit"class="{% if not enabled %} disabled{% endif %}" {{ sylius_test_html_attribute('next-step') }}>
            {{ 'sylius.ui.next'|trans }}
        </button>
    </div>
</div>
