<div class="ui icon message" id="sylius-order-cannot-be-shipped">
    <i class="warning sign icon"></i>
    <div class="content">
        <div class="header">{{ 'sylius.ui.warning'|trans }}</div>
        <p>{{ 'sylius.ui.no_shipping_methods_available'|trans }}.</p>
    </div>
</div>
