<div {{ sylius_test_html_attribute('order-cannot-be-shipped') }}>
    <div>
        <div>{{ 'sylius.ui.warning'|trans }}</div>
        {{ 'sylius.ui.no_shipping_methods_available'|trans }}.
    </div>
</div>
