<div class="ui stackable two column grid">
    <div class="twelve wide column">
        {% include '@SyliusAdmin/Order/History/_header.html.twig' %}
    </div>
    <div class="four wide right aligned column">
        {% include '@SyliusAdmin/Order/History/_actions.html.twig' %}
    </div>
</div>
