{% set order = hookable_metadata.context.order %}

<div>
    {% include [('@SyliusShop/account/order/label/state' ~ '/' ~ order.state ~ '.html.twig'), '@SyliusUi/Label/_default.html.twig'] with {'value': ('sylius.ui.' ~ order.state)|trans} %}
</div>
