{% import '@SyliusShop/shared/macro/order/state.html.twig' as state %}

{% set order = hookable_metadata.context.order %}
{% set label = ('sylius.ui.' ~ order.state)|trans %}
<div>
    {{ state.base(order.state, label) }}
</div>
