{% set form = hookable_metadata.context.form %}
{% set product = hookable_metadata.context.product %}

{% if product.isSimple %}
    <div class="d-none">
        {{ form_row(form.variant.translations) }}
    </div>
{% endif %}
