/* General. */
body {
    color: #5a5a5a;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}


/* Links. */
a {
    color: #10AC8E;
}
a:hover {
    color: #017E5D;
}

/* Signin. */
body.signin {
    padding-top: 200px;
    background-color: #333;
}
img.swan {
    position: absolute;
    z-index: -1000;
    margin-left: 350px;
    margin-top: -66px;
    height: 300px;
}
form.form-signin {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -150px 0 0 -200px;
    padding: 40px;
    background-color: #fff;
    width: 400px;
    border-radius: 3px;
}
form.form-signin label {
    font-weight: normal;
}
form.form-signin .form-control:focus {
    border-color: #1abb9c;
}
form.form-signin .btn-success {
    background-color: #1abb9c;
    border: none;
}
form.form-signin .btn-success:hover {
    opacity: 0.8;
}

/* Buttons. */
.btn {
    text-transform: uppercase;
    border-radius: 3px;
}
.btn:not(.btn-lg):not(.btn-sm):not(.btn-xs) {
    line-height: 20px;
    font-size: 13px;
}
.btn > i {
    margin-right: 5px;
}
.btn.btn-default {
    border-color: #DDD;
    background: #F5F5F5;
}
.btn.btn-default:hover {
    border-color: #CCC;
    background: #EEE;
}

/* Labels. */
.label-success {
    background-color: #1abb9c;
}

/* Navbar. */
.navbar-collapse {
    border: none;
}
.navbar-brand {
    padding: 0;
}
.navbar-brand img {
    height: 30px;
    margin: 10px 15px 10px 10px;
}
.navbar-brand span {
    color: #333;
    font-size: 15px;
    float: right;
    margin-top: 13px;
}
.navbar-brand:hover span {
    color: #fff;
}
.navbar-inverse {
    border: 0;
    background-color: #333;
}
.navbar-inverse .navbar-nav > li.active > a {
    background-color: #1abb9c;
    color: #fff;
}
.navbar-inverse .navbar-nav > .active.dropdown > a .caret {
    border-bottom-color: #fff;
    border-top-color: #fff;
}
.navbar-inverse .dropdown-menu {
    border: 0;
    box-shadow: none;
    border-radius: 0;
    background-color: #333;
}
.navbar-inverse .dropdown-menu li > a:hover {
    background-color: #1abb9c;
    color: #fff;
}
.navbar-inverse .dropdown-menu li > a {
    padding: 10px 20px;
    color: #fff;
}
.dropdown-menu {
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #f1f1f1;
}
.dropdown-menu li > a:hover {
    background-color: #1abb9c;
    color: #fff;
}

/* Grid and tables. */
.table tbody > tr.sub-table > td {
    padding-top: 0;
    border-top: 0;
}

.variant-table-toggle {
    text-align: center;
}

.variant-table-toggle i {
    font-size: 24px;
    cursor: pointer;
}

.row-split {
    border-right: 1px solid #eee;
}

.grid-tabs {
    margin-bottom: 10px;
}

/* Table. */
.table {
    background: #FAFAFA;
}
.table.table-bordered {
    border-color: #EAEAEA;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-color: #EEE;
}
.table > thead > tr > th {
    vertical-align: middle;
    border-bottom-width: 1px;
    border-color: #EAEAEA;
    background-color: #f1f1f1;
    text-transform: uppercase;
}
.table > thead > tr > th a:link {
    color: #5a5a5a;
}
.table > thead > tr > th a:visited {
    color: #5a5a5a;
}

/* Pagination. */
.pagination {
    margin: 0 0 15px 0;
    border-radius: 0;
}
.pagination > li > a {
    border-color: #EEE;
    border-width: 1px;
    background: #FAFAFA;
}
.pagination > li > a:hover {
    background: #FFF;
}
.pagination > li.disabled > a,
.pagination > li.disabled > a:hover {
    background: #FAFAFA;
    border-color: #EEE;
    color: #CCC;
}
.pagination > li.active > a,
.pagination > li.active > a:hover {
    background: #1ABB9C;
    border-color: #37A37E;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
}

/* Main layout. */
#content {
    padding-right: 15px;
}
#navbar {
    border-radius: 0;
    margin-bottom: 0;
}
.main-container {
    margin-right: 0;
    position: relative;
    overflow: hidden;
}
.main-container .col-md-10 {
    padding-right: 0;
    padding-left: 0;
}

/* Sidebar. */
#sidebar {
    margin-top: -50px;
    padding-top: 50px;
    background-color: #333;
    margin-bottom: -8000px;
    padding-bottom: 8000px;
}
#sidebar span.nav-header {
    display: block;
    text-align: center;
    padding: 1em 0;
    font-weight: bold;
    font-size: 1.1em;
    color: #EEE;
    text-transform: uppercase;
    border-top: solid 1px #444;
    border-bottom: solid 1px #444;
}
#sidebar li a {
    color: #999;
    font-size: 1em;
    white-space: nowrap;
}
#sidebar li a:visited {
    color: #999;
}
#sidebar li a:hover {
    color: #fff;
    background-color: #1ABB9C;
}
#sidebar li a i {
    margin-right: 5px;
}
#sidebar li.active {
    background: #444;
}
#sidebar li.active a {
    color: #FFF;
    background: #444;
}
#sidebar li.active a:hover {
    background: #555;
}

.form-actions {
    background-color: #f1f1f1;
    padding: 10px;
    border-bottom: 3px solid #ddd;
    margin-bottom: 10px;
    text-align: center;
}
.actions-menu {
    float: right;
}
.page-header {
    margin: 0 -15px 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.page-header h1 {
    margin-left: 10px;
    font-size: 24px;
}
.page-header small {
    color: #999;
    font-size: 16px;
}

.form-filter {
    background-color: #f1f1f1;
    padding: 15px;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 20px;
}
.form-filter .row .form-group {
    margin-right: 10px;
    width: 100%;
}
.label-state {
    padding: 5px 10px;
}
#topbar {
    background-color: #F5F5F5;
    margin-left: -15px;
    margin-top: 0;
    padding: 8px 0;
}
#topbar ol {
    margin: 0;
    padding: 0 0 0 15px;
}
#topbar li {
    display: inline;
}
.navbar-inverse .navbar-nav > .open > a {
    background-color: #333;
}

/* Forms. */
.file-overlay {
    cursor: pointer;
}

.form-control {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #EFEDE6;
}
.form-control:hover {
    border-color: #DCD8CD;
}
.form-control:focus {
    border-color: #37A37E;
    color: #02805D;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.input-group-addon {
    border-radius: 3px;
    border-color: #EFEDE6;
    background: #FAFAFA;
}
.help-block {
    margin-bottom: 0;
}
.control-choice-input {
    position: relative;
    height: 20px;
}
.control-choice-input input {
    float: none;
    position: absolute;
    left: 0;
    top: 4px;
}
.control-choice-input .control-label {
    float: none;
    position: absolute;
    left: 25px;
    top: 0;
}

.delete-action-form {
    display: inline;
}

.widgets a i {
    margin: 0;
}

#flashes .alert {
    margin-top: 10px;
    margin-bottom: 5px;
}

.center-text {
    text-align: center;
}

.thumbnail {
    width: 90px;
}

.imagine-thumbnail {
	margin-top: 25px;
}

.sylius-assortment-variant-images-image {
    margin: 5px 0;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

.sylius-assortment-variant-images-image:last-child {
    border: 0;
}

.sylius-assortment-variant-images-image .thumbnail {
    height: 60px;
    display: block;
    border: 0;
}

/* Tabs */
.tab-container {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.tab-content {
    margin-top: 20px;
}

.nav-tabs > li > span {
    position: relative;
    display: block;
    padding: 10px 15px;
    font-weight: bold;
}

/* Hide button text on small devices, as well remove some other margin/padding */
@media (max-width: 992px) {
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .main-container .col-md-10 {
        padding-left: 15px;
    }
}
@media (max-width: 1350px) {
    .btn i {
        margin-right: 0;
    }
    .btn span {
        display: none;
    }
    .table .btn {
        margin-bottom: 3px;
    }

    #sidebar span.nav-header span {
        display: none;
    }
    #sidebar span.nav-header {
        padding: 0;
    }
    #sidebar li a {
        position: relative;
        text-align: center;
        font-size: 1.75em;
    }
    #sidebar li a i {
        margin-right: 0;
    }
    #sidebar li a span {
        display: none;
    }
    #sidebar li a:hover span {
        background: inherit;
        border-radius: 0 3px 3px 0;
        display: block;
        font-size: 0.75em;
        left: 68px;
        padding: 15px;
        position: absolute;
        top: 0;
        z-index: 1000;
    }
}

/** Dashboard */
.col-md-6 #users .btn span {
    display: none;
}

/** Products. **/
.sylius-products-table td {
    vertical-align: middle;
}
.sylius-products-table .name {
    font-size: 16px;
    text-decoration: none;
}
.sylius-products-table .sku {
    background: #FCFCFC;
    color: #666;
}
.sylius-products-table .id,
.sylius-products-table .stock,
.sylius-products-table .retail-price,
.sylius-products-table .original-price,
.sylius-products-table .updated-at {
    text-align: center;
}
.sylius-products-table .stock,
.sylius-products-table .retail-price,
.sylius-products-table .original-price,
.sylius-products-table .updated-at {
    width: 150px;
}
.sylius-products-table .actions {
    width: 170px;
    text-align: center;
}

/** Order. **/
.sylius-order-content-table .picture,
.sylius-order-content-table .quantity,
.sylius-order-content-table .unit-price,
.sylius-order-content-table .total {
    width: 110px;
    vertical-align: middle;
}
.sylius-order-content-table .info .name {
    font-size: 16px;
    text-decoration: none;
    margin: 0 0 5px 0;
}
.sylius-order-content-table .info ul {
    margin-bottom: 0;
}
.sylius-order-content-table .info .sku code {
    background: #FCFCFC;
    color: #666;
}
.sylius-order-content-table tr.taxes td,
.sylius-order-content-table tr.shipping-charges td,
.sylius-order-content-table tr.promotion-discount td {
    vertical-align: middle;
}
.sylius-order-content-table tr.taxes td h5,
.sylius-order-content-table tr.shipping-charges td h5,
.sylius-order-content-table tr.promotion-discount td h5 {
    margin-top: 0;
}
.sylius-order-content-table tr.taxes td p,
.sylius-order-content-table tr.taxes td ul,
.sylius-order-content-table tr.shipping-charges td p,
.sylius-order-content-table tr.shipping-charges td ul,
.sylius-order-content-table tr.promotion-discount td p,
.sylius-order-content-table tr.promotion-discount td ul {
    margin-bottom: 0;
}
.sylius-order-content-table span.amount {
    min-width: 65px;
    display: inline-block;
}

.datepicker.dropdown-menu {
  background-color: #333;
  border: 0;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #fff;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
  background: #1abb9c;
  color: #fff;
}
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:focus,
.datepicker table tr td.active:hover:focus,
.datepicker table tr td.active.disabled:focus,
.datepicker table tr td.active.disabled:hover:focus,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.open .dropdown-toggle.datepicker table tr td.active,
.open .dropdown-toggle.datepicker table tr td.active:hover,
.open .dropdown-toggle.datepicker table tr td.active.disabled,
.open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
  color: #ffffff;
  background-color: #1abb9c;
  border: 0;
}
.datepicker thead tr:first-child th:hover,
.datepicker tfoot tr th:hover {
  background: #1abb9c;
  color: #fff;
}
.datepicker table tr td span:hover {
  background: #1abb9c;
  color: #fff;
}
.datepicker-dropdown:before {
    border-bottom-color: #333;
    border-top-color: #333;
    color: #333;
}

.select2-results li {
    float: left;
    width: 99%;
}
.select2-results img {
    float: left;
    margin-right: 10px;
}

#sylius-menu-childrens img {
	margin-top: 20px;
}

/** Content. **/
.content-block-overview {
	
}

.content-block-overview i {
    font-size: 24px;
}
