body {
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body.toolbar-padding {
    padding-top: 81px;
}

a.create-ui-toggle {
    background-image: url("/bundles/syliusweb/img/logo.png");
}

h1.logo {
}

h1.logo a {
    color: #333;
}

h1.logo a img {
    width: 40px;
}

h1.logo a span {
    margin-left: 5px;
}

h1.logo a:hover {
    color: #333333;
    text-decoration: none;
}

.jumbotron {
    margin: 20px 0 40px;
    text-align: center;
}

.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.marketing {
    margin: 60px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

th {
    background-color: #f1f1f1;
}

#sidebar ul {
    margin-left: 0;
    list-style: none;
    padding: 0;
    overflow: hidden;
}

#sidebar ul span.nav-header {
    padding-left: 10px;
    font-weight: bold;
}

#sidebar ul.nav-list {
    margin-top: 10px;
}

#sidebar ul li a:hover {
    text-decoration: none;
}

#sidebar ul li img {
    float: left;
    margin-right: 10px;
}

#sidebar ul li h4 {
    font-size: 15px;
    text-align: left;
}

div.product-box {
    margin-bottom: 20px;
}

div.product-box a {
    text-decoration: none;
}

div.product-box a img {
    margin-bottom: 5px;
}

div.product-box h3 {
   color: #333;
}

div.footer p {
    float: left;
    margin-top: 8px;
}

div.footer ul li a {
    color: #999;
}

#sidebar ul li img.menu-thumbnail {
    float: none;
    margin-right: 0;
}

.form-actions {
    padding: 10px;
    text-align: center;
    background-color: #f1f1f1;
    border-top: 3px solid #ddd;
}

div.currency-menu {
    margin-right: 50px;
}

.checkout-new-customer form, .checkout-existing-customer form {
    margin-top: 20px;
}

.checkout-new-customer .form-group {
    clear: both;
    margin-bottom: 10px;
    overflow: auto;
}

.checkout-new-customer .form-group > .control-label, .address-container .form-group > .control-label {
    padding-left: 0;
    padding-right: 0;
    width: 25%;
}

.checkout-new-customer .form-group > .col-lg-10, .address-container .form-group > .col-lg-10 {
    width: 75%;
}

a.oauth-login {
    margin-right: 8px;
}

a.oauth-login:hover {
    text-decoration: none;
}

.create-ui-toolbar-wrapper {
    background-color: #333 !important;
}
.create-ui-toolbar-wrapper.editing {
    background: rgba(0, 0, 0, 0.7) !important;
}

a.create-ui-toggle {
    background-image: url('/bundles/syliusweb/img/logo.png') !important;
    background-size: 36px 41px !important;
    background-repeat: no-repeat !important;
    cursor: pointer;
}

/* Specific rules */
.crossed {
     text-decoration: line-through;
 }
.label-originalprice {
     margin-right: 0.3em;
 }

.create-ui-toolbar-wrapper a {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}
.create-ui-btn {
    background-color: #333 !important;
    border: 1px solid #1abb9c !important;
    color: #1abb9c !important;
}
.create-ui-btn:hover {
    background-color: #444 !important;
    border: 1px solid #1abb9c !important;
    color: #1abb9c !important;
}
[contenteditable="true"] {
    outline: 1px solid #1abb9c !important;
}
[contenteditable="true"].inEditMode {
    outline: 3px solid #1abb9c !important;
}

#blueimp-gallery-slideshow-home {
    /* Set the carousel width/height ratio to 16/9: */
    padding-bottom: 35%;
    box-shadow: 0px 0px;
    background: none;
}

#blueimp-gallery-slideshow-sidebar {
    /* Set the carousel width/height ratio to 16/9: */
    padding-bottom: 35%;
    box-shadow: 0px 0px;
    background: none;
}

#blueimp-gallery-slideshow-full {
    /* Set the carousel width/height ratio to 16/9: */
    padding-bottom: 35%;
    box-shadow: 0px 0px;
    background: none;
}
