<div class="ui stackable two column grid">
    <div class="column">
        {% include configuration.vars.templates.header_title|default('@SyliusAdmin/Crud/Update/_headerTitle.html.twig') %}
        {% include configuration.vars.templates.breadcrumb|default('@SyliusAdmin/Crud/Update/_breadcrumb.html.twig') %}

        {{ sonata_block_render_event(event_prefix ~ '.header', {'resource': resource}) }}
    </div>
    <div class="middle aligned column">
        {% if configuration.vars.templates.toolbar.name|default %}
            {% include configuration.vars.templates.toolbar.name with {options: sylius_options_parse(configuration.vars.templates.toolbar.vars, app.request, resource)} %}
        {% else %}
            {% include configuration.vars.templates.toolbar|default('@SyliusAdmin/Crud/_toolbar.html.twig') ignore missing %}
        {% endif %}
    </div>
</div>
