{% set main_hook = hook_name(hookable_data.parent_main_hook, 'content') %}

<div class="card card-md">
    <div class="card-body">
        {% hook main_hook with { parent_main_hook: main_hook, form: hookable_data.form } %}
    </div>
</div>
