<h1>Creating property <small>Use this form to create new property</small></h1>
<hr />

<form action="{{ path('sylius_property_create') }}" method="post" class="form-horizontal" novalidate>
    {% include 'SyliusProductBundle:Property:_form.html.twig' %}
    <div class="form-actions">
        <input type="submit" value="create property" class="btn btn-large btn-primary" />
        <a href="{{ path('sylius_property_index') }}" class="btn btn-large">cancel</a>
    </div>
</form>
