{% from '@SyliusAdmin/Shared/Helper/icon.html.twig' import icon as _icon %}

<div class="row">
    <div class="col-12 col-md-4 fw-bold">{{ 'sylius.ui.email'|trans }}</div>
    <div class="col-12 col-md-8">
        <a href="mailto:{{ hookable_data.customer.email }}">{{ hookable_data.customer.email }}</a>
    </div>
</div>
