<div class="row">
    <div class="col-12 col-md-4 fw-bold">{{ 'sylius.ui.last_name'|trans }}</div>
    <div class="col-12 col-md-8" {{ sylius_test_html_attribute('customer-lastname') }}>{{ hookable_metadata.context.customer.lastName }}</div>
</div>
