<div class="row">
    <div class="col-12 col-md-4 fw-bold">{{ 'sylius.ui.phone'|trans }}</div>
    <div class="col-12 col-md-8">
        {% if hookable_data.customer.phoneNumber is not empty %}
            <a href="tel:{{ hookable_data.customer.phoneNumber }}">{{ hookable_data.customer.phoneNumber }}</a>
        {% else %}
            -
        {% endif %}
    </div>
</div>
