{% extends '@SyliusShop/account/address_book/layout.html.twig' %}

{% block title %}{{ 'sylius.ui.add_address'|trans }} | {{ parent() }}{% endblock %}

{% block account_header %}
    {% set title = 'sylius.ui.address_book'|trans %}
    {% set description = 'sylius.ui.add_address'|trans %}
    {{ parent() }}
{% endblock %}

{% block account_content %}
    <div>
        {% hook 'sylius_shop.account.address_book.create' with { form } %}
    </div>
{% endblock %}
