<div class="mb-5">
    <h4 class="mb-4">{{ 'sylius.ui.account_credentials'|trans }}</h4>
    {{ form_row(form.user.plainPassword.first, sylius_test_form_attribute('password-first')) }}
    {{ form_row(form.user.plainPassword.second, sylius_test_form_attribute('password-second')) }}
</div>
