<div class="offcanvas-header">
    <h5 class="offcanvas-title">{{ 'sylius.ui.cart'|trans }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>
