{% form_theme form 'SyliusWebBundle:Backend/Form:_default.html.twig' %}

{{ form_errors(form)  }}

<div class="tab-content">
    {% include 'SyliusWebBundle:Backend/Product/Form:_details.html.twig' %}
    {% include 'SyliusWebBundle:Backend/Product/Form:_attributes.html.twig' %}
    {% include 'SyliusWebBundle:Backend/Product/Form:_seo.html.twig' %}
    {% include 'SyliusWebBundle:Backend/Product/Form:_media.html.twig' %}
    {% include 'SyliusWebBundle:Backend/Product/Form:_pricing.html.twig' %}
    {% include 'SyliusWebBundle:Backend/Product/Form:_inventory.html.twig' %}
    {% include 'SyliusWebBundle:Backend/Product/Form:_variants.html.twig' %}
</div>

{{ form_widget(form._token) }}
