<div class="border-top py-5">
    <footer class="container">
        <div class="row">
            <div class="col-12 col-lg-6 order-lg-2">
                {% include '@SyliusShop/Layout/Footer/_menu.html.twig' %}
            </div>

            <div class="col-12 text-center col-md-6 order-md-4 text-md-start col-lg-3 order-lg-4 text-lg-center">
                {% include '@SyliusShop/Layout/Footer/_paymentMethods.html.twig' %}
            </div>

            <div class="col-12 text-center col-md-6 order-md-3 text-md-start col-lg-3 order-lg-1">
                {% include '@SyliusShop/Layout/Footer/_copy.html.twig' %}
            </div>
        </div>
    </footer>
</div>
