{% if app.user %}
    <div class="ui floating dropdown labeled search icon button address-book-select">
        <i class="book icon"></i>
        <span class="text">{{ 'sylius.ui.select_address_from_book'|trans }}</span>
        <div class="menu">
        </div>
    </div>
{% endif %}
