{% for payment in order.payments %}
    <div class="ui large icon message">
        <i class="payment icon"></i>
        <div class="content">
            <div class="header">
                {{ payment.getMethod.name }}
            </div>
            <p>{{ payment.getMethod.description }}</p>
        </div>
    </div>
{% endfor %}
