<div class="ui four steps">
    <a class="active step" href="#">
        <i class="map icon"></i>
        <div class="content">
            <div class="title">{{ 'sylius.ui.addressing'|trans }}</div>
        </div>
    </a>
    <div class="disabled step">
        <i class="truck icon"></i>
        <div class="content">
            <div class="title">{{ 'sylius.ui.shipping'|trans }}</div>
        </div>
    </div>
    <div class="disabled step">
        <i class="payment icon"></i>
        <div class="content">
            <div class="title">{{ 'sylius.ui.payment'|trans }}</div>
        </div>
    </div>
    <div class="disabled step">
        <i class="checkered flag icon"></i>
        <div class="content">
            <div class="title">{{ 'sylius.ui.summary'|trans }}</div>
        </div>
    </div>
</div>
