<div class="ui four steps">
    <a class="active step" href="#">
        <i class="map icon"></i>
        <div class="content">
            <div class="title">Addressing</div>
            <div class="description">Specify your billing and shipping address</div>
        </div>
    </a>
    <div class="disabled step">
        <i class="truck icon"></i>
        <div class="content">
            <div class="title">Shipping</div>
            <div class="description">Choose your shipping method</div>
        </div>
    </div>
    <div class="disabled step">
        <i class="payment icon"></i>
        <div class="content">
            <div class="title">Payment</div>
            <div class="description">Choose your payment method</div>
        </div>
    </div>
    <div class="disabled step">
        <i class="checkered flag icon"></i>
        <div class="content">
            <div class="title">Summary</div>
            <div class="description">Confirm your order</div>
        </div>
    </div>
</div>
