{% if order.channel.contactPhoneNumber %}
    <div>
        {{ order.channel.contactPhoneNumber }}
        <span>{{ 'sylius.ui.need_assistance'|trans }} {{ 'sylius.ui.call_us'|trans }}</span>
    </div>
{% endif %}
