<form class="sylius-update-product-variants" action="{{ path('sylius_admin_ajax_product_variants_update_position') }}" data-csrf-token="{{ csrf_token('update-product-variant-position') }}">
    <button class="ui labeled loadable icon button sylius-save-position" type="submit">
        <i class="icon checkmark"></i>
        {{ 'sylius.ui.save_positions'|trans }}
    </button>
</form>
