<div class="field" id="add-avatar">
    <label>{{ 'sylius.ui.avatar'|trans }}</label>
    {{ form_row(form.avatar, {'label': false}) }}
</div>
{% if admin_user.avatar is not null and admin_user.id is not null %}
    <button
        formaction="{{ path('sylius_admin_admin_user_remove_avatar', {'id': admin_user.id, '_csrf_token': csrf_token(admin_user.id)}) }}"
        type="submit"
        class="ui icon red labeled button"
    >
        <i class="icon trash"></i> {{ 'sylius.ui.delete'|trans }}
    </button>
{% endif %}
