{% form_theme form '@SyliusUi/Form/imagesTheme.html.twig' %}

<div class="ui two column stackable grid">
    {{ form_errors(form) }}

    {{ sylius_template_event('sylius.admin.admin_user.form.columns', _context) }}
</div>
