<div class="ui segment">
    {{ sylius_template_event('sylius.admin.admin_user.general_info', _context) }}
</div>
<div class="ui segment">
    {{ sylius_template_event('sylius.admin.admin_user.general_info_extended', _context) }}
</div>
