{{ form_errors(form) }}

<div class="column">
    {{ sylius_template_event('sylius.admin.admin_user.first_column', _context) }}
</div>
<div class="column">
    {{ sylius_template_event('sylius.admin.admin_user.second_column', _context) }}
</div>
