<div class="column">
    <div class="ui segment">
        {{ sylius_template_event('sylius.admin.admin_user.additional_information', _context) }}

        {{ sylius_template_event('sylius.admin.admin_user.avatar', _context) }}
    </div>
    <div class="ui segment">
        {{ sylius_template_event('sylius.admin.admin_user.preferences', _context) }}
    </div>
    {{ sylius_template_event('sylius.admin.admin_user.second_column', _context) }}

</div>
