{% set main_hook = hook_name(hookable_data.parent_main_hook, 'sections') %}
{% set fallback_hook = hook_name(hookable_data.parent_fallback_hook, 'sections') %}

<div class="page-body">
    <div class="container-xl">
        {% hook [main_hook, fallback_hook] with hookable_data|merge({
            parent_main_hook: main_hook,
            parent_fallback_hook: fallback_hook,
            user: hookable_data.resource.user|default(null)
        }) %}
    </div>
</div>
