{% extends '@SyliusShop/Account/layout.html.twig' %}

{% block breadcrumb %}
    {% include '@SyliusShop/Account/Order/Index/_breadcrumb.html.twig' %}
{% endblock %}

{% block subcontent %}
    <h1 class="ui dividing header">
        {{ 'sylius.ui.order_history'|trans }}
        <div class="sub header">{{ 'sylius.ui.browse_your_orders_from_the_past'|trans }}</div>
    </h1>

    {{ sylius_grid_render(resources, '@SyliusShop/Account/Order/Grid/_default.html.twig') }}
{% endblock %}
