{% form_theme form 'SyliusWebBundle:Backend:filterForms.html.twig' %}

<form method="get" action="{{ path('sylius_backend_user_index') }}" class="form-inline form-filter">
    {{ form_row(form.query) }}
    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> {{ 'sylius.search'|trans }}</button>
</form>
