{% set channel_pricing = hookable_metadata.context.channel_pricing %}

<td class="text-end">
    <ul>
        {% for promotion in channel_pricing.appliedPromotions %}
            <li>{{ promotion.name }}</li>
        {% endfor %}
    </ul>
</td>
