{% set main_hook = hook_name(hookable_metadata.context.parent_main_hook, 'sections') %}
{% set fallback_hook = hook_name(hookable_metadata.context.parent_fallback_hook, 'sections') %}

<div class="col-12 col-md-8">
    {% hook 'sections' %}
</div>
