{% set main_hook = hook_name(hookable_data.parent_main_hook, 'sections') %}
{% set fallback_hook = hook_name(hookable_data.parent_fallback_hook, 'sections') %}

<div class="col-12 col-md-8">
    {% hook [main_hook, fallback_hook] with hookable_data|merge({
        parent_main_hook: main_hook,
        parent_fallback_hook: fallback_hook,
    }) %}
</div>
