<div class="col-12 col-md-4">
    <div class="card mb-5" data-js-tree="container">
        <div class="card-body">
            <div class="mb-3">
                <button data-js-tree="toggle-all" type="button" class="btn btn-sm">Toggle All</button>
            </div>
            <ul class="tree">
                <li class="expanded">

                    <div class="tree-header expanded" data-js-tree="toggle">
                        <div class="d-flex justify-content-between">
                            <div class="tree-header-btn" data-js-tree="toggle-btn">
                    <span class="tree-icon tree-icon-right">
                        <svg xmlns="http://www.w3.org/2000/svg" class="" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                           <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                    </span>
                                <span class="tree-icon tree-icon-down">
                        <svg xmlns="http://www.w3.org/2000/svg" class="" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                           <path d="M6 9l6 6l6 -6"></path>
                        </svg>
                    </span>
                                Category
                            </div>
                            <div>    <div class="dropdown">
                                    <button class="btn btn-sm" type="button" data-bs-toggle="dropdown">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                            <path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                            <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                            <path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                        </svg>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Create</a></li>
                                        <li><a class="dropdown-item" href="#">Edit</a></li>
                                        <li><form><button type="submit" class="dropdown-item" data-confirm-btn-submit="">Delete</button></form></li>
                                        <li><a class="dropdown-item" href="#">Move up</a></li>
                                        <li><a class="dropdown-item" href="#">Move down</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ul class="tree-items" style="display: block;">
                        <li class="expanded">

                            <div class="tree-header expanded" data-js-tree="toggle">
                                <div class="d-flex justify-content-between">
                                    <div class="tree-header-btn" data-js-tree="toggle-btn">
                    <span class="tree-icon tree-icon-right">
                        <svg xmlns="http://www.w3.org/2000/svg" class="" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                           <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                    </span>
                                        <span class="tree-icon tree-icon-down">
                        <svg xmlns="http://www.w3.org/2000/svg" class="" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                           <path d="M6 9l6 6l6 -6"></path>
                        </svg>
                    </span>
                                        T-shirt
                                    </div>
                                    <div>    <div class="dropdown">
                                            <button class="btn btn-sm" type="button" data-bs-toggle="dropdown">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                    <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                    <path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                </svg>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Create</a></li>
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><form><button type="submit" class="dropdown-item" data-confirm-btn-submit="">Delete</button></form></li>
                                                <li><a class="dropdown-item" href="#">Move up</a></li>
                                                <li><a class="dropdown-item" href="#">Move down</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <ul class="tree-items" style="display: block;">
                                <li>
                                    <div class="d-flex justify-content-between">
                                        <a class="d-flex" href="#">
                <span class="tree-icon tree-icon-dot">
                    <svg xmlns="http://www.w3.org/2000/svg" class="" width="10" height="10" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                       <path d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" stroke-width="0" fill="currentColor"></path>
                    </svg>
                </span>
                                            Man
                                        </a>
                                        <div>    <div class="dropdown">
                                                <button class="btn btn-sm" type="button" data-bs-toggle="dropdown">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                        <path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                        <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                        <path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                    </svg>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#">Create</a></li>
                                                    <li><a class="dropdown-item" href="#">Edit</a></li>
                                                    <li><form><button type="submit" class="dropdown-item" data-confirm-btn-submit="">Delete</button></form></li>
                                                    <li><a class="dropdown-item" href="#">Move up</a></li>
                                                    <li><a class="dropdown-item" href="#">Move down</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex justify-content-between">
                                        <a class="d-flex" href="#">
                <span class="tree-icon tree-icon-dot">
                    <svg xmlns="http://www.w3.org/2000/svg" class="" width="10" height="10" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                       <path d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" stroke-width="0" fill="currentColor"></path>
                    </svg>
                </span>
                                            Women
                                        </a>
                                        <div>    <div class="dropdown">
                                                <button class="btn btn-sm" type="button" data-bs-toggle="dropdown">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                        <path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                        <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                        <path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                    </svg>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#">Create</a></li>
                                                    <li><a class="dropdown-item" href="#">Edit</a></li>
                                                    <li><form><button type="submit" class="dropdown-item" data-confirm-btn-submit="">Delete</button></form></li>
                                                    <li><a class="dropdown-item" href="#">Move up</a></li>
                                                    <li><a class="dropdown-item" href="#">Move down</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li class="expanded">

                            <div class="tree-header expanded" data-js-tree="toggle">
                                <div class="d-flex justify-content-between">
                                    <div class="tree-header-btn" data-js-tree="toggle-btn">
                    <span class="tree-icon tree-icon-right">
                        <svg xmlns="http://www.w3.org/2000/svg" class="" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                           <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                    </span>
                                        <span class="tree-icon tree-icon-down">
                        <svg xmlns="http://www.w3.org/2000/svg" class="" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                           <path d="M6 9l6 6l6 -6"></path>
                        </svg>
                    </span>
                                        Caps
                                    </div>
                                    <div>    <div class="dropdown">
                                            <button class="btn btn-sm" type="button" data-bs-toggle="dropdown">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                    <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                    <path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                </svg>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Create</a></li>
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><form><button type="submit" class="dropdown-item" data-confirm-btn-submit="">Delete</button></form></li>
                                                <li><a class="dropdown-item" href="#">Move up</a></li>
                                                <li><a class="dropdown-item" href="#">Move down</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <ul class="tree-items" style="display: block;">
                                <li>
                                    <div class="d-flex justify-content-between">
                                        <a class="d-flex" href="#">
                <span class="tree-icon tree-icon-dot">
                    <svg xmlns="http://www.w3.org/2000/svg" class="" width="10" height="10" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                       <path d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" stroke-width="0" fill="currentColor"></path>
                    </svg>
                </span>
                                            Simple
                                        </a>
                                        <div>    <div class="dropdown">
                                                <button class="btn btn-sm" type="button" data-bs-toggle="dropdown">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                        <path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                        <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                        <path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                    </svg>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#">Create</a></li>
                                                    <li><a class="dropdown-item" href="#">Edit</a></li>
                                                    <li><form><button type="submit" class="dropdown-item" data-confirm-btn-submit="">Delete</button></form></li>
                                                    <li><a class="dropdown-item" href="#">Move up</a></li>
                                                    <li><a class="dropdown-item" href="#">Move down</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex justify-content-between">
                                        <a class="d-flex" href="#">
                <span class="tree-icon tree-icon-dot">
                    <svg xmlns="http://www.w3.org/2000/svg" class="" width="10" height="10" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                       <path d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" stroke-width="0" fill="currentColor"></path>
                    </svg>
                </span>
                                            With pompons
                                        </a>
                                        <div>    <div class="dropdown">
                                                <button class="btn btn-sm" type="button" data-bs-toggle="dropdown">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                        <path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                        <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                        <path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                    </svg>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#">Create</a></li>
                                                    <li><a class="dropdown-item" href="#">Edit</a></li>
                                                    <li><form><button type="submit" class="dropdown-item" data-confirm-btn-submit="">Delete</button></form></li>
                                                    <li><a class="dropdown-item" href="#">Move up</a></li>
                                                    <li><a class="dropdown-item" href="#">Move down</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <div class="d-flex justify-content-between">
                                <a class="d-flex" href="#">
                <span class="tree-icon tree-icon-dot">
                    <svg xmlns="http://www.w3.org/2000/svg" class="" width="10" height="10" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                       <path d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" stroke-width="0" fill="currentColor"></path>
                    </svg>
                </span>
                                    Dresses
                                </a>
                                <div>    <div class="dropdown">
                                        <button class="btn btn-sm" type="button" data-bs-toggle="dropdown">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                <path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                            </svg>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Create</a></li>
                                            <li><a class="dropdown-item" href="#">Edit</a></li>
                                            <li><form><button type="submit" class="dropdown-item" data-confirm-btn-submit="">Delete</button></form></li>
                                            <li><a class="dropdown-item" href="#">Move up</a></li>
                                            <li><a class="dropdown-item" href="#">Move down</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="expanded">

                            <div class="tree-header expanded" data-js-tree="toggle">
                                <div class="d-flex justify-content-between">
                                    <div class="tree-header-btn" data-js-tree="toggle-btn">
                    <span class="tree-icon tree-icon-right">
                        <svg xmlns="http://www.w3.org/2000/svg" class="" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                           <path d="M9 6l6 6l-6 6"></path>
                        </svg>
                    </span>
                                        <span class="tree-icon tree-icon-down">
                        <svg xmlns="http://www.w3.org/2000/svg" class="" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                           <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                           <path d="M6 9l6 6l6 -6"></path>
                        </svg>
                    </span>
                                        Jeans
                                    </div>
                                    <div>    <div class="dropdown">
                                            <button class="btn btn-sm" type="button" data-bs-toggle="dropdown">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                    <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                    <path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                </svg>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Create</a></li>
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><form><button type="submit" class="dropdown-item" data-confirm-btn-submit="">Delete</button></form></li>
                                                <li><a class="dropdown-item" href="#">Move up</a></li>
                                                <li><a class="dropdown-item" href="#">Move down</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <ul class="tree-items" style="display: block;">
                                <li>
                                    <div class="d-flex justify-content-between">
                                        <a class="d-flex" href="#">
                <span class="tree-icon tree-icon-dot">
                    <svg xmlns="http://www.w3.org/2000/svg" class="" width="10" height="10" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                       <path d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" stroke-width="0" fill="currentColor"></path>
                    </svg>
                </span>
                                            Man
                                        </a>
                                        <div>    <div class="dropdown">
                                                <button class="btn btn-sm" type="button" data-bs-toggle="dropdown">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                        <path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                        <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                        <path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                    </svg>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#">Create</a></li>
                                                    <li><a class="dropdown-item" href="#">Edit</a></li>
                                                    <li><form><button type="submit" class="dropdown-item" data-confirm-btn-submit="">Delete</button></form></li>
                                                    <li><a class="dropdown-item" href="#">Move up</a></li>
                                                    <li><a class="dropdown-item" href="#">Move down</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="d-flex justify-content-between">
                                        <a class="d-flex" href="#">
                <span class="tree-icon tree-icon-dot">
                    <svg xmlns="http://www.w3.org/2000/svg" class="" width="10" height="10" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                       <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                       <path d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" stroke-width="0" fill="currentColor"></path>
                    </svg>
                </span>
                                            Women
                                        </a>
                                        <div>    <div class="dropdown">
                                                <button class="btn btn-sm" type="button" data-bs-toggle="dropdown">
                                                    <svg xmlns="http://www.w3.org/2000/svg" class="" width="16" height="16" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                        <path d="M5 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                        <path d="M12 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                        <path d="M19 12m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
                                                    </svg>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item" href="#">Create</a></li>
                                                    <li><a class="dropdown-item" href="#">Edit</a></li>
                                                    <li><form><button type="submit" class="dropdown-item" data-confirm-btn-submit="">Delete</button></form></li>
                                                    <li><a class="dropdown-item" href="#">Move up</a></li>
                                                    <li><a class="dropdown-item" href="#">Move down</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
