{% set form = hookable_metadata.context.form %}

{% if form.configuration is defined %}
    {% set attribute_type = hookable_metadata.context.form.vars.value.type %}
    <div class="card mb-3" {{ sylius_test_html_attribute('configuration') }}>
        <div class="card-header">
            <div class="card-title">
                {{ 'sylius.ui.configuration'|trans }}
            </div>
        </div>
        <div class="card-body">
            {% hook 'configuration' %}
            {% hook 'configuration' ~ '.' ~ attribute_type %}
        </div>
    </div>
{% endif %}
