{% set product = _context.resource %}

{% if product.isSimple %}
    <button type="button" class="list-group-item list-group-item-action {% if _context.active|default(false) %}active{% endif %}" data-bs-toggle="tab" data-bs-target="#product-channel-pricing" role="tab">
        {{ 'sylius.ui.channel_pricings'|trans }}
    </button>
{% endif %}
