{% set product = hookable_data.resource %}

{% if product.isSimple %}
    <button
        type="button"
        class="list-group-item list-group-item-action {% if hookable_configuration.active|default(false) %}active{% endif %}"
        data-bs-toggle="tab"
        data-bs-target="#product-inventory"
        role="tab"
        {{ sylius_test_html_attribute('side-navigation-tab', 'inventory') }}
    >
        {{ 'sylius.ui.inventory'|trans }}
    </button>
{% endif %}
