{% import '@SyliusAdmin/shared/helper/money.html.twig' as money %}

{% set currencies = sylius_channels_currencies() %}

{% for channel_code, channel_configuration in hookable_metadata.context.action.configuration %}
    <div class="row">
        <div class="col-12 col-md-4 fw-bold">{{ channel_code }}</div>
        <div class="col-12 col-md-8" {{ sylius_test_html_attribute(channel_code ~ '-amount') }}>
            {{ money.format(channel_configuration['amount'], currencies[channel_code]) }}
        </div>
    </div>
{% endfor %}
