{% from '@SyliusAdmin/Macro/translationForm.html.twig' import translationForm %}

<div class="ui segment">
    {{ form_errors(form) }}
    {{ form_row(form.code) }}
</div>

{{ translationForm(form.translations) }}
