{% from '@SyliusAdmin/shared/helper/icon.html.twig' import icon as _icon %}

<a class="dropdown-item" href="{{ path('sylius_admin_customer_update', {'id': hookable_metadata.context.resource.id}) }}">
    {{ _icon({ icon: 'pencil', class: 'icon dropdown-item-icon icon-tabler' }) }}
    {{ 'sylius.ui.edit'|trans }}
</a>
