{% from '@SyliusAdmin/shared/helper/icon.html.twig' import icon %}

{% set resource = hookable_metadata.context.resource %}

<a class="dropdown-item" href="{{ path('sylius_admin_order_show', {'id': resource.id}) }}">
    {{ icon({ icon: 'arrow-back-up', class: 'icon dropdown-item-icon icon-tabler' }) }}
    {{ 'sylius.ui.back'|trans }}
</a>
