{% import '@SyliusAdmin/Shared/Helper/avatar.html.twig' as avatar %}
{% import '@SyliusAdmin/Shared/Helper/dropdown.html.twig' as dropdown %}

<div class="nav-item">
    {{ component('SyliusAdminUserDropdown') }}
</div>
