{% import '@SyliusUi/Macro/messages.html.twig' as messages %}

{% if (last_error is defined) and (last_error is not null) %}
    <div class="ui left aligned basic segment">
        {{ messages.error(last_error.messageKey) }}
    </div>
{% endif %}
