{% if paths.logo is defined %}
    <div style="max-width: 270px; margin: 0 auto; margin-bottom: 40px;">
        <img src="{{ asset(paths.logo) }}" class="ui fluid image" id="logo">
    </div>
{% endif %}
