{% extends 'SyliusUiBundle::layout.html.twig' %}

{% block navbar %}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block main %}
<div class="col-md-12" id="sign-in-container">
    {% block content %}
    {% endblock %}
</div>
{% endblock %}
