<div class="ui grid">
    <div class="row">
        <div class="column">
            <div class="ui segment">
                <a href="#" class="ui fluid image">
                    <img src="http://placehold.it/1200x460" />
                </a>
            </div>
        </div>
    </div>
    <div class="three column row">
        <div class="column">
            <div class="ui segment">
                <a href="#" class="ui fluid image">
                    <img src="http://placehold.it/1200x460" />
                </a>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <a href="#" class="ui fluid image">
                    <img src="http://placehold.it/1200x460" />
                </a>
            </div>
        </div>
        <div class="column">
            <div class="ui segment">
                <a href="#" class="ui fluid image">
                    <img src="http://placehold.it/1200x460" />
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="four wide column">
            <div class="ui segment">
                <a href="#" class="ui fluid image">
                    <img src="http://placehold.it/200x200" />
                </a>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui segment">
                <a href="#" class="ui fluid image">
                    <img src="http://placehold.it/200x200" />
                </a>
            </div>
        </div>
        <div class="eight wide column">
            <div class="ui segment">
                <a href="#" class="ui fluid image">
                    <img src="http://placehold.it/520x231" />
                </a>
            </div>
        </div>
    </div>
</div>
