<div class="ui equal width stackable internally celled grid">
    <div class="center aligned row">
        <div class="column">
            <h3>FREE SHIPPING FOR ORDERS ABOVE $100</h3>
            <p>Promotion lasts until Sunday!</p>
        </div>
        <div class="column">
            <h3>"I love their products and use them every day!"</h3>
            <p>
                <img src="{{ asset('assets/shop/img/avatar.png') }}" class="ui avatar image"> <b>Tony Soprano</b> Chief Executive Godfather
            </p>
        </div>
    </div>
</div>
