{% set labels, values =
    ['02.19', '03.19', '04.19', '05.19', '06.19', '07.19', '08.19', '09.19', '10.19', '11.19', '12.19', '01.20'],
    [399, 1200, 199, 788, 399, 1100, 199, 23, 399, 999, 199, 567]
%}

{% if labels and values %}
    <div class="ui grid">
        <div class="column">
            <h3 class="ui top attached header">{{ 'sylius.ui.sales_summary'|trans }}</h3>
            <div class="ui attached segment" style="height: 400px;">
                <canvas id="dashboard-chart" data-labels="{{ labels|json_encode() }}" data-values="{{ values|json_encode() }}"></canvas>
            </div>
        </div>
    </div>
{% endif %}
