<div class="event">
    <div class="content">
        <div class="summary">
            <a  href="{{ path('sylius_admin_product_attribute_update', {id: item.id}) }}" class="user">
                {{ item.name }}
            </a>
        </div>
    </div>
</div>
