<div class="event">
    <div class="content">
        <div class="summary">
            <a  href="{{ path('sylius_admin_customer_show', {id: item.id}) }}" class="user">
                {{ item.fullName }}
            </a>
            <div class="date">
                {{ item.email }}
            </div>
        </div>
    </div>
</div>
