{% extends '@SyliusAdmin/common/update/content/form.html.twig' %}

{% block form_content %}
    <div class="row">
        {{ form_errors(form) }}
        {{ form_widget(form._token) }}

        {{ parent() }}
    </div>
{% endblock %}
