{% import '@SyliusAdmin/shared/helper/translations.html.twig' as translations %}

<div class="bg-white mb-3">
    {{ translations.default(hookable_metadata.context.form.translations, null, { accordion_id: 'catalog-promotion-translations'}) }}
</div>
