[dir="rtl"] {
  text-align: right;

  input:not(input[type="number"], input[type="email"], input[name*="translations"]), textarea {
    unicode-bidi: bidi-override;
    text-align: right;
  }

  input[type="number"], input[type="email"], input[name*="translations"], textarea[name*="translations"] {
    text-align: right;
    direction: ltr;
  }

  .admin-layout__nav {
    .sylius-admin-menu {
      > .item > .header {
        padding-right: 1.5em;
      }
    }
  }

  .ui.header > .icon + .content {
    padding-right: 0.75rem;
  }

  .ui.table,
  .ui.dropdown {
    text-align: right;
  }

  .sylius-filters .sylius-filters__group input, .sylius-filters .sylius-filters__group select {
    border-right-width: 1px !important;
  }

  .ui[class*="right floated"].buttons, .ui[class*="right floated"].button {
    float: left;
    margin-right: 0;
    margin-left: 0.25em;
  }

  .ui.message > .icon {
    margin-right: 0;
    margin-left: 0.6em;
  }

  .ui.menu .item > i.icon {
    margin: 0 0 0 0.35714286em;
  }

  .ui.menu .item > i.dropdown.icon {
    margin: 0 1em 0 0;
  }

  .ui.avatar.images .image, .ui.avatar.images img, .ui.avatar.images svg, .ui.avatar.image img, .ui.avatar.image svg, .ui.avatar.image {
    margin-right: 0;
    margin-left: 0.25em;
  }

  .ui.label > .icon {
    margin: 0 0 0 0.75em;
  }

  .channel .channel__item:not(:last-child) {
    margin-left: 8px;
    margin-right: 0;
  }

  .ui.grid > [class*="right aligned"].column.column {
    text-align: left;
  }

  .ui.list .list > .item > i.icon, .ui.list > .item > i.icon {
    padding-left: 0.28571429em;
    padding-right: 0;
  }

  i.icon {
    margin: 0 0 0 0.25rem;
  }

  .ui.message > .close.icon {
    right: unset;
    left: 0.5em;
  }

  .sylius-filters select {
    background-position: calc(0% + 10px) calc(50% + 3px) !important;
  }
}
