{% set last_error = hookable_metadata.context.last_error|default(null) %}

{% if last_error is not null %}
    <div class="alert alert-danger" {{ sylius_test_html_attribute('invalid-credentials-message') }}>
        {{ last_error.messageKey|trans }}
    </div>
{% endif %}
