{% form_theme form 'SyliusUiBundle:Form:theme.html.twig' %}

<div class="ui tab" data-tab="media">
    <h3 class="ui dividing header">{{ 'sylius.ui.media'|trans }}</h3>
    {{ form_row(form.images, {'label': false}) }}
</div>
