<div class="ui tab" data-tab="media">
    <h3 class="ui dividing header">{{ 'sylius.ui.media'|trans }}</h3>
    {% if form.variant is defined %}
    {{ form_row(form.variant.images, {'label': false}) }}
    {% endif %}
</div>
