{% form_theme form '@SyliusAdmin/Form/imagesTheme.html.twig' %}

<div class="ui tab" data-tab="media">
    <h3 class="ui top attached header">{{ 'sylius.ui.media'|trans }}</h3>

    <div class="ui attached segment">
        <br>
        {{ form_row(form.images, {'label': false}) }}

        {{ sylius_template_event(['sylius.admin.product.' ~ action ~ '.tab_media', 'sylius.admin.product.tab_media'], {'form': form}) }}
    </div>
</div>
