<footer id="footer" class="ui inverted vertical footer segment">
    {% include "@SyliusShop/Layout/Footer/Grid/_pre_footer.html.twig" %}
    <div class="ui container">
        {{ sylius_template_event('sylius.shop.layout.footer') }}
    </div>
</footer>
