{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <h2 class="ui center aligned icon header">
        <img src="{{ asset('build/shop/images/logo.png', 'shop') }}" alt="Sylius logo" class="ui small image" />
        <br/><br/>
        {{ 'sylius.ui.the_page_you_are_looking_for_does_not_exist'|trans }}
    </h2>

{% endblock %}
