{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <h2>
        <img src="{{ asset('build/shop/images/logo.png', 'shop') }}" alt="Sylius logo" />
        {{ 'sylius.ui.unexpected_error_occurred'|trans }}
    </h2>
{% endblock %}
