{% import '@SyliusAdmin/Shared/Helper/translations.html.twig' as _translations %}

{% set form = hookable_metadata.context.form %}
{% set prefixes = hookable_metadata.prefixes %}

<div class="card mb-3">
    <div class="card-header">
        <div class="card-title">{{ 'sylius.ui.translations'|trans }}</div>
    </div>

    <div class="card-body">
        <div class="row">
            {{ _translations.with_hook(form.translations, prefixes) }}
        </div>
    </div>
</div>
