{% import 'SyliusResourceBundle:Macros:actions.html.twig' as actions %}

<h1>Creating tax rate <small>Use the form below to create new taxation rate</small></h1>
<hr />

<form action="{{ path('sylius_tax_rate_create') }}" method="post" class="form-horizontal" novalidate>
    {% include 'SyliusTaxationBundle:TaxRate:_form.html.twig' %}
    {{ actions.create(path('sylius_tax_rate_index')) }}
</form>
