<h1>Tax rate details <small>{{ rate.name }}</small></h1>
<hr>
<div class="well">
    <a href="{{ path('sylius_taxation_rate_index') }}" class="btn btn-primary">
        <i class="icon-list-alt"></i> manage tax rates
    </a>
    <a href="{{ path('sylius_taxation_rate_update', {'id': rate.id}) }}" class="btn">
        <i class="icon-pencil"></i> edit
    </a>
    <a href="{{ path('sylius_taxation_rate_delete', {'id': rate.id}) }}" class="btn btn-danger">
        <i class="icon-trash"></i>
    </a>
</div>
