{% import 'SyliusResourceBundle:Macros:actions.html.twig' as actions %}

<h1>Editing tax rate <small>{{ tax_rate.name }}</small></h1>
<hr />

<form action="{{ path('sylius_tax_rate_update', {'id': tax_rate.id}) }}" method="post" class="form-horizontal" novalidate>
    {% include 'SyliusTaxationBundle:TaxRate:_form.html.twig' %}
    {{ actions.update(path('sylius_tax_rate_show', {'id': tax_rate.id})) }}
</form>
