{% set form = hookable_metadata.context.form %}

<div class="card mb-3">
    <div class="card-header">
        <h2 class="card-title">{{ 'sylius.ui.variants'|trans }}</h2>
    </div>
    <div class="card-body">
        {% for variant in form.variants %}
            {% hook 'variants' with { form: variant } %}
        {% endfor %}
    </div>
</div>
