{% set variant = hookable_metadata.context.product|sylius_resolve_variant %}
{% set has_discount = variant|sylius_has_discount({'channel': sylius.channel}) %}
{% set days = sylius.channel.channelPriceHistoryConfig.lowestPriceForDiscountedProductsCheckingPeriod %}
{% set has_lowest_price = variant|sylius_has_lowest_price({'channel': sylius.channel}) %}

<div class="mb-3 pb-1">
    {% hook 'price' with { has_discount, has_lowest_price, days } %}
</div>
