{% set variant = hookable_metadata.context.product|sylius_resolve_variant %}
{% set hasDiscount = variant|sylius_has_discount({'channel': sylius.channel}) %}
{% set days = sylius.channel.channelPriceHistoryConfig.lowestPriceForDiscountedProductsCheckingPeriod %}
{% set hasLowestPrice = variant|sylius_has_lowest_price({'channel': sylius.channel}) %}

<div class="mb-3 pb-1">
    {% hook 'price' with { hasDiscount, hasLowestPrice, days } %}
</div>
