{% extends 'SyliusAddressingBundle::layout.html.twig' %}

{% block content %}

<div class="page-header">
    <h1>{{ "header.create" | trans({}, 'SyliusAddressingBundle') }}</h1>
</div>

<form action="{{ path('sylius_addressing_backend_address_create') }}" method="post">

<div class="actions">
<input type="submit" value="{{ "create" | trans({}, 'SyliusAddressingBundle') }}" class="btn primary large" />
</div>

</form>

{% endblock %}
