{% extends 'SandboxCoreBundle:Backend:layout.html.twig' %}

{% block content %}

<div class="page-header">
    <h1>{{ "header.update" | trans({}, 'SyliusAddressingBundle') }}</h1>
</div>

<form action="{{ path('sylius_addressing_backend_address_update', {'id': address.id}) }}" method="post">

<div class="actions">
<input type="submit" value="{{ "save" | trans({}, 'SyliusAddressingBundle') }}" class="btn primary large" />
</div>

</form>

{% endblock %}
