{% import '@SyliusUi/Macro/headers.html.twig' as headers %}

<div class="ui stackable grid">
    <div class="twelve wide column">
        {{ headers.default('sylius.ui.administrator_status'|trans, 'server') }}
    </div>
</div>
