{%
    set viewOptions = {
    cart: { icon: "adjust", color: "grey" } ,
    cancelled: { icon: "ban", color: "red" } ,
    shipped: { icon: "plane", color: "green" } ,
    ready: { icon: "clock", color: "blue" } ,
    }
%}

{% set value = 'sylius.ui.' ~ state %}

<span class="ui {{ viewOptions[state]['color'] }} label">
    <i class="{{ viewOptions[state]['icon'] }} icon"></i>
    {{ value|trans }}
</span>
