{% form_theme field '@SyliusAdmin/Form/theme.html.twig' %}

{{ form_row(field.products, {'remote_url': path('sylius_admin_ajax_product_by_name_phrase'), 'load_edit_url': path('sylius_admin_ajax_product_by_code')}) }}

<div class="catalog-promotion-form-divider"></div>
