{% set form = hookable_metadata.context.form %}

<div class="mt-5">
    <button type="submit" class="btn btn-primary" {{ sylius_test_html_attribute('add') }}>{{ 'sylius.ui.add'|trans }}</button>
</div>
