{% set main_hook = hook_name(hookable_data.parent_main_hook, 'title_block') %}
{% set fallback_hook = hook_name(hookable_data.parent_fallback_hook, 'title_block') %}

<div class="row g-2 mt-2">
    {% hook [main_hook, fallback_hook] with {
        parent_main_hook: main_hook,
        parent_fallback_hook: fallback_hook,
        metadata: hookable_data.metadata,
        resources: hookable_data.resources,
    } %}
</div>
