<a class="item" href="{{ path('sylius_admin_dashboard') }}" style="padding: 13px 0;">
    <div style="max-width: 90px; margin: 0 auto;">
        {% if use_webpack %}
            <img src="{{ asset('build/admin/images/admin-logo.svg', 'admin') }}" class="ui fluid image">
        {% else %}
            <img src="{{ asset('assets/admin/img/admin-logo.svg') }}" class="ui fluid image">
        {% endif %}
    </div>
</a>
