<div class="item">
    <div class="ui icon inverted transparent input">
        <input class="sylius-admin-menu-search-input" type="text" placeholder="{{ 'sylius.ui.search'|trans }}">
        <i class="search icon"></i>
    </div>
</div>

<div class="sylius-admin-menu">
    {{ knp_menu_render('sylius.admin.main', {'template': '@SyliusUi/Menu/sidebar.html.twig', 'currentClass': 'active'}) }}
</div>
