{% if app.request.attributes.get('_route') != 'sylius_admin_search' %}
    <div class="item">
        <form method="get" action="{{ path('sylius_admin_search') }}">
            <div class="ui transparent left icon input">
                <input type="text" name="terms" autocomplete="off" placeholder="{{ 'sylius.ui.search'|trans }}...">
                <i class="search link icon"></i>
            </div>
        </form>
    </div>
{% endif %}
