<div class="item">
    <form method="get" action="{{ path('sylius_admin_product_index') }}">
        <div class="ui transparent left icon input">
            <input type="text" name="criteria[search][value]" placeholder="{{ 'sylius.ui.search_products'|trans }}...">
            <i class="search link icon"></i>
        </div>
    </form>
</div>
