<div>
    <div>
        <a href="{{ path('sylius_shop_homepage') }}">
            {{ 'sylius.ui.back_to_store'|trans }}
        </a>
    </div>
    <div>
        <button type="submit" {{ sylius_test_html_attribute('next-step') }}>
            {{ 'sylius.ui.next'|trans }}
        </button>
    </div>
</div>
