{% from '@SyliusShop/Shared/icon.html.twig' import icon as icon %}

<div class="col-auto d-lg-none">
    <button class="navbar-toggler btn btn-icon btn-transparent px-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        {{ icon('menu') }}
    </button>
</div>
