{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    <div class="ui hidden divider"></div>

    <div class="ui two column stackable grid" id="reviews">
        {% include '@SyliusShop/Product/_reviews.html.twig' %}
    </div>
{% endblock %}
