<div class="ui fluid vertical menu">
    <div class="header item">My account</div>
    <a class="active item">Dashboard</a>
    <a class="item">Personal information</a>
    <a class="item">Change password</a>
    <a class="item">Order history</a>
    <a class="item">Address book</a>
    <a class="item">My product reviews</a>
</div>
