{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    {% block breadcrumb %}
    {% endblock %}

    <div class="ui stackable grid">
        <div class="four wide column">
            {{ sylius_template_event('sylius.shop.account.layout.menu') }}
        </div>
        <div class="twelve wide column">
            {{ sylius_template_event('sylius.shop.account.layout.before_subcontent') }}

            {% block subcontent %}
            {% endblock %}

            {{ sylius_template_event('sylius.shop.account.layout.after_subcontent') }}
        </div>
    </div>
{% endblock %}
