{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    {% block breadcrumb %}
    {% endblock %}

    <div class="ui stackable grid">
        <div class="four wide column">
            {{ knp_menu_render('sylius.shop.account', {'template': '@SyliusUi/Menu/simple.html.twig'}) }}
        </div>
        <div class="twelve wide column">
            {% block subcontent %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
