{% extends '@SyliusShop/layout.html.twig' %}

{% block content %}
    {% block breadcrumb %}
    {% endblock %}

    <div>
        <div>
            {{ sylius_template_event('sylius.shop.account.layout.menu') }}
        </div>
        <div>
            {% block subcontent %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
