{% from '@SyliusShop/shared/macro/flags.html.twig' import flag %}

<div class="row">
    <div class="col-12 col-sm-4">
        {{ 'sylius.ui.locale'|trans }}
    </div>
    <div class="col" {{ sylius_test_html_attribute('order-locale-name') }}>
        {{ flag(sylius.localeCode|sylius_locale_country) }}
        {{ sylius.localeCode|sylius_locale_name }}
    </div>
</div>
