{% set event_name = _context.event_prefix ~ '.items' %}
{% set resource_event_name = _context.resource_event_prefix ~ '.items' %}

<div class="sylius navbar-nav order-md-last">
    {{ sylius_template_event(event_name, { event_prefix: event_name, resource_event_prefix: resource_event_name }) }}
</div>
