{% from '@SyliusShop/shared/macro/state_label.html.twig' import label %}

{% set shipment = hookable_metadata.context.shipment %}
{% set state = shipment.state %}

<div {{ sylius_test_html_attribute('shipment-state') }}>
    {{ label(state) }}
</div>
