{% for payment in order.payments %}
<div class="ui large icon message">
    <i class="payment icon"></i>
    <div class="content">
        <div class="header" id="payment-method">
            {{ payment.method }}
            {{ payment.state }}
        </div>
        <p>{{ payment.amount|sylius_price(payment.currencyCode, payment.order.exchangeRate) }}</p>
    </div>
</div>
{% endfor %}
