{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{% for payment in order.payments %}
<div class="ui large icon message">
    <i class="payment icon"></i>
    <div class="content">
        <div class="header" id="sylius-payment-method">
            {{ payment.method }}
        </div>
        <p>{{ money.format(payment.amount, payment.currencyCode) }}</p>
    </div>
</div>
{% endfor %}
