{% include '@SyliusShop/Common/Order/_addresses.html.twig' %}
{% include '@SyliusShop/Common/Order/_table.html.twig' %}

<div>
    <div>
        {% include '@SyliusShop/Common/Order/_payments.html.twig' %}
    </div>
    <div>
        {% include '@SyliusShop/Common/Order/_shipments.html.twig' %}
    </div>
</div>
