<?xml version="1.0" encoding="UTF-8"?>

<!--

 This file is part of the Sylius package.

 (c) Paweł Jędrzejewski

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.

-->

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services
                               http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="sylius.menu_builder.admin.main.class">Sylius\Bundle\AdminBundle\Menu\MainMenuBuilder</parameter>
    </parameters>

    <services>
        <service id="sylius.menu_builder.admin.main" class="%sylius.menu_builder.admin.main.class%" parent="sylius.menu_builder">
            <argument type="service" id="sylius.authorization_checker" />
        </service>
        <service id="sylius.menu.admin.main" class="Knp\Menu\MenuItem" factory-service="sylius.menu_builder.admin.main" factory-method="createMenu" scope="request">
            <argument type="service" id="request" />
            <tag name="knp_menu.menu" alias="sylius.admin.main" />
        </service>
    </services>

</container>
