{% import "@SyliusShop/shared/macro/money.html.twig" as money %}

{% set variant = hookable_metadata.context.product|sylius_resolve_variant %}
{% set hasDiscount = hookable_metadata.context.hasDiscount %}

<div class="mb-2">
    <div class="d-flex gap-3 align-items-center">
        <div class="fs-2" {{ sylius_test_html_attribute('product-price', money.calculatePrice(variant)) }}>{{ money.calculatePrice(variant) }}</div>
        <div{% if not hasDiscount %} class="d-none" data-test-product-original-price-hidden{% endif %} {{ sylius_test_html_attribute('product-original-price', money.calculateOriginalPrice(variant)) }}>
            {% if hasDiscount %}<del>{{ money.calculateOriginalPrice(variant) }}</del>{% endif %}
        </div>
    </div>
</div>
