<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/8.5/phpunit.xsd"
         colors="true"
>
    <php>
        <ini name="error_reporting" value="-1" />

        <server name="KERNEL_CLASS" value="Sylius\Bundle\ApiBundle\test\src\AppKernel" />
        <server name="IS_DOCTRINE_ORM_SUPPORTED" value="true" />
        <server name="DATABASE_URL" value="mysql://root@127.0.0.1/sylius_%kernel.environment%" />
        <server name="APP_SECRET" value="EDITME" />
        <server name="JWT_PASSPHRASE" value="ALL_THAT_IS_GOLD_DOES_NOT_GLITTER_NOT_ALL_THOSE_WHO_WANDER_ARE_LOST" />
        <server name="JWT_PUBLIC_KEY" value="%kernel.project_dir%/config/jwt/public-test.pem" />
        <server name="JWT_SECRET_KEY" value="%kernel.project_dir%/config/jwt/private-test.pem" />
    </php>

    <testsuites>
        <testsuite name="SyliusApiBundle Test Suite">
            <directory>./Tests/</directory>
            <directory>./test/tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
