{% set main_hook = hook_name(hookable_data.parent_main_hook, 'scopes_and_actions') %}
{% set fallback_hook = hook_name(hookable_data.parent_fallback_hook, 'scopes_and_actions') %}

<div class="row">
    {% hook [main_hook, fallback_hook] with hookable_data|merge({
        parent_main_hook: main_hook,
        parent_fallback_hook: fallback_hook,
    }) %}
</div>
