{% import '@SyliusAdmin/Shared/Helper/translations.html.twig' as _translations %}

<div class="bg-white mb-3">
    {{ _translations.default(get_hookable_context().form.translations, null, {accordionId: 'catalog-promotion-translations'}) }}
</div>
