{% import '@SyliusShop/shared/buttons.html.twig' as buttons %}

<li>
    {{ buttons.transparent(path('sylius_shop_logout'), 'sylius.ui.logout'|trans, 'mobile-logout-button', null, 'dropdown-item') }}
</li>
