{% import 'SyliusWebBundle:Frontend/Macros:buttons.html.twig' as buttons %}
{% extends 'SyliusWebBundle:Frontend/Account:layout.html.twig' %}

{% block content %}
    <h4>{{ 'sylius.account.order.list'|trans }}</h4>

    {% include "SyliusWebBundle:Frontend/Account:Order/_list.html.twig" %}
{% endblock %}
