{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" type="text/css" />
    <style>
        .img-polaroid { display: none; }
    </style>
{% endblock %}

{% block title %}
    {{ 'sylius.ui.invoice'|trans }} {{ order.number }}
{% endblock %}

{% block header %}
    <h1>{{ 'sylius.ui.invoice'|trans }} {{ order.number }}</h1>
{% endblock %}

{% block main %}
    {% include "SyliusWebBundle:Frontend/Account:Order/_detail.html.twig" %}
{% endblock %}

{% block gallery %}
{% endblock %}

{% block footer %}
{% endblock %}
