{% import "@SyliusShop/shared/macro/money.html.twig" as money %}

{% set order = hookable_metadata.context.order %}
{% set itemsSubtotal = order.getItemsSubtotal() %}

<tr>
    <td class="text-end" colspan="3" {{ sylius_test_html_attribute('subtotal') }}>{{ 'sylius.ui.items_total'|trans }}:</td>
    <td class="text-end">{{ money.convertAndFormat(itemsSubtotal) }}</td>
</tr>
