{% set main_event = _context.main_event ~ '.header' %}
{% set fallback_event = _context.fallback_event ~ '.header' %}

<div class="page-header">
    <div class="container-xl">
        {{ twig_event(
            [main_event, fallback_event],
            _context|merge({
                main_event: main_event,
                fallback_event: fallback_event,
            })
        ) }}
    </div>
</div>
