{% set event_name = event_prefix ~ '.header' %}
{% set resource_event_name = resource_event_prefix ~ '.header' %}

<div class="page-header">
    <div class="container-xl">
        {{ sylius_template_event([resource_event_name, event_name], _context|merge({ event_prefix: event_name, resource_event_prefix: resource_event_name })) }}
    </div>
</div>
