{% set state = order.shippingState %}

<div class="h5 pb-3 mb-3 border-bottom">{{ 'sylius.ui.shipments'|trans }}</div>

{% if state != 'cart' %}
    {% include "@SyliusShop/Shared/order/Label/shipment_state/order_shipment_state.html.twig" %}
{% endif %}
{% for shipment in order.shipments %}
    {% set state = shipment.state %}
    <div>
        <div {{ sylius_test_html_attribute('shipping-method') }}>
            {{ shipment.method }}
        </div>
        {% if state != 'cart' %}
            <div {{ sylius_test_html_attribute('shipment-state') }}>
                {% include "@SyliusShop/Shared/order/Label/shipment_state/single_shipment_state.html.twig" with { 'state': state } %}
            </div>
        {% endif %}
    </div>
{% endfor %}
