<div class="table-responsive">
    <table class="table table-borderless align-middle" {{ sylius_test_html_attribute('order-table') }}>
        <thead>
            {% include '@SyliusShop/Shared/order/table/headers.html.twig' %}
        </thead>
        <tbody>
            {% include '@SyliusShop/Shared/order/table/items.html.twig' %}
        </tbody>
        <tfoot>
            {% include '@SyliusShop/Shared/order/table/totals.html.twig' %}
        </tfoot>
    </table>
</div>
