<div class="middle aligned column">
    <div class="ui right floated buttons">
        {% if definition.actionGroups.main is defined and definition.getActions('main')|length > 0 %}
            {% for action in definition.getActions('main') if action.enabled %}
                {{ sylius_grid_render_action(resources, action, null) }}
            {% endfor %}
        {% endif %}
    </div>
</div>
