{% set product_attribute_name = hookable_metadata.context.product_attribute_name %}
{% set product_attribute_code = hookable_metadata.context.product_attribute_code %}

<div class="tab-icons d-flex align-items-center" style="transform: translateX(1rem)">
    <button
        type="button"
        class="btn btn-sm border-0 shadow-none"
        data-action="live#action:stop"
        data-live-action-param="prevent|removeAttribute"
        data-live-attribute-code-param="{{ product_attribute_code }}"
        {{ sylius_test_html_attribute('attribute-delete-button', product_attribute_name) }}
    >
        <svg xmlns="http://www.w3.org/2000/svg" class="text-muted" width="12" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M18 6l-12 12"></path>
            <path d="M6 6l12 12"></path>
        </svg>
    </button>
</div>
