<h1>Creating prototype <small>Use this form to create new prototype</small></h1>
<hr />

<form action="{{ path('sylius_prototype_create') }}" method="post" class="form-horizontal" novalidate>
    {% include 'SyliusProductBundle:Prototype:_form.html.twig' %}
    <div class="form-actions">
        <input type="submit" value="create prototype" class="btn btn-large btn-primary" />
        <a href="{{ path('sylius_prototype_index') }}" class="btn btn-large">cancel</a>
    </div>
</form>
